<div class='tableauPlaceholder' id='viz1522827157381' style='position: relative'>
  <noscript>
    <a href='#'>
      <img alt='แสดงจำนวนโรงเรียนอาชีวศึกษา' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;K7&#47;K7GF6H9P6&#47;1_rss.png' style='border: none' />
    </a>
  </noscript>
  <object class='tableauViz' style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
    <param name='embed_code_version' value='3' />
    <param name='path' value='shared&#47;K7GF6H9P6' />
    <param name='toolbar' value='yes' />
    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;K7&#47;K7GF6H9P6&#47;1.png' />
    <param name='animate_transition' value='yes' />
    <param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' />
    <param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' />
  </object>
</div>

<script type='text/javascript'>
  var divElement = document.getElementById('viz1522827157381')
  var vizElement = divElement.getElementsByTagName('object')[0]
  vizElement.style.width = '1000px'
  vizElement.style.height = '727px'
  var scriptElement = document.createElement('script')
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'
  vizElement.parentNode.insertBefore(scriptElement, vizElement)
</script>
