<template lang="html">
  <div>
    <navigationbar/>
    <div class="pdleft">
      <v-container>
      <v-layout row dark>
        <v-flex xs12>
          <v-card tile flat color="white">
            <v-card>
              <v-card-title primary-title>
                <v-btn flat icon color="error" @click="goBack()">
                 <v-icon>arrow_back</v-icon>
               </v-btn>
                <p class="title mb-0">Life Insurance Dashboard</p>
              </v-card-title>
              <v-divider></v-divider><br>
              <v-layout row dark>
                <iframe src="/static/embed/Bank/insurance.html" width="100%" height="820"></iframe>
              </v-layout>
            </v-card>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    </div>
  </div>
</template>
<script>
import navigationbar from '../../navigationbar'
export default {
  components: {
    navigationbar
  },
  methods: {
    goBack () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="css">
.pdleft {
  padding-left: 130px;
}
@media only screen and (max-width: 1264px) {
.pdleft {
  padding-left: 0px;
}
}
</style>
