   .menu__content.small-dialog__content.menuable__content__active {
     width: 35% !important;
   }
   /* notsure */
   @media only screen and (min-width: 320px) and (max-width: 480px) {
     .menu__content.small-dialog__content.menuable__content__active {
       width: 100% !important;
     }
   }

   @media only screen and (min-width: 480px) and (max-width: 768px) {
     .menu__content.small-dialog__content.menuable__content__active {
       width: 60% !important;
     }
   }
