<template lang="html">
  <div class="bg">
    <!-- <v-toolbar class="light-blue darken-4" dense dark style="padding-top: 10px; z-index: 3;">
      <v-toolbar-title>INTELLIGIST DASHBOARD</v-toolbar-title>
    </v-toolbar> -->
    <v-layout row class="panel-container">

      <!-- LEFT MENU -->
      <v-flex class="panel-left">
        <v-card tile flat style="min-height: calc(100vh - 48px);" class="elevation-1">
          <!-- TOOLBAR -->
          <v-toolbar color="white" class="elevation-1">
            <v-text-field append-icon="search" label="Search" single-line hide-details v-model="searchCate"></v-text-field>
            <v-tooltip right style="margin-right: 0px !important;" v-if="isAdmin === 'true'">
              <v-btn slot="activator" flat icon color="green" @click="clearDialogAddCate(), dialogAddCate = true">
                <v-icon>add</v-icon>
              </v-btn>
              <span>Add Project</span>
            </v-tooltip>
          </v-toolbar>

          <!-- LIST Category(Project) -->
          <v-list class="listPad">
            <v-subheader v-if="userLevel === '1'" v-text="'My Dashboard'" style="padding: 0 36px;"></v-subheader>
            <v-list-group v-for="(obj, i) in categoriesList" v-bind:key="i" :value="categoriesList[i].active">
              <v-list-tile slot="item" @mouseover="hover = true, hoverCate(categoriesList[i]), cateHoverStyle = {'margin-left': '-20px', 'padding-left': '48px'}" @mouseleave="hover = false, cateHoverStyle = {'margin-left': '-125px'}">
                <v-subheader v-if="userLevel === '1' && categoriesList[i].categories_id === 'XX'" v-text="'Other User Dashboard'" style="padding: 0 20px; background: rgba(0,0,0,0); pointer: default"></v-subheader>
                <v-list-tile-content v-if="categoriesList[i].categories_id !== 'XX'">
                  <!-- {{ categoriesList[i].categories_id }} -->
                  <div @click.stop="" v-if="isAdmin === 'true' && userID.toString() === categoriesList[i].owner">
                    <v-edit-dialog
                      @open="cateName = categoriesList[i].categories_name"
                      @save="categoriesList[i].categories_name = cateName, updateCategoryName(categoriesList[i]) || categoriesList[i].categories_name"
                      large lazy>
                        <v-list-tile-title>
                          {{ categoriesList[i].categories_name + " (" + categoriesList[i].dashboard_data.length + ")" }}
                        </v-list-tile-title>
                      <div slot="input" class="mt-3 body-2">Update Project Name</div>
                      <v-text-field slot="input" label="Edit" v-model="cateName" single-line autofocus></v-text-field>
                    </v-edit-dialog>
                  </div>
                  <v-list-tile-title v-else>
                    {{ categoriesList[i].categories_name + " (" + categoriesList[i].dashboard_data.length + ")" }}
                  </v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action v-if="categoriesList[i].categories_id !== 'XX' && isAdmin === 'true' && userID.toString() === categoriesList[i].owner" @click.stop="" :style="cateHoverStyle">
                  <v-tooltip top>
                    <v-btn slot="activator" flat icon color="primary" v-if="hover && categoriesList[i].categories_id === selectedCate"
                      @click.stop="dialogAddDash = true, categoriesName = categoriesList[i].categories_name">
                      <v-icon>add</v-icon>
                    </v-btn>
                    <span>Add Dashboard</span>
                  </v-tooltip>
                </v-list-tile-action>
                <v-list-tile-action v-if="categoriesList[i].categories_id !== 'XX' && isAdmin === 'true' && userID.toString() === categoriesList[i].owner" @click.stop=""  style="margin-left: -20px;">
                  <v-tooltip top>
                    <v-btn slot="activator" flat icon color="primary" v-if="hover && categoriesList[i].categories_id === selectedCate"
                      @click.stop="CatePermisson(categoriesList[i])">
                      <v-icon>group</v-icon>
                    </v-btn>
                    <span>Project Permission</span>
                  </v-tooltip>
                </v-list-tile-action>
                <v-list-tile-action v-if="categoriesList[i].categories_id !== 'XX' && isAdmin === 'true' && userID.toString() === categoriesList[i].owner" @click.stop=""  style="margin-left: -20px;">
                  <v-tooltip top>
                    <v-btn slot="activator" flat icon mini color="red" v-if="hover && categoriesList[i].categories_id === selectedCate"
                      @click.stop="deleteCate(categoriesList[i])">
                      <v-icon>delete</v-icon>
                    </v-btn>
                    <span>Delete Project</span>
                  </v-tooltip>
                </v-list-tile-action>
                <v-list-tile-action v-if="categoriesList[i].categories_id !== 'XX'" style="margin-left: -20px;">
                  <v-icon>keyboard_arrow_down</v-icon>
                </v-list-tile-action>
              </v-list-tile>

              <!-- LIST DASHBOARD -->
              <v-list-tile v-for="j in categoriesList[i].dashboard_data.length" :key="j" @click="viewDashboard(categoriesList[i].dashboard_data[j-1])" @mouseover="hoverDash = true, hoverDashboard(categoriesList[i].dashboard_data[j-1].dashboard_id)" @mouseleave="(notCloseFlag === true) ? hoverDash = true : hoverDash = false">
                <v-list-tile-content style="margin-left: -40px !important;">
                  <v-list-tile-title>
                    {{ categoriesList[i].dashboard_data[j-1].dashboard_name }}
                  </v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action v-if="isAdmin === 'true' && userID.toString() === categoriesList[i].owner" @click.stop="" style="margin-left: -20px;">
                  <v-tooltip top>
                    <v-btn slot="activator" flat icon color="green" v-if="hoverDash && categoriesList[i].dashboard_data[j-1].dashboard_id === selectedDash"
                    @click.stop="notCloseFlag = true, editDashboard(categoriesList[i].dashboard_data[j-1], categoriesList[i].categories_id)">
                    <v-icon>edit</v-icon>
                  </v-btn>
                    <span>Edit Dashboard Name</span>
                  </v-tooltip>
                  <!-- <v-tooltip top>
                    <v-btn slot="activator" flat icon color="green"
                      v-if="hoverDash && categoriesList[i].dashboard_data[j-1].dashboard_id === selectedDash"
                      @click.stop="notCloseFlag = true">
                      <v-edit-dialog
                        @open="dashName = categoriesList[i].dashboard_data[j-1].dashboard_name"
                        @save="hoverDash = false, notCloseFlag = false, categoriesList[i].dashboard_data[j-1].dashboard_name = dashName, categoriesList[i].dashboard_data[j-1].categories_id = categoriesList[i].categories_id, updateDashboardName(categoriesList[i].dashboard_data[j-1]) || categoriesList[i].dashboard_data[j-1].dashboard_name"
                        @close="hoverDash = false, notCloseFlag = false"
                        @cancel="hoverDash = false, notCloseFlag = false"
                        large lazy>
                          <v-icon color="green">edit</v-icon>
                        <div slot="input" class="mt-3 body-2">Update Dashboard Name</div>
                        <v-text-field slot="input" label="Edit" v-model="dashName" single-line autofocus></v-text-field>
                      </v-edit-dialog>
                    </v-btn><span>Edit Dashboard Name</span>
                  </v-tooltip> -->
                </v-list-tile-action>
                <v-list-tile-action v-if="isAdmin === 'true' && userID.toString() === categoriesList[i].owner" @click.stop="" style="margin-left: -20px;">
                  <v-tooltip top>
                    <v-btn slot="activator" flat icon color="primary" v-if="hoverDash && categoriesList[i].dashboard_data[j-1].dashboard_id === selectedDash"
                      @click.stop="DashPermisson(categoriesList[i].dashboard_data[j-1])">
                      <v-icon>group</v-icon>
                    </v-btn>
                    <span>Dashboard Permission</span>
                  </v-tooltip>
                </v-list-tile-action>
                <v-list-tile-action v-if="isAdmin === 'true' && userID.toString() === categoriesList[i].owner" @click.stop="" style="margin-left: -20px;">
                  <v-tooltip top>
                    <v-btn slot="activator" flat icon color="red" v-if="hoverDash && categoriesList[i].dashboard_data[j-1].dashboard_id === selectedDash"
                      @click.stop="deleteDash(categoriesList[i].dashboard_data[j-1])">
                      <v-icon>delete</v-icon>
                    </v-btn>
                    <span>Delete Dashboard</span>
                  </v-tooltip>
                </v-list-tile-action>
              </v-list-tile>
            </v-list-group>
          </v-list>

          <!-- ADD Project -->
          <v-layout row justify-center>
            <v-dialog v-model="dialogAddCate" max-width="700px">
              <v-card>
                <v-toolbar class="blueIntel white--text" dark>
                  <v-toolbar-title>Add Project</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click.native="clearDialogAddCate()" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-divider></v-divider>
                  <v-container grid-list-md class="pl-3 pr-3">
                    <v-form v-model="AddCateValid" ref="AddCateForm" lazy-validation>
                      <v-layout wrap>
                        <v-flex xs12 sm12 md12>
                          <v-text-field ref="addCateNameField" @keydown.enter.prevent="addNewCategory()" label="Project Name" v-model="addCateName" :rules="addCateNameRules" required></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click="addNewCategory()" color="green" outline flat :disabled="!AddCateValid">Save</v-btn>
                      </v-card-actions>
                    </v-form>
                  </v-container>
              </v-card>
            </v-dialog>
          </v-layout>

          <!-- ADD Dashboard -->
          <v-layout row justify-center>
            <v-dialog v-model="dialogAddDash" max-width="700px">
              <v-card>
                <v-toolbar class="blueIntel white--text" dark>
                  <v-toolbar-title>Add Dashboard to "{{categoriesName}}"</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click.native="clearDialogAddDash()" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-divider></v-divider>
                <v-container grid-list-md class="pl-3 pr-3">
                  <v-form v-model="AddDashValid" ref="AddDashForm" lazy-validation>
                    <v-layout wrap>
                      <v-flex xs12 sm12 md12>
                        <v-text-field label="Dashboard Name" v-model="addDashboardName" :rules="addDashboardNameRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm12 md12>
                        <v-text-field @keyup.enter="addNewDashboard()" label="Link" v-model="addDashboardLink" :rules="addDashboardLinkRules" required></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn @click="addNewDashboard()" color="green" outline flat :disabled="!AddDashValid">Save</v-btn>
                    </v-card-actions>
                  </v-form>
                </v-container>
              </v-card>
            </v-dialog>
          </v-layout>

          <!-- <v-layout row justify-center>
            <v-dialog v-model="dialogRenameCate" max-width="700px">
              <v-card>
                <v-toolbar class="blueIntel white--text" dark>
                  <v-toolbar-title>Rename Category</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click.native="clearDialogAddCate()" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-divider></v-divider>
                  <v-container grid-list-md class="pl-3 pr-3">
                    <v-form v-model="AddCateValid" ref="AddCateForm" lazy-validation>
                      <v-layout wrap>
                        <v-flex xs12 sm12 md12>
                          <v-text-field ref="addCateNameField" @keydown.enter.prevent="addNewCategory()" label="Project Name" v-model="addCateName" :rules="addCateNameRules" required></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click="addNewCategory()" color="green" outline flat :disabled="!AddCateValid">Save</v-btn>
                      </v-card-actions>
                    </v-form>
                  </v-container>
              </v-card>
            </v-dialog>
          </v-layout> -->

          <!-- EDIT Dashboard name and Link -->
          <v-layout row justify-center>
            <v-dialog v-model="dialogEditDashName" max-width="700px" persistent>
              <v-card>
                <v-toolbar class="blueIntel white--text" dark>
                  <v-toolbar-title>Update Dashboard Name And Link Dashboard</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click.native="hoverDash = false, notCloseFlag = false, dialogEditDashName = false" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-divider></v-divider>
                  <v-container grid-list-md class="pl-4 pr-4 pt-4">
                    <v-form v-model="EditDashNameValid" ref="EditDashForm" lazy-validation>
                      <v-layout wrap>
                        <v-flex xs12 sm12 md12>
                          <v-text-field ref="" @keydown.enter.prevent="" v-model="dashboardNameUpdate" label="Dashboard name" :rules="dashboardNameUpdateRules" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm12 md12>
                          <v-text-field ref="" @keydown.enter.prevent="" v-model="linkDashUpdate" label="Link dashboard" :rules="linkDashUpdateRules" required></v-text-field>
                        </v-flex>
                      </v-layout>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click="hoverDash = false, notCloseFlag = false, updateDashboardName()"
                        color="green" outline flat :disabled="!EditDashNameValid">Save</v-btn>
                      </v-card-actions>
                    </v-form>
                  </v-container>
              </v-card>
            </v-dialog>
          </v-layout>

          <!-- PERM Project -->
          <v-layout row justify-center>
            <v-dialog v-model="dialogCatePermisson" max-width="700px" scrollable>
              <v-card>
                <v-toolbar class="blueIntel white--text" dark style="z-index: 1">
                  <v-toolbar-title>Project Permission in "{{ categoriesName }}"</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click.native="dialogCatePermisson = false, clearDialogCatePerm()" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-divider></v-divider>
                <v-card-text style="height: 350px">
                  <v-container grid-list-md class="pl-3 pr-3">
                    <v-layout wrap>
                      <v-flex xs12 sm12 md12>
                        <div class="card--flex-toolbar">
                          <v-toolbar card color="white" dense>
                            <v-toolbar-title class="body-2">{{ countUserCatePerm }}</v-toolbar-title>
                            <v-toolbar-title class="body-2">USERS ASSIGNED</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-tooltip left>
                              <v-btn slot="activator" color="green" flat icon @click="cateMode = 'add'" v-show="cateMode === 'edit'">
                                <v-icon color="green">add</v-icon>
                              </v-btn>
                              <span>Add Users</span>
                            </v-tooltip>
                            <v-tooltip left>
                              <v-btn slot="activator" color="red" flat icon @click="cateMode = 'edit'" v-show="cateMode === 'add'">
                                <v-icon color="red">remove</v-icon>
                              </v-btn>
                              <span>Remove Users</span>
                            </v-tooltip>
                          </v-toolbar>
                          <v-divider></v-divider>
                          <div v-show="cateMode === 'edit'">
                            <div class="pl-3 pr-3">
                              <v-text-field append-icon="search" label="Search" single-line v-model="searchUserInCate"></v-text-field>
                            </div>
                            <v-data-table
                              :items="userInCate"
                              v-bind:search="searchUserInCate"
                              hide-actions
                              hide-headers>
                              <template slot="items" slot-scope="props">
                                <td width="95%"> {{ props.item.name }} </td>
                                <td width="5%">
                                  <v-btn v-if="OwnPermID.toString() !== props.item.user_id.toString()" slot="activator" color="grey" small flat icon @click="removeUserFromCate(props.item)">
                                    <v-icon color="red">remove</v-icon>
                                  </v-btn>
                                  <v-btn v-else slot="activator" color="grey" small flat icon disabled>
                                    <v-icon color="grey">lock</v-icon>
                                  </v-btn>
                                </td>
                              </template>
                            </v-data-table>
                          </div>
                          <div v-show="cateMode === 'add'">
                            <div class="pl-3 pr-3">
                              <v-text-field append-icon="search" label="Search" single-line v-model="searchUserOutCate"></v-text-field>
                            </div>
                            <v-data-table
                              :items="userOutCate"
                              v-bind:search="searchUserOutCate"
                              hide-actions
                              hide-headers>
                              <template slot="items" slot-scope="props">
                                <td width="95%"> {{ props.item.name }} </td>
                                <td width="5%">
                                  <v-btn slot="activator" color="grey" small flat icon @click="addUsertoCate(props.item)">
                                    <v-icon color="green">add</v-icon>
                                  </v-btn>
                                </td>
                              </template>
                            </v-data-table>
                          </div>
                        </div>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn @click="saveCatePerm()" color="green" outline flat :disabled="!valid">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-layout>

          <!-- PERM Dashboard -->
          <v-layout row justify-center>
            <v-dialog v-model="dialogDashPermisson" max-width="700px" scrollable>
              <v-card>
                <v-toolbar class="blueIntel white--text" dark style="z-index: 1">
                  <v-toolbar-title>Dashboard Permission in "{{dashboardName}}"</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click.native="dialogDashPermisson = false, clearDialogDashPerm()" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-divider></v-divider>
                <v-card-text style="height: 350px">
                  <v-container grid-list-md class="pl-3 pr-3">
                    <v-layout wrap>
                      <v-flex xs12 sm12 md12>
                        <div class="card--flex-toolbar">
                          <v-toolbar card color="white" dense>
                            <v-toolbar-title class="body-2">{{ countUserDashPerm }}</v-toolbar-title>
                            <v-toolbar-title class="body-2">USERS ASSIGNED</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-tooltip left>
                              <v-btn slot="activator" color="green" flat icon @click="dashMode = 'add'" v-show="dashMode === 'edit'">
                                <v-icon color="green">add</v-icon>
                              </v-btn>
                              <span>Add Users</span>
                            </v-tooltip>
                            <v-tooltip left>
                              <v-btn slot="activator" color="red" flat icon @click="dashMode = 'edit'" v-show="dashMode === 'add'">
                                <v-icon color="red">remove</v-icon>
                              </v-btn>
                              <span>Remove Users</span>
                            </v-tooltip>
                          </v-toolbar>
                          <v-divider></v-divider>
                          <div v-show="dashMode === 'edit'">
                            <div class="pl-3 pr-3">
                              <v-text-field append-icon="search" label="Search" single-line v-model="searchUserInDash"></v-text-field>
                            </div>
                            <v-data-table
                              :items="userInDash"
                              v-bind:search="searchUserInDash"
                              hide-actions
                              hide-headers>
                              <template slot="items" slot-scope="props">
                                <td width="95%"> {{ props.item.name }} </td>
                                <td width="5%">
                                  <v-btn v-if="OwnPermID.toString() !== props.item.user_id.toString()" slot="activator" color="grey" small flat icon @click="removeUserFromDash(props.item)">
                                    <v-icon color="red">remove</v-icon>
                                  </v-btn>
                                  <v-btn v-else slot="activator" color="grey" small flat icon disabled>
                                    <v-icon color="grey">lock</v-icon>
                                  </v-btn>
                                </td>
                              </template>
                            </v-data-table>
                          </div>
                          <div v-show="dashMode === 'add'">
                            <div class="pl-3 pr-3">
                              <v-text-field append-icon="search" label="Search" single-line v-model="searchUserOutDash"></v-text-field>
                            </div>
                            <v-data-table
                              :items="userOutDash"
                              v-bind:search="searchUserOutDash"
                              hide-actions
                              hide-headers>
                              <template slot="items" slot-scope="props">
                                <td width="95%"> {{ props.item.name }} </td>
                                <td width="5%">
                                  <v-btn slot="activator" color="grey" small flat icon @click="addUsertoDash(props.item)">
                                    <v-icon color="green">add</v-icon>
                                  </v-btn>
                                </td>
                              </template>
                            </v-data-table>
                          </div>
                        </div>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn @click="saveDashPerm()" color="green" outline flat :disabled="!valid">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-layout>
        </v-card>
      </v-flex>

      <!-- SPLITTER -->
      <v-flex class="splitter">
      </v-flex>

      <!-- RIGHT CONTENTS -->
      <v-flex class="panel-right">
        <v-card v-if="selectedDashName !== ''" tile flat class="mt-3 ml-3 mr-3 mb-3 elevation-1 fullscreenClass" :style="cardContent">
          <v-card-title primary-title>
            <p class="title" style="margin-bottom: 0px">{{ selectedDashName }}</p>
            <v-spacer></v-spacer>
            <v-tooltip left>
              <v-btn flat icon ripple color="grey" slot="activator" @click.stop="helpDialog = !helpDialog">
                <v-icon>help_outline</v-icon>
              </v-btn>
              <span>Help</span>
            </v-tooltip>
            <v-tooltip left>
              <v-btn flat icon ripple color="blue" slot="activator" @click="fullscreenToggle()">
                <v-icon v-if="fullscreen === false">fullscreen</v-icon>
                <v-icon v-else>fullscreen_exit</v-icon>
              </v-btn>
              <span>Fullscreen</span>
            </v-tooltip>
          </v-card-title>
          <v-divider></v-divider>

          <iframe v-if="selectedLink.startsWith('http')" v-bind:src="selectedLink" width="100%" height="85%" frameBorder="0" style="padding: 10px;" id="linkiFrame" ref="linkiFrame"><p>Your browser does not support iframes.</p></iframe>
          <div v-else id="resulter" ref="resulter"></div>

        </v-card>
      </v-flex>

      <v-dialog v-model="helpDialog" max-width="500px">
        <v-card>
          <v-toolbar style="flex: 0 0 auto;" dark class="primary">
            <v-toolbar-title>Help</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click.native="helpDialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
          </v-toolbar>
          <v-card-text>
            Some links can't be opened because of the <a href="https://www.owasp.org/index.php/Clickjacking" target="_blank">Clickjacking</a> security issue but you can try to use 'Embed Code' instead, for more information please check out: <a href="https://www.owasp.org/index.php/Clickjacking" target="_blank">https://www.owasp.org/index.php/Clickjacking</a>
            <br /> <br />for Tableau server please check out: <a href="http://onlinehelp.tableau.com/current/server/en-us/clickjack_protection.htm" target="_blank">http://onlinehelp.tableau.com/current/server/en-us/clickjack_protection.htm</a>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" flat @click.stop="helpDialog=false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-layout>
  </div>
</template>

<script>
export default {
  props: ['test'],
  data () {
    return {
      isAdmin: false,
      fullscreen: false,
      hover: false,
      hoverDash: false,
      valid: true,
      searchCate: '',
      selectedCate: '',
      selectedDash: '',
      selectedDashName: '',
      orinalScreen: '',
      helpDialog: false,
      selectedLink: '',
      dialogAddCate: false,
      dialogAddDash: false,
      AddCateValid: true,
      AddDashValid: true,
      addCateName: '',
      addCateNameRules: [(v) => !!v || 'Category name is required'],
      addDashboardName: '',
      addDashboardLink: '',
      addDashboardNameRules: [(v) => !!v || 'Dashboard name is required'],
      addDashboardLinkRules: [(v) => !!v || 'Link is required'],
      dialogCatePermisson: false,
      dialogDashPermisson: false,
      cateMode: 'edit',
      dashMode: 'edit',
      countUserCatePerm: 0,
      countUserDashPerm: 0,
      userLevel: '',
      userID: '',
      userInCate: [],
      userOutCate: [],
      userInDash: [],
      userOutDash: [],
      searchUserInCate: '',
      searchUserOutCate: '',
      searchUserInDash: '',
      searchUserOutDash: '',
      categoriesID: '',
      dashboardID: '',
      dashboardName: '',
      categoriesName: '',
      OwnPermID: '',
      cateName: '',
      dashName: '',
      notCloseFlag: false,
      userListAll: [],
      categoriesListOriginal: [],
      categoriesList: [],
      cateHoverStyle: {'margin-left': '-125px'},
      cardContent: {'height': 'calc(100vh - 32px - 48px)'},
      dialogEditDashName: false,
      EditDashNameValid: true,
      dashboardNameUpdate: '',
      linkDashUpdate: '',
      dashboardNameUpdateRules: [(v) => !!v || 'Dashboard name is required'],
      linkDashUpdateRules: [(v) => !!v || 'Link is required'],
      dialogRenameCate: false
    }
  },
  created () {
    this.checkAdmin()
    this.getUID()
    this.getDashboardList()
  },
  watch: {
    searchCate (val) {
      this.categoriesList = this.sortWithMeFirst(this.categoriesListOriginal)
      this.categoriesList = this.categoriesList.filter(function (category) {
        var flag = false
        for (var i = 0; i < category.dashboard_data.length; i++) {
          if (category.dashboard_data[i].dashboard_name.toLowerCase().indexOf(val.toLowerCase()) >= 0) {
            flag = true
          }
        }
        return category.categories_name.toLowerCase().indexOf(val.toLowerCase()) >= 0 || flag || category.categories_id === 'XX'
      })
    },
    dialogAddCate (val) {
      !val && this.clearDialogAddCate()
    },
    dialogAddDash (val) {
      !val && this.clearDialogAddDash()
    }
  },
  mounted () {
    $('.panel-left').resizable({
      handleSelector: '.splitter',
      resizeHeight: false
    })
  },
  methods: {
    checkAdmin () {
      this.isAdmin = localStorage.getItem('isAdmin')
      this.axios.post(process.env.API + '/mgmt/getUserLevel',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data.result) {
            var userLevel = response.data.result
            if (userLevel === '1' || userLevel === '2') {
              this.isAdmin = 'true'
            } else {
              this.isAdmin = 'false'
            }
          }
        })
    },
    getUID () {
      this.axios.post(process.env.API + '/mgmt/getUID',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data.result) {
            this.userID = response.data.result
          }
        })
    },
    fullscreenToggle () {
      // this.$el.querySelector('.fullscreenClass')
      // this.$refs['fullscreenClass']
      this.$fullscreen.toggle(this.$el.querySelector('.fullscreenClass'), {
        wrap: false,
        callback: this.fullscreenChange
      })
    },
    fullscreenChange (fullscreen) {
      this.fullscreen = fullscreen
      if (!this.selectedLink.startsWith('http')) {
        if (this.fullscreen === true) {
          this.cardContent = {'height': '100%', 'width': '100%'}
          this.selectedLink = this.orinalScreen + '<style>.tableauPlaceholder {width:100% !important; height: calc(100vh - 88px) !important; padding: 10px !important;} .tableauViz {width: 100% !important; height: 100% !important}</style>'
        } else {
          this.cardContent = {'height': 'calc(100vh - 32px - 48px)'}
          this.selectedLink = this.orinalScreen + '<style>.tableauPlaceholder {width:100% !important; height: calc(100vh - 32px - 48px - 88px) !important; padding: 10px !important;} .tableauViz {width: 100% !important; height: 100% !important}</style>'
        }
        $('#resulter').html(this.selectedLink)
      } else {
        if (this.fullscreen === true) {
          this.cardContent = {'height': '100%', 'width': '100%'}
        } else {
          this.cardContent = {'height': 'calc(100vh - 32px - 48px)'}
        }
      }
    },
    viewDashboard (dashObj) {
      // console.log(dashObj)
      // console.log('http://203.154.135.78/views/iNETDashboard/INETDashboard?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no')
      this.selectedDashName = dashObj.dashboard_name
      if (dashObj.link.startsWith('http')) {
        this.selectedLink = dashObj.link + '?:embed=y'
      } else {
        this.orinalScreen = dashObj.link.split('\\\'').join('"').split('\\"').join('"')
        this.selectedLink = this.orinalScreen + '<style>.tableauPlaceholder {width:100% !important; height: calc(100vh - 32px - 48px - 88px) !important; padding: 10px !important;} .tableauViz {width: 100% !important; height: 100% !important}</style>'
        this.$nextTick(() => {
          $('#resulter').html(this.selectedLink)
        })
      }
    },
    getDashboardList () {
      this.axios.post(process.env.API + '/getDashboardList',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data.userLevel) {
            this.userLevel = response.data.userLevel
          }
          if (response.data.result) {
            this.categoriesListOriginal = response.data.result
            this.categoriesList = this.sortWithMeFirst(this.categoriesListOriginal)
            if (this.categoriesList.length > 0) {
              for (var i = 0; i < this.categoriesList.length; i++) {
                this.categoriesListOriginal[i]['active'] = false
                this.categoriesList[i]['active'] = false
                this.categoriesList[i].categories_name = this.categoriesList[i].categories_name.split('\\\'').join('\'').split('\\"').join('"')
                // for (var j = 0; j < this.categoriesList[i].dashboard_data.length; j++) {
                //   this.dashboardName[i] = this.categoriesList[i].dashboard_data[j].dashboard_name
                // }
              }
              // this.categoriesList[0]['active'] = true // Enable if want to open First menu auto
            }
          }
        })
    },
    naturalSorting (as, bs) {
      var a = null
      var b = null
      var a1 = null
      var b1 = null
      var rx = /(\d+)|(\D+)/g
      var rd = /\d/
      var rz = /^0/
      if (typeof as === 'number' || typeof bs === 'number') {
        if (isNaN(as)) return 1
        if (isNaN(bs)) return -1
        return as.dashboard_name - bs.dashboard_name
      }
      a = String(as.dashboard_name).toLowerCase()
      b = String(bs.dashboard_name).toLowerCase()
      if (a === b) return 0
      if (!(rd.test(a) && rd.test(b))) return a > b ? 1 : -1
      a = a.match(rx)
      b = b.match(rx)
      while (a.length && b.length) {
        a1 = a.shift()
        b1 = b.shift()
        if (a1 !== b1) {
          if (rd.test(a1) && rd.test(b1)) {
            return a1.replace(rz, '.0') - b1.replace(rz, '.0')
          } else return a1 > b1 ? 1 : -1
        }
      }
      return a.length - b.length
    },
    sortWithMeFirst (original) {
      var justMe = this._.sortBy(this._.filter(original, {'owner': this.userID}), ['categories_name', 'categories_id'])

      // SortBy Technic => A, A, a, B, b, C
      for (var i = 0; i < justMe.length; i++) {
        justMe[i]['dashboard_data'] = this._.sortBy(this._.sortBy(justMe[i]['dashboard_data'], ['dashboard_name', 'dashboard_id']), [function (e) {
          return e.dashboard_name.toLowerCase()
        }]).sort(this.naturalSorting)
      }

      var notJustMe = original.filter(e => justMe.indexOf(e) < 0)
      var cateSorted = this._.sortBy(notJustMe, ['owner', 'category_name'])
      var dummyList = []
      if (this.userLevel === '1') {
        dummyList = [{'active': false, 'categories_id': 'XX', 'categories_name': '', 'dashboard_data': [], 'owner': this.userID, 'userInCate': []}]
      }
      return this._.concat(justMe, dummyList, cateSorted)
    },
    getUser () {
      this.axios.post(process.env.API + '/getOwnWithOtherUser',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data.result) {
            var respUserList = response.data.result
            for (var i = 0; i < respUserList.length; i++) {
              respUserList[i]['name'] = respUserList[i]['firstname'] + ' ' + respUserList[i]['lastname']
            }
            this.userListAll = respUserList
            this.userListAll = this.userListAll.filter(function (user) {
              return user['name'] !== ' ' && user['name'] !== ''
            })
            // console.log(this.userListAll)

            var selectedCateUser = this.userInCate.map(user => '' + user['user_id'])
            this.userOutCate = this.userListAll.filter(function (user) {
              var uid = '' + user['user_id']
              return selectedCateUser.indexOf(uid) < 0
            })
            var selectedDashUser = this.userInDash.map(user => '' + user['user_id'])
            this.userOutDash = this.userListAll.filter(function (user) {
              var uid = '' + user['user_id']
              return selectedDashUser.indexOf(uid) < 0
            })
          } else {
            this.userListAll = []
            this.userOutCate = []
            this.userOutDash = []
          }
        })
    },
    hoverCate (cateObj) {
      this.selectedCate = cateObj['categories_id']
      if (this.selectedCate === 'XX') {
        this.hover = false
      }
    },
    hoverDashboard (id) {
      if (this.notCloseFlag !== true) {
        this.selectedDash = id // เดี๋ยวจะส่งมาแบบ obj แล้วเอา key id
      }
    },
    addNewCategory () {
      if (this.$refs.AddCateForm.validate()) {
        this.axios.post(process.env.API + '/addCategory',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'category_name': this.addCateName
          }).then((response) => {
            if (response.data.result === 'success') {
              // this.$swal({
              //   type: 'success',
              //   title: 'Success',
              //   showConfirmButton: false,
              //   timer: 800
              // })
            } else {
              this.$swal({
                type: 'error',
                title: response.data.result,
                showConfirmButton: false,
                timer: 1000
              })
              console.log('add category error')
            }
            this.getDashboardList()
            this.clearDialogAddCate()
          })
      }
    },
    updateCategoryName (cateObj) {
      this.axios.post(process.env.API + '/editCategory',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          },
          'category_info': {
            'category_id': cateObj.categories_id,
            'category_name': cateObj.categories_name
          }
        }).then((response) => {
          if (response.data.result) {
            // console.log(response.data.result)
          } else {
            console.log('update category name Error')
          }
          // this.getDashboardList()
        })
    },
    deleteCate (cateObj) {
      var me = this
      this.$swal({
        title: 'Are you sure to remove "' + cateObj.categories_name + '"?',
        text: 'Warning, You would not be able to revert this!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(function (result) {
        me.axios.post(process.env.API + '/removeCategory',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'category_id': cateObj.categories_id
          }).then((response) => {
            if (response.data.result === 'success') {
              // console.log(response.data.result)
              me.$swal({
                type: 'success',
                title: 'Deleted',
                showConfirmButton: false,
                timer: 800
              })
            } else {
              me.$swal({
                type: 'error',
                title: response.data.result,
                showConfirmButton: false,
                timer: 1000
              })
              console.log('remove category error')
            }
            me.getDashboardList()
          })
      })
    },
    clearDialogAddCate () {
      this.$refs.AddCateForm.reset()
      this.dialogAddCate = false
    },
    addNewDashboard () {
      if (this.$refs.AddDashForm.validate()) {
        this.axios.post(process.env.API + '/addDashboard',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'dashboard_info': {
              'dashboard_name': this.addDashboardName,
              'link': this.addDashboardLink,
              'categories_id': this.selectedCate
            }
          }).then((response) => {
            if (response.data.result === 'success') {
              // console.log(response.data.result)
              // this.$swal({
              //   type: 'success',
              //   title: 'Success',
              //   showConfirmButton: false,
              //   timer: 800
              // })
            } else {
              this.$swal({
                type: 'error',
                title: response.data.result,
                showConfirmButton: false,
                timer: 1000
              })
              console.log('add dashboard error')
            }
            this.getDashboardList()
            this.clearDialogAddDash()
            // this.getDashboardList()
          })
      }
    },
    editDashboard (dashData, catID) {
      this.dialogEditDashName = true
      this.dashboard_id = dashData.dashboard_id
      this.dashboardNameUpdate = dashData.dashboard_name
      this.linkDashUpdate = dashData.link
      this.categories_id = catID
    },
    updateDashboardName () {
      this.axios.post(process.env.API + '/editDashboard',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          },
          'dashboard_info': {
            'dashboard_id': this.dashboard_id,
            'dashboard_name': this.dashboardNameUpdate,
            'link': this.linkDashUpdate,
            'categories_id': this.categories_id
          }
        }).then((response) => {
          if (response.data.result) {
            this.$swal({
              type: 'success',
              title: 'Data is changed',
              showConfirmButton: false,
              timer: 1200
            })
            this.dialogEditDashName = false
            // this.$refs.EditDashForm.reset()
            this.getDashboardList()
          } else {
            console.log('update dashboard name Error')
          }
          // this.getDashboardList()
        })
    },
    deleteDash (dashObj) {
      var me = this
      this.$swal({
        title: 'Are you sure to remove "' + dashObj.dashboard_name + '"?',
        text: 'Warning, You would not be able to revert this!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(function (result) {
        me.axios.post(process.env.API + '/removeDashboard',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'dashboard_id': dashObj.dashboard_id
          }).then((response) => {
            if (response.data.result === 'success') {
              // console.log(response.data.result)
              me.$swal({
                type: 'success',
                title: 'Deleted',
                showConfirmButton: false,
                timer: 800
              })
            } else {
              me.$swal({
                type: 'error',
                title: response.data.result,
                showConfirmButton: false,
                timer: 1000
              })
              console.log('remove dashboard error')
            }
            me.getDashboardList()
          })
      })
    },
    clearDialogAddDash () {
      this.$refs.AddDashForm.reset()
      this.addDashboardName = ''
      this.addDashboardLink = ''
      this.dialogAddDash = false
    },
    CatePermisson (data) {
      this.getUser()
      this.cateMode = 'edit'
      this.OwnPermID = data.owner
      this.userInCate = data.userInCate
      this.countUserCatePerm = this.userInCate.length
      for (var i = 0; i < this.userInCate.length; i++) {
        this.userInCate[i]['name'] = this.userInCate[i]['firstname'] + ' ' + this.userInCate[i]['lastname']
      }
      this.dialogCatePermisson = true
      this.categoriesID = data.categories_id
      this.categoriesName = data.categories_name
    },
    DashPermisson (data) {
      this.getUser()
      this.dashMode = 'edit'
      this.OwnPermID = data.owner
      this.userInDash = data.userInDash
      this.countUserDashPerm = this.userInDash.length
      for (var i = 0; i < this.userInDash.length; i++) {
        this.userInDash[i]['name'] = this.userInDash[i]['firstname'] + ' ' + this.userInDash[i]['lastname']
      }
      this.dialogDashPermisson = true
      this.dashboardID = data.dashboard_id
      this.dashboardName = data.dashboard_name
    },
    clearDialogCatePerm () {
      this.dialogCatePermisson = false
      this.searchUserInCate = ''
      this.searchUserOutCate = ''
    },
    clearDialogDashPerm () {
      this.dialogDashPermisson = false
      this.searchUserInDash = ''
      this.searchUserOutDash = ''
    },
    addUsertoCate (data) {
      this.userOutCate = this.userOutCate.filter(function (user) { return user['user_id'] !== data['user_id'] })
      var selectedUser = this.userOutCate.map(user => '' + user['user_id'])
      this.userInCate = this.userListAll.filter(function (user) {
        var uid = '' + user['user_id']
        return selectedUser.indexOf(uid) < 0
      })
      this.countUserCatePerm = this.userInCate.length
    },
    removeUserFromCate (data) {
      this.userInCate = this.userInCate.filter(function (user) { return user['user_id'] !== data['user_id'] })
      var selectedUser = this.userInCate.map(user => '' + user['user_id'])
      this.userOutCate = this.userListAll.filter(function (user) {
        var uid = '' + user['user_id']
        return selectedUser.indexOf(uid) < 0
      })
      this.countUserCatePerm = this.userInCate.length
    },
    addUsertoDash (data) {
      this.userOutDash = this.userOutDash.filter(function (user) { return user['user_id'] !== data['user_id'] })
      var selectedUser = this.userOutDash.map(user => '' + user['user_id'])
      this.userInDash = this.userListAll.filter(function (user) {
        var uid = '' + user['user_id']
        return selectedUser.indexOf(uid) < 0
      })
      this.countUserDashPerm = this.userInDash.length
    },
    removeUserFromDash (data) {
      this.userInDash = this.userInDash.filter(function (user) { return user['user_id'] !== data['user_id'] })
      var selectedUser = this.userInDash.map(user => '' + user['user_id'])
      this.userOutDash = this.userListAll.filter(function (user) {
        var uid = '' + user['user_id']
        return selectedUser.indexOf(uid) < 0
      })
      this.countUserDashPerm = this.userInDash.length
    },
    saveCatePerm () {
      var usersID = this.userInCate.map(user => '' + user['user_id'])
      this.axios.post(process.env.API + '/updateCateDashPermission',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          },
          'permission_info': {
            'mode': 'category',
            'mode_id': this.categoriesID,
            'users_id': usersID
          }
        }).then((response) => {
          if (response.data.result === 'success') {
            this.$swal({
              type: 'success',
              title: 'Complete',
              showConfirmButton: false,
              timer: 800
            })
            this.dialogCatePermisson = false
          } else {
            this.$swal(response.data.result, '', 'warning')
          }
          this.getDashboardList()
        })
    },
    saveDashPerm () {
      var usersID = this.userInDash.map(user => '' + user['user_id'])
      this.axios.post(process.env.API + '/updateCateDashPermission',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          },
          'permission_info': {
            'mode': 'dashboard',
            'mode_id': this.dashboardID,
            'users_id': usersID
          }
        }).then((response) => {
          if (response.data.result === 'success') {
            this.$swal({
              type: 'success',
              title: 'Complete',
              showConfirmButton: false,
              timer: 800
            })
            this.dialogDashPermisson = false
          } else {
            this.$swal(response.data.result, '', 'warning')
          }
          this.getDashboardList()
        })
    }
  }
}
</script>

<style lang="css" scoped>
  .bg {
    background-color: #f2f2f2;
  }
  .blueIntel {
    background-color: #1DA6DF !important;
  }
  .mgt7vh {
    margin-top: 7vh;
    background-color: #fff;
    min-height: 93vh;
  }
  .blackText {
    color: black !important;
  }
  .listPad {
    padding: 0px;
  }
  .subListPad {
    padding-left: 20px !important;
  }
  .panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    /* avoid browser level touch actions */
    xtouch-action: none;
  }
  .panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    /* padding: 10px; */
    width: 300px;
    min-height: 200px;
    min-width: 15%;
    /* min-width: 250px; */
    max-width: 80%;
    white-space: nowrap;
    background: #838383;
    color: white;
  }
  .splitter {
    flex: 0 0 auto;
    width: 16px;
    background: url('/static/vsizegrip.png') center center no-repeat #e2e2e2;
    min-height: 200px;
    cursor: col-resize;
  }
  .panel-right {
    flex: 1 1 auto;
    /* resizable */
    /* padding: 10px; */
    width: 100%;
    min-height: 200px;
    /* background: #eee; */
  }
  .fullscreenClass {
    /* width: 100%; */
    /* height: 100%; */
  }
</style>

<style media="screen" scoped="">
@import '../../assets/css/css.css';
</style>
