<template lang="html">
  <div class="applicationLeftTab">
    <v-navigation-drawer class="mgl130 z-in1 grey lighten-3" clipped app>
      <v-toolbar flat>
        <v-list>
          <v-list-tile>
            <v-list-tile-title class="title">
              Generate Wizard
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-divider></v-divider>
      <v-list dense class="pt-0">
        <v-list-tile v-for="item in subMenu" :key="item.title" @click="">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      subMenu: [
        { title: 'Auto Generate', icon: 'vpn_key' },
        { title: 'On-Demand Generate', icon: 'settings' }
      ],
      right: null
    }
  }
}
</script>

<style lang="css" scoped>
.fullPage{
  min-height: calc(100vh - 48px);
}
.applicationLeftTab {
  min-height: 48px;
  padding-left: 80px;
}
.mgl130{
  margin-left: 130px;
}
.z-in1 {
  z-index: 1;
  max-width: 230px;
}
@media only screen and (max-width: 1125px) {
  .mgl130 {
    margin-left: 0px;
  }
  .application {
    min-height: 48px;
    padding-left: 80px;
  }
}
@media only screen and (min-width: 1126px) and (max-width: 1263px) {
  .mgl130 {
    margin-left: 0px !important;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px)  {
  .mgl130 {
    margin-left: 0px;
  }
  .application {
    min-height: 48px;
    padding-left: 80px;
  }
}
</style>
