<template lang="html">
  <div class="">
    <div class="">
      <v-tabs v-model="active" dark>
        <v-tabs-bar  dark grow class="light-blue darken-4 body-2">
          <v-tabs-slider color="yellow"></v-tabs-slider>
          <v-tabs-item centered href="#tab-1" @click="">
            Query Editor
          </v-tabs-item>
          <v-tabs-item centered href="#tab-2" @click="">
            Saved Queries
          </v-tabs-item>
        </v-tabs-bar>
        <v-spacer></v-spacer>
      </v-tabs>
    </div>
    <div class="applicationLeftTab">
      <!-- <img class="width100" src="/static/intelligistsharing.png"> -->

      <div class="">
        <v-navigation-drawer class="leftDrawer mgl130 grey lighten-3" :mini-variant.sync="mini"
        permanent enable-resize-watcher
        clipped
        app
        v-model="drawerMenu">
        <v-toolbar flat class="transparent">
          <v-list class="pa-0">
            <v-list-tile>
              <v-list-tile-action>
                <v-btn icon @click.native.stop="mini = !mini">
                  <v-icon>dehaze</v-icon>
                </v-btn>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>MENU</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container v-if="mini === false">
          <v-layout wrap  align-center>
            <v-flex xs12 sm12 md10 class="">
              <div class="body-2">DATABASE</div>
            </v-flex>
            <v-flex xs12 sm12 md2 class="">
              <v-btn flat icon color="primary">
                <v-icon>cached</v-icon>
              </v-btn>
            </v-flex>
            <v-flex xs12 sm12 md12 class="">
              <v-select
              :items="selectDB"
              label="Database"
              ></v-select>
            </v-flex>
            <v-flex xs12 sm12 md10 class="">
              <div class="body-2">TABLES</div>
            </v-flex>
            <v-flex xs12 sm12 md12 class="">
              <v-text-field
              label="Filter Tables..."
              single-line
              append-icon="search"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout wrap  align-center>
            <v-flex xs12 sm12 md10 class="">
              <div class="subheading" >Add table...</div>
            </v-flex>
            <v-flex xs12 sm12 md2 class="">
              <v-btn flat icon color="primary">
                <v-icon>info</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>

        <v-list v-if="mini === false">
          <v-list-group v-for="item in listBD" :value="item.active" v-bind:key="item.title">
            <v-list-tile slot="item" @click="">
              <v-list-tile-action>
                <v-icon>{{ item.action }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon>keyboard_arrow_down</v-icon>
              </v-list-tile-action>
            </v-list-tile>
            <v-list-tile v-for="subItem in item.items" v-bind:key="subItem.title" @click="">
              <v-list-tile-action>
                <v-icon>view_column</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon>{{ subItem.action }}</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>
        </v-list>
      </v-navigation-drawer>

    </div>

    <!-- RIGHT CONTENT -->
    <div class="grey lighten-4 fullPage">
      <v-container fluid>
        <v-card>
          <v-container>
            <!-- <v-btn flat right icon color="primary"><v-icon>info</v-icon></v-btn> -->
            <v-text-field
            name="input-1" hint="Use Ctrl + Enter to run query, Ctrl + Space to autocomplete" persistent-hint
            label="Enter Text ..."
            textarea
            ></v-text-field>
            <div class="text-xs-left">
              <v-btn color="primary" > Run Query </v-btn>
              <v-btn color="grey lighten-3" > Save As </v-btn>
              <v-btn color="grey lighten-3" > Format Query </v-btn>
              <v-btn color="grey lighten-3" > Now Query </v-btn>
            </div>
          </v-container>
        </v-card>
      </v-container>
    </div>
    <router-view/>
  </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      mini: true,
      selectDB: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      listBD: [
        {
          action: 'table_chart',
          title: 'cse_customerinfo',
          active: true,
          items: [
            { title: 'Breakfast & brunch' },
            { title: 'New American' },
            { title: 'Sushi' }
          ]
        }
      ]
    }
  }
}
</script>

<style lang="css" scoped>
.width100 {
	width: 100%;
}
.mgl130{
  margin-left: 130px;
  margin-top: 96px !important;
}
.fullPage{
  height: calc(100vh - 48px);
}
.applicationLeftTab {
  min-height: 48px;
  padding-left: 80px;
}
@media only screen and (max-width: 1125px) {
  .mgl130 {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 1126px) and (max-width: 1264px) {
  .mgl130 {
    margin-left: 0px !important;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px)  {
  .mgl130 {
    margin-left: 0px;
  }
}
</style>
