<template lang="html">
  <div class="applicationLeftTab">
    <v-navigation-drawer class="mgl130 z-in1 grey lighten-3"
      permanent :mini-variant.sync="mini"
      enable-resize-watcher
      clipped
      app
      v-model="drawerMenu">
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile>
            <v-list-tile-action>
              <v-btn icon @click.native.stop="mini = !mini">
                <v-icon>dehaze</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>MENU</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-divider></v-divider>

      <v-list class="pt-0" dense :value="active">
        <v-list-tile @click.native.stop="mini = true" to="/management/mgmtusers">
          <v-tooltip right color="primary">
            <v-list-tile-action slot="activator">
              <v-icon>account_circle</v-icon>
            </v-list-tile-action>
            <span>USERS</span>
          </v-tooltip>
          <v-list-tile-content>
            <v-list-tile-title>USERS</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click.native.stop="mini = true" to="/management/mgmtgroups">
          <v-tooltip right color="primary">
            <v-list-tile-action slot="activator">
              <v-icon>group</v-icon>
            </v-list-tile-action>
            <span>GROUPS</span>
          </v-tooltip>
          <v-list-tile-content>
            <v-list-tile-title>GROUPS</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click.native.stop="mini = true" to="/management/mgmtroles">
          <v-tooltip right color="primary">
            <v-list-tile-action slot="activator">
              <v-icon>no_encryption</v-icon>
            </v-list-tile-action>
            <span>ROLES</span>
          </v-tooltip>
          <v-list-tile-content>
            <v-list-tile-title>ROLES</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <!-- <v-list-tile @click.native.stop="mini = true" to="/management/mgmtDashboard">
          <v-tooltip right color="primary">
            <v-list-tile-action slot="activator">
              <v-icon>dashboard</v-icon>
            </v-list-tile-action>
            <span>DASHBOARD</span>
          </v-tooltip>
          <v-list-tile-content>
            <v-list-tile-title>DASHBOARD</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile> -->

        <v-list-tile @click.native.stop="mini = true" to="/management/mgmtprojects">
          <v-tooltip right color="primary">
            <v-list-tile-action slot="activator">
              <v-icon>folder_shared</v-icon>
            </v-list-tile-action>
            <span>PROJECTS</span>
          </v-tooltip>
          <v-list-tile-content>
            <v-list-tile-title>PROJECTS</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click.native.stop="mini = true" to="/management/mgmtsubscription">
          <v-tooltip right color="primary">
            <v-list-tile-action slot="activator">
              <v-icon>vpn_key</v-icon>
            </v-list-tile-action>
            <span>SUBSCRIPTION</span>
          </v-tooltip>
          <v-list-tile-content>
            <v-list-tile-title>SUBSCRIPTION</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

      </v-list>
    </v-navigation-drawer>
    <router-view/>
  </div>
</template>

<script>
export default {
  data () {
    return {
      active: true,
      mini: true,
      right: null,
      drawerMenu: null
    }
  },
  mounted () {
    this.checkAdmin()
  },
  methods: {
    checkAdmin () {
      this.axios.post(process.env.API + '/mgmt/checkAdmin',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          var resultCheckAdmin = response.data.result
          if (resultCheckAdmin) {
            // console.log(resultCheckAdmin)
          } else {
            this.$router.push('/sorry')
          }
        })
    },
    goUSERS () {
      this.$router.push('/management/mgmtusers')
    },
    goGROUPS () {
      this.$router.push('/management/mgmtgroups')
    },
    goROLES () {
      this.$router.push('/management/mgmtroles')
    },
    goPROJECTS () {
      this.$router.push('/management/mgmtprojects')
    },
    goSUBSCRIPTION () {
      this.$router.push('/management/mgmtsubscription')
    }
  }
}
</script>

<style lang="css" scoped="">
.applicationLeftTab {
  min-height: 48px;
  padding-left: 80px;
}
.mgl130{
  margin-left: 130px;
}
.z-in1 {
  z-index: 1;
  max-width: 230px;
}
@media only screen and (max-width: 1125px) {
  .mgl130 {
    margin-left: 0px;
  }
  .application {
    min-height: 48px;
    padding-left: 80px;
  }
}
@media only screen and (min-width: 1126px) and (max-width: 1264px) {
  .mgl130 {
    margin-left: 0px !important;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px)  {
  .mgl130 {
    margin-left: 0px;
  }
  .application {
    min-height: 48px;
    padding-left: 80px;
  }
}
</style>
