<template lang="html">
  <div style="">
		<v-tabs v-model="activeMetaTab" dark grow :scrollable="false">
			<v-tabs-bar  dark grow class="light-blue darken-4 subheading">
        <v-tabs-slider color="yellow"></v-tabs-slider>
				<v-tabs-item centered href="#tab-1" @click="generateSrcID()">
					Metadata
				</v-tabs-item>
				<v-tabs-item centered href="#tab-2" @click="getDataWorkbench()">
					Intelligist Workbench
				</v-tabs-item>
			</v-tabs-bar>
			<v-tabs-items :touchless="true">
				<!-- TAB 1 -->
				<v-tabs-content id="tab-1" lazy>
					<v-card flat>
						<v-card-text>
							<v-container fluid>
                <v-card class="pd30">
                  <v-layout row wrap class="mgt15 mgl40 mgr10">
                    <v-flex xs12 sm12 md6>
                      <h6 class="pdt5 hidden-sm-and-down">Download Configurations</h6>
                      <h4 class="pdt5 hidden-md-and-up">Download Configurations</h4>
                    </v-flex>
                    <v-flex xs12 sm12 md5 offset-md1>
                      <v-layout class="mgt-20">
                        <v-flex xs10 sm11 md12>
                          <v-text-field class="hidden-sm-and-down searchBtn"
                            color="green"
                            label="Search"
                            v-model="searchData"
                            append-icon="search"
                            :append-icon-cb="() => getData()"
                            @keyup.enter="getData()">
                          </v-text-field>
                          <v-text-field class="hidden-md-and-up"
                            label="Search"
                            v-model="searchData">
                          </v-text-field>
                        </v-flex>
                        <v-flex xs2 sm1 md4 class="hidden-md-and-up">
                          <v-btn fab dark small outline color="primary" @click="dialog = true, getData()">
                            <v-icon>search</v-icon>
                          </v-btn>
                        </v-flex>
                      </v-layout>
                      <v-dialog v-model="dialog" scrollable max-width="80%">
                        <v-card>
                          <v-card-title class="headline blueIntel white--text">Search Result</v-card-title>
                          <v-spacer class="hidden-sm-and-down"></v-spacer>
                          <v-divider></v-divider>
                          <v-card-text style="height: 400px;">
                            <v-data-table
                              v-bind:headers="headersDialog"
                              v-bind:items="itemsDialog"
                              v-bind:search="searchData"
                              v-bind:pagination.sync="pagination">
                              <template slot="items" slot-scope="props">
                                <td class="text-xs-center">
                                  <v-btn small outline color="indigo" @click="selectRow(props.item)">Select</v-btn>
                                </td>
                                <td class="text-xs-center">{{ props.item.id }}</td>
                                <td class="text-xs-center">{{ props.item.source_id }}</td>
                                <td class="text-xs-center">{{ props.item.source_name }}</td>
                                <td class="text-xs-center">{{ props.item.create_at }}</td>
                                <td class="text-xs-center">{{ props.item.download_type }}</td>
                                <td class="text-xs-center">{{ props.item.status }}</td>
                              </template>
                            </v-data-table>
                          </v-card-text>
                          <v-divider></v-divider>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn outline color="blue darken-4" flat="flat" @click.native="dialog = false">Close</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-flex>
                  </v-layout>
                  <v-divider></v-divider>
                  <v-form v-model="valid" ref="form" lazy-validation class="pad-bt">
  									<v-container fluid grid-list-md>
  										<v-layout row dark wrap class="pdb40_mobile">
                        <v-flex xs12 sm12 md7 dark>
                          <v-card  tile flat color="white">
                            <v-card-text class="pdtb10_mobile">
                              <v-layout row wrap >
          											<v-flex xs5 sm4 md3>
                                  <v-subheader>Source ID<span style="color: red">*</span></v-subheader>
          											</v-flex>
          											<v-flex xs7 sm8 md6>
                                  <v-text-field class="mgt-10"
                                  v-model="sourceID"
                                  disabled
          												></v-text-field>
          											</v-flex>
                              </v-layout>
                              <v-layout wrap>
                                <v-flex xs5 sm4 md3>
                                  <v-subheader>Download Type<span style="color: red">*</span></v-subheader>
                                </v-flex>
                                <v-flex xs7 sm8 md6>
                                  <v-select class="mgt-10"
                                  v-model="downloadType"
                                  :rules="downloadTypeRules"
                                  :items="['WEB Page', 'Excel File', 'CSV File', 'Text File', 'XML File', 'Web Service', 'Manual Generate']"
                                  ></v-select>
                                </v-flex>
                              </v-layout>
                              <v-layout wrap>
                                <v-flex xs5 sm4 md3>
                                  <v-subheader>Source Name<span style="color: red">*</span></v-subheader>
                                </v-flex>
                                <v-flex xs7 sm8 md6>
                                  <v-text-field class="mgt-10"
                                  v-model="sourceName"
                                  :rules="sourceNameRules"
                                  required
                                  ></v-text-field>
                                </v-flex>
          										</v-layout>
                              <v-layout wrap>
                                <v-flex xs5 sm4 md3>
                                  <v-subheader>Status<span style="color: red">*</span></v-subheader>
          											</v-flex>
          											<v-flex xs7 sm8 md6>
          												<v-select class="mgt-10"
                                  v-model="status"
                                  :rules="statusRules"
          												required
          												:items="['Active', 'Inactive']"
          												></v-select>
          											</v-flex>
                              </v-layout>

                              <v-layout wrap v-if="downloadType === 'Excel File' || downloadType === 'CSV File' || downloadType ==='Text File' || downloadType === 'XML File'">
          											<v-flex xs5 sm4 md3>
                                  <v-subheader>Local Path<span style="color: red">*</span></v-subheader>
          											</v-flex>
          											<v-flex xs7 sm6 md6>
          												<v-text-field
                                    class="mgt-10 cancelLocalPath"
                                    v-model="localPath"
                                    :rules="localPathRules"
                                    readonly
                                    append-icon="cancel"
                                    :append-icon-cb="() => clearLocalPath()"
                                    required
          												></v-text-field>
          											</v-flex>
                                <v-flex xs12 sm2 md1 class="text-xs-center">
                                  <form enctype=multipart/form-data>
                                    <div class="form-group">
                                      <input id="uploader" type="file" ref="fileUpload" style="display: none;" @change="setFileName()">
                                      <v-btn flat outline @click="$refs.fileUpload.click()" color="blue darken-4">Select File</v-btn>
                                    </div>
                                  </form>
                                </v-flex>
          										</v-layout>
                              <v-layout wrap v-if="downloadType === 'WEB Page' || downloadType === 'Web Service'">
                                <v-flex xs5 sm4 md3>
                                  <v-subheader>Web Address</v-subheader>
          											</v-flex>
                                <v-flex xs7 sm6 md6>
                                  <v-text-field
                                    v-model="webAddress"
                                    hint="Please insert full website path (with http://) e.g. 'http://www.google.com'"
                                    persistent-hint
                                    :rules="webAddressRules"
                                    required class="mgt-10"
                                    @keyup.enter="openLink()">
                                  </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm2 md1 class="text-xs-center">
                                  <v-btn flat outline color="blue darken-4" @click="openLink()" :disabled="webAddress === ''" slot="activator">OpenURL</v-btn>
                                </v-flex>
                              </v-layout>
                              <v-layout row wrap v-if="downloadType !== 'Manual Generate'">
                                <v-flex xs5 sm4 md3>
                                  <v-subheader>Header File</v-subheader>
                                </v-flex>
                                <v-flex xs7 sm8 md6 class="">
                                  <v-text-field
                                    class="mgt-10 cancelLocalPath"
                                    v-model="headerFile"
                                    readonly
                                    append-icon="cancel"
                                    :append-icon-cb="() => clearHeaderFile()"
          												></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm2 md1 class="text-xs-center">
                                  <form enctype=multipart/form-data>
                                    <div class="form-group">
                                      <input id="uploaderHeaderFile" type="file" ref="uploadHeaderFile" style="display: none;" @change="setHeaderFile()">
                                      <v-btn flat outline @click="$refs.uploadHeaderFile.click()" color="blue darken-4">Select File</v-btn>
                                    </div>
                                  </form>
                                </v-flex>
                              </v-layout>

                              <v-layout row wrap>
                                <v-flex xs5 sm4 md3>
                                  <v-subheader>Mode<span style="color: red">*</span></v-subheader>
                                </v-flex>
                                <v-flex xs7 sm8 md6>
                                  <v-select class="mgt-10"
                                  v-model="fileMode"
          												:items="['Append', 'Update']"
          												></v-select>
                                </v-flex>
                              </v-layout>
                              <v-layout row wrap>
                                <v-flex xs5 sm4 md3>
                                  <v-subheader v-if="downloadType === 'Manual Generate'">Report Name (ref.)</v-subheader>
                                  <v-subheader v-else>Reference</v-subheader>
                                </v-flex>
                                <v-flex xs7 sm8 md6>
                                  <v-text-field class="mgt-10"
                                  v-model="reference"></v-text-field>
                                </v-flex>
                              </v-layout>
                              <v-layout row wrap>
                                <v-flex xs5 sm4 md3>
                                  <v-subheader>Auto Approve</v-subheader>
                                </v-flex>
                                <v-flex xs7 sm8 md1 class="mgt10">
                                  <v-checkbox color= "blue darken-4" v-model="checkApprove"light></v-checkbox>
                                </v-flex>
                                <v-flex xs5 sm4 md3>
                                  <v-subheader>Auto Generate</v-subheader>
                                </v-flex>
                                <v-flex xs7 sm8 md1 class="mgt10">
                                  <v-checkbox color= "blue darken-4" v-model="checkAutoGenerate"light></v-checkbox>
                                </v-flex>
                              </v-layout>
                            </v-card-text>
                          </v-card>
                        </v-flex>
                        <v-flex xs12 sm12 md5 class="pdt20 pdr20">
                          <v-card tile flat color="white">
                            <v-card v-if="downloadType === 'WEB Page' || downloadType === 'Web Service' || downloadType === 'Manual Generate'">
                              <v-card-title primary-title class="pdl30" >
                                <p class="title mb-0">Schedule</p>
                              </v-card-title>
                              <v-divider></v-divider>
                              <v-layout row wrap dark class="pdl30">
  															<v-flex xs12 sm12 md8>
  																<v-card tile flat color="white">
  																	<v-card-text class="pdb0">
  																		<v-radio-group v-model="scheduleMode" column class="mgt-17">
  																			<v-radio color="blue darken-4" label="None" value="1" ></v-radio>
  																			<v-radio color="blue darken-4" label="Daily" value="2"></v-radio>
  																			<v-radio color="blue darken-4" label="Day Of Month" value="3"></v-radio>
  																			<v-radio color="blue darken-4" label="End Of Month" value="4"></v-radio>
                                        <v-radio color="blue darken-4" label="First day of the month" value="5"></v-radio>
  																		</v-radio-group>
  																	</v-card-text>
  																</v-card>
  															</v-flex>
  														</v-layout>
  														<v-layout wrap class="mgt-17 pdl20" v-if="scheduleMode === '2' || scheduleMode === '3'">
                                <v-flex xs12 sm3 md5>
                                  <v-subheader>Start Date :<span style="color: red">*</span></v-subheader>
                                </v-flex>
                                <v-flex xs11 sm8 md6>
                                  <v-menu
                                    lazy
                                    :close-on-content-click="false"
                                    v-model="pickDate"
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    :nudge-right="40"
                                    max-width="290px"
                                    min-width="290px">
                                    <v-text-field class="mgt-10"
                                      slot="activator"
                                      v-model="dateFormatted"
                                      :rules="pickDateRules"
                                      label="Picker Date"
                                      single-line
                                      prepend-icon="event"
                                      readonly
                                    ></v-text-field>
                                    <v-date-picker v-model="date" @input="dateFormatted = formatDate($event)" locale="Th-th" scrollable actions>
                                      <template slot-scope="{ save, cancel }">
                                        <v-card-actions>
                                          <v-spacer></v-spacer>
                                          <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                                          <v-btn flat color="primary" @click="save">OK</v-btn>
                                        </v-card-actions>
                                      </template>
                                    </v-date-picker>
                                  </v-menu>
                                </v-flex>
                              </v-layout>
                              <v-layout wrap class="mgt-17 pdl20" v-if="scheduleMode === '2' || scheduleMode === '3'">
                                <v-flex xs12 sm4 md5>
                                  <v-subheader>Schedule Time :<span style="color: red">*</span></v-subheader>
                                </v-flex>
                                <v-flex xs11 sm7 md6>
                                  <v-menu
                                    lazy
                                    :close-on-content-click="false"
                                    v-model="pickTime"
      															transition="scale-transition"
                                    offset-y
      															full-width
                                    :nudge-right="40"
                                    max-width="290px"
                                    min-width="290px">
                                  <v-text-field class="mgt-10"
      															slot="activator"
      															label="Picker Time"
      															single-line
      															v-model="time"
      															:rules="timeRules"
      															prepend-icon="access_time"
      															readonly>
      														</v-text-field>
    															<v-time-picker v-model="time" format="24hr" scrollable actions>
    																<template slot-scope="{ save, cancel }">
    																	<v-card-actions>
    																		<v-spacer></v-spacer>
    																		<v-btn flat color="primary" @click="cancel">Cancel</v-btn>
    																		<v-btn flat color="primary" @click="save">Ok</v-btn>
    																	</v-card-actions>
    																</template>
    															</v-time-picker>
                                  </v-menu>
                                </v-flex>
                              </v-layout>
                            </v-card>
                          </v-card>
                        </v-flex>

                        <v-flex xs12 sm12 md12>
                          <v-subheader v-show="isUpload">Uploading...</v-subheader>
                          <v-progress-linear v-model="valueProgress" v-show="isUpload"></v-progress-linear>
                        </v-flex>
                      </v-layout>
                    </v-container>

                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-spacer class="hidden-xs-and-down"></v-spacer>
                        <div class="text-xs-center pd10">
                          <v-layout wrap>
                          <v-flex xs12 sm4 pdb10_mobile>
                            <v-btn outline color="green" @click="validateAddData()" :disabled="!acceptable"  >
                              <v-icon left>save</v-icon>Accept
                            </v-btn>
                          </v-flex>
                          <v-flex xs12 sm4 pdb10_mobile>
                            <v-btn outline color="blue darken-4" @click="clear()">
                              <v-icon left>cancel</v-icon>Cancle
                            </v-btn>
                          </v-flex>
                          <v-flex xs12 sm4 pdb10_mobile>
                            <v-btn outline color="red darken-4" @click="deleteData()" :disabled="!deletable">
                              <v-icon left>clear</v-icon>Delete
                            </v-btn>
                          </v-flex>
                        </v-layout>
                      </div>
      							</v-card-actions>
                  </v-form>
                </v-card>
              </v-container>
            </v-card-text>
          </v-card>
        </v-tabs-content>
        <!-- END TAB 1 -->
    		<!-- TAB 2 -->
    		<v-tabs-content id="tab-2" lazy>
          <v-card flat>
  					<v-layout>
  						<v-flex xs12>
                <v-card-text>
        					<v-container fluid class="pdb0">
                    <v-layout row wrap>
                      <v-flex xs12 sm4 md2 class="text-xs-left">
                        <v-subheader>Source Name :</v-subheader>
                      </v-flex>
                      <v-flex xs12 sm8 md4>
                        <v-text-field  v-model="srcNameSearch" class="mgt-10" label="Enter Source Name..." single-line @keyup.enter="getDataWorkbench()"></v-text-field>
        							</v-flex>
        							<v-flex xs12 sm12 md5 offset-md1 class="text-xs-center text-md-left">
                        <v-btn outline color="blue darken-4" dark @click="getDataWorkbench()"><v-icon left>search</v-icon>Search</v-btn>
        								<v-btn outline color="red darken-4" dark @click="wbClearSearch()"><v-icon left>cancel</v-icon>Cancel</v-btn>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-container>
    							<v-card>
    								<v-container>
    									<v-card-title>
                        <v-flex xs12 sm12 md4>
                          <v-btn outline color="green" dark @click="loadFileAll()"><v-icon left class="material-icons">file_download</v-icon>Download All</v-btn>
          							</v-flex>
    										<v-spacer></v-spacer>
    										<v-text-field append-icon="search" label="Enter text to search..." single-line hide-details v-model="search"></v-text-field>
    									</v-card-title>
                      <v-data-table
                        class="tableWorkbench"
                      	v-bind:headers="headers"
    										v-bind:items="rowDataItem"
    										v-bind:search="search"
                        :loading="loading"
                        v-bind:pagination.sync="pagination">
                        <template slot="items" slot-scope="props">
                          <td class="text-xs-center" style="width: 1%;">
                            <v-btn v-if="props.item.download_type !== '7'" flat icon color="green" @click="loadFile(props.item)">
                              <v-icon dark color="green" class="material-icons">file_download</v-icon>
                            </v-btn>
                          </td>
                          <td class="text-xs-center">{{ props.item.source_id }}</td>
                          <td class="text-xs-center">{{ props.item.source_name }}</td>
                          <td class="text-xs-left">
                            <div v-if="props.item.import_status === 'Error'">
                              <div class="body-2">
                                <v-icon dark color="red" class="material-icons">cancel</v-icon>&nbsp;{{ props.item.import_status }}
                              </div>
                            </div>
                            <div v-else-if="props.item.import_status === 'Complete'">
                              <div class="body-2">
                                <v-icon dark color="green" class="material-icons">check_circle</v-icon>&nbsp;{{ props.item.import_status }}
                              </div>
                            </div>
                            <div v-else="">
                              <div class="body-2">
                                <v-icon color="yellow darken-2" class="material-icons">watch_later</v-icon>&nbsp;{{ props.item.import_status }}
                              </div>
                            </div>
                          </td>
                          <td class="text-xs-left">{{ props.item.log_message }}</td>
                          <td class="text-xs-center">{{ props.item.trans_date }}</td>
                          <td class="text-xs-center">
                            <div v-if="props.item.import_status === 'Complete' && props.item.download_type !== '7'">
                              <v-btn flat color="green" @click="getDataForView(props.item)">View Data</v-btn>
                            </div>
                          </td>
                        </template>
                        <template slot="pageText" slot-scope="{ pageStart, pageStop }">
                          From {{ pageStart }} to {{ pageStop }}
                        </template>
                      </v-data-table>
                    </v-container>
                  </v-card>
                </v-container>
              </v-flex>
            </v-layout>
          </v-card>
        </v-tabs-content>
      </v-tabs-items>
    </v-tabs>
  </div>
</template>

<script>
import viewdataworkbench from '@/components/sideMenu/dialogviewer/viewdataworkbench'
export default {
  components: {
    viewdataworkbench
  },
  data () {
    return {
      activeMetaTab: 'tab-1',
      items: [],
      loading: true,
      pagination: {sortBy: 'source_id', descending: true},
      searchData: '',
      dialog: false,
      valid: true,
      acceptable: true,
      fileMode: 'Append',
      sourceID: '',
      sourceIDRules: [ (v) => !!v || 'Source ID is required' ],
      sourceName: '',
      sourceNameRules: [ (v) => !!v || 'Source Name is required' ],
      downloadTypeCode: '',
      downloadType: 'WEB Page',
      downloadTypeRules: [ (v) => !!v || 'Download Type is required' ],
      status: 'Active',
      statusRules: [ (v) => !!v || 'Status is required' ],
      statusCode: '',
      webAddress: '',
      webAddressRules: [ (v) => !!v || 'Web Address is required' ],
      localPath: '',
      localPathRules: [ (v) => !!v || 'Local Path is required' ],
      headerFile: '',
      reference: '',
      checkbox: true,
      checkApprove: true,
      checkAutoGenerate: false,
      date: null,
      pickDate: '',
      pickDateRules: [ (v) => !!v || 'Start Date is required' ],
      dateFormatted: null,
      time: null,
      timeRules: [ (v) => !!v || 'Schedule Time is required' ],
      pickTime: '',
      scheduleMode: '1',
      search: '',
      headers: [
        { text: 'Download', sortable: false, align: 'center', value: 'download' },
        { text: 'Source ID', sortable: false, align: 'center', value: 'sourceID' },
        { text: 'Source Name', sortable: false, align: 'center', value: 'sourceName' },
        { text: 'Import Status', sortable: false, align: 'center', value: 'importStatus' },
        { text: 'Warning/Error Message', sortable: false, align: 'center', value: 'warning' },
        { text: 'Trans Date', sortable: false, align: 'center', value: 'transDate' },
        { text: 'View Detail', sortable: false, align: 'center', value: 'viewDetail' }
      ],
      rowDataItem: [],
      headersDialog: [
        { text: 'Select', sortable: false, align: 'center', value: 'select' },
        { text: 'Number', sortable: false, align: 'center', value: 'No' },
        { text: 'Source ID', sortable: false, align: 'center', value: 'sourceID' },
        { text: 'Source Name', sortable: false, align: 'center', value: 'sourceName' },
        { text: 'Date Created', sortable: false, align: 'center', value: 'dateCreate' },
        { text: 'Download Type', sortable: false, align: 'center', value: 'downloadType' },
        { text: 'Status', sortable: false, align: 'center', value: 'status' }
      ],
      itemsDialog: [],
      srcNameSearch: '',
      keepDownloadType: [],
      deletable: false,
      isFile: false,
      isHeaderFile: false,
      isUpload: false,
      valueProgress: 0,
      loadProgress: 0,
      listFile: [],
      dataSender: {},
      uploadStatus: 'initializing',
      fileAllowed: ['xls', 'xlsm', 'xlsx', 'csv', 'txt', 'xml'],
      downloadFileType: [],
      editMode: false,
      CancelToken: null,
      source: null,
      active: null,
      countdowner: 'Downloading... ',
      flagCountdown: false,
      startCDTime: new Date().getTime(),
      sheetName: ''
    }
  },
  created () {
    this.generateSrcID()
    this.getDataWorkbench()
    this.generateCancelToken()
    this.updateActiveTab()
  },
  watch: {
    uploadStatus () {
      // console.log(this.uploadStatus)
      if (this.uploadStatus === 'success') {
        this.addData()
      } else if (this.uploadStatus === 'uploading') {
        this.acceptable = false
      } else if (this.uploadStatus === 'cancelled') {
        this.source.cancel('Operation canceled by the user.')
        this.generateCancelToken()
      }
    },
    loadProgress () {
      if (this.loadProgress !== 100 && !this.flagCountdown) {
        this.flagCountdown = true
        var now = new Date().getTime()
        var processTime = parseInt(60000)
        var endCDTime = new Date(now + processTime).getTime()

        // Update the count down every 1 second
        var me = this
        var valueInterval = setInterval(function () {
          // Get todays date and time
          var now = new Date().getTime()

          // Find the distance between now an the count down date
          var distance = endCDTime - now

          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24))
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
          var seconds = Math.floor((distance % (1000 * 60)) / 1000)

          // Output the result in an element with id="demo"
          var txt = 'Downloading... '
          if (days > 0) { txt = txt + days + 'd ' }
          if (hours > 0) { txt = txt + hours + 'h ' }
          if (minutes > 0) { txt = txt + minutes + 'm ' }
          if (seconds > 0) { txt = txt + seconds + 's ' }
          if (seconds === 0 && minutes === 0 && hours === 0 && days === 0) { txt = 'Preparing... ' }

          me.countdowner = txt
          // If the count down is over, write some text
          if (distance < 0) {
            clearInterval(valueInterval)
            me.flagCountdown = false
            me.countdowner = 'Preparing... '
          }
          // console.log(me.countdowner)
        }, 1000)
      }
    },
    downloadType (dataChanged) {
      this.sourceName = ''
    }
  },
  methods: {
    updateActiveTab () {
      var activeTab = this.$route.query.currentMetaTab
      if (activeTab) {
        this.activeMetaTab = activeTab
      } else {
        this.activeMetaTab = 'tab-1'
      }
    },
    generateSrcID () {
      this.axios.post(process.env.API + '/getLastSourceID',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          var d = new Date()
          var YY = d.getFullYear().toString().substr(-2)
          var srcID = response.data.source_id
          if (srcID && srcID.toString().substr(0, 2) === YY) {
            this.sourceID = srcID + 1
          } else {
            this.sourceID = YY + '0001'
          }
        })
    },
    generateCancelToken () {
      this.CancelToken = this.axios.CancelToken
      this.source = this.CancelToken.source()
    },
    getDownloadType () {
      if (this.downloadType === 'WEB Page') {
        this.downloadTypeCode = '1'
      } else if (this.downloadType === 'Excel File') {
        this.downloadTypeCode = '2'
        this.downloadFileType = ['xls', 'xlsm', 'xlsx']
      } else if (this.downloadType === 'CSV File') {
        this.downloadTypeCode = '3'
        this.downloadFileType = ['csv']
      } else if (this.downloadType === 'Text File') {
        this.downloadTypeCode = '4'
        this.downloadFileType = ['txt']
      } else if (this.downloadType === 'XML File') {
        this.downloadTypeCode = '5'
        this.downloadFileType = ['xml']
      } else if (this.downloadType === 'Web Service') {
        this.downloadTypeCode = '6'
      } else if (this.downloadType === 'Manual Generate') {
        this.downloadTypeCode = '7'
      }
    },
    clear () {
      this.$refs.form.reset()
      this.searchData = ''
      this.scheduleMode = '1'
      this.time = null
      this.dateFormatted = null
      this.downloadType = 'WEB Page'
      this.status = 'Active'
      this.fileMode = 'Append'
      this.checkApprove = true
      this.checkAutoGenerate = false
      this.valid = true
      this.acceptable = true
      this.deletable = false
      this.localPath = ''
      this.webAddress = ''
      this.generateSrcID()
      if (this.downloadType !== 'Manual Generate' && this.downloadType !== 'Web Service' && this.downloadType !== 'WEB Page') {
        this.clearUpload()
      }
    },
    validateAddData () {
      if (this.$refs.form.validate()) {
        this.prepareAddData()
      } else {
        this.$swal('Please complete the form', '', 'warning')
      }
    },
    prepareAddData () {
      this.getDownloadType()

      if (this.status === 'Active') {
        this.statusCode = '1'
      } else if (this.status === 'Inactive') {
        this.statusCode = '0'
      }

      var fileModeCode
      if (this.fileMode === 'Append') {
        fileModeCode = '1'
      } else if (this.fileMode === 'Update') {
        fileModeCode = '0'
      }

      var aaCheck
      if (this.checkApprove) {
        aaCheck = '1'
      } else {
        aaCheck = '0'
      }

      var agCheck
      if (this.checkAutoGenerate) {
        agCheck = '1'
      } else {
        agCheck = '0'
      }

      var startDate
      if (this.scheduleMode === '4') {
        var DateAuto = new Date()
        var monthAuto = (DateAuto.getMonth()) + 1 < 10 ? '0' + (DateAuto.getMonth() + 1) : (DateAuto.getMonth() + 1)
        startDate = new Date(DateAuto.getFullYear(), monthAuto, 0)
      } else {
        startDate = new Date(this.date)
      }

      var dayStart = startDate.getDate() < 10 ? '0' + startDate.getDate() : startDate.getDate()
      var monthStart = (startDate.getMonth()) + 1 < 10 ? '0' + (startDate.getMonth() + 1) : (startDate.getMonth() + 1)
      var yearStart = startDate.getFullYear()
      if (this.time === null) {
        this.time = '00:00:00'
      }
      var startDateFormatted = yearStart + '-' + monthStart + '-' + dayStart + ' ' + this.time
      this.dataSender = {
        'user': {
          'email': localStorage.getItem('email'),
          'firstname': localStorage.getItem('firstname'),
          'lastname': localStorage.getItem('lastname')
        },
        'source_id': this.sourceID,
        'source_name': this.mysql_real_escape_string(this.sourceName),
        'download_type': this.downloadTypeCode,
        'status': this.statusCode,
        'webaddr': this.mysql_real_escape_string(this.webAddress),
        'localpath': this.mysql_real_escape_string(this.localPath),
        'ref': this.mysql_real_escape_string(this.reference),
        'header_file': this.mysql_real_escape_string(this.headerFile),
        'append_mode': fileModeCode,
        'schedule_mode': this.scheduleMode,
        'schedule_start': startDateFormatted,
        'auto_approve': aaCheck,
        'auto_generate': agCheck
      }
      if (this.downloadTypeCode === '1' || this.downloadTypeCode === '6' || this.downloadTypeCode === '7') {
        this.addData()
      } else if (this.downloadTypeCode === '2' || this.downloadTypeCode === '3' || this.downloadTypeCode === '4' || this.downloadTypeCode === '5') {
        this.uploadStatus = 'initializing'
        this.uploadFile()
      }
    },
    addData () {
      this.axios.post(process.env.API + '/saveDataConfig', this.dataSender).then((response) => {
        if (response.data.status === 'success') {
          this.$swal('Add data success', '', 'success')
          this.clear()
        }
      })
    },
    getData () {
      this.dialog = true
      this.axios.post(process.env.API + '/getDataConfig',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          this.itemsDialog = response.data
          for (var i = 0; i < this.itemsDialog.length; i++) {
            this.itemsDialog[i].id = i + 1
            if (this.itemsDialog[i].download_type === '1') {
              this.itemsDialog[i].download_type = 'WEB Page'
            } else if (this.itemsDialog[i].download_type === '2') {
              this.itemsDialog[i].download_type = 'Excel File'
            } else if (this.itemsDialog[i].download_type === '3') {
              this.itemsDialog[i].download_type = 'CSV File'
            } else if (this.itemsDialog[i].download_type === '4') {
              this.itemsDialog[i].download_type = 'Text File'
            } else if (this.itemsDialog[i].download_type === '5') {
              this.itemsDialog[i].download_type = 'XML File'
            } else if (this.itemsDialog[i].download_type === '6') {
              this.itemsDialog[i].download_type = 'Web Service'
            } else if (this.itemsDialog[i].download_type === '7') {
              this.itemsDialog[i].download_type = 'Manual Generate'
            }

            if (this.itemsDialog[i].status === '1') {
              this.itemsDialog[i].status = 'Active'
            } else if (this.itemsDialog[i].status === '0') {
              this.itemsDialog[i].status = 'Inactive'
            }

            if (this.itemsDialog[i].append_mode === '1') {
              this.itemsDialog[i].append_mode = 'Append'
            } else if (this.itemsDialog[i].append_mode === '0') {
              this.itemsDialog[i].append_mode = 'Update'
            }

            if (this.itemsDialog[i].auto_approve === '1') {
              this.itemsDialog[i].auto_approve = true
            } else if (this.itemsDialog[i].auto_approve === '0') {
              this.itemsDialog[i].auto_approve = false
            }

            if (this.itemsDialog[i].auto_generate === '1') {
              this.itemsDialog[i].auto_generate = true
            } else if (this.itemsDialog[i].auto_generate === '0') {
              this.itemsDialog[i].auto_generate = false
            }

            // expect date: 31/12/2017
            // expect time: 23:59
            var scheduleStart = new Date(this.itemsDialog[i].schedule_start)
            var day = scheduleStart.getUTCDate() < 10 ? '0' + scheduleStart.getUTCDate() : scheduleStart.getUTCDate()
            var month = (scheduleStart.getUTCMonth()) + 1 < 10 ? '0' + (scheduleStart.getUTCMonth() + 1) : (scheduleStart.getUTCMonth() + 1)
            var year = scheduleStart.getUTCFullYear()
            this.itemsDialog[i].dateFormatted = day + '/' + month + '/' + year
            this.itemsDialog[i].date = new Date(year, month - 1, day)

            var hour = scheduleStart.getUTCHours() < 10 ? '0' + scheduleStart.getUTCHours() : scheduleStart.getUTCHours()
            var minute = scheduleStart.getUTCMinutes() < 10 ? '0' + scheduleStart.getUTCMinutes() : scheduleStart.getUTCMinutes()
            var second = scheduleStart.getUTCSeconds() < 10 ? '0' + scheduleStart.getUTCSeconds() : scheduleStart.getUTCSeconds()
            this.itemsDialog[i].time = hour + ':' + minute + ':' + second

            this.itemsDialog[i].create_at = this.itemsDialog[i].create_at.split(' GMT')[0]
          }
        })
    },
    deleteData () {
      var me = this
      this.$swal({
        title: 'Are you sure?',
        text: 'You would not be able to revert this!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(function (result) {
        me.axios.post(process.env.API + '/deleteDataConfig',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'source_id': me.sourceID
          }).then((response) => {
            if (response.data.status === 'success') {
              me.$swal(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              )
              me.clear()
            }
          })
      })
    },
    openLink () {
      window.open(this.webAddress)
    },
    formatDate (date) {
      if (!date) {
        return null
      }

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    parseDate (date) {
      if (!date) {
        return null
      }

      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
    selectRow (rowData) {
      this.sourceID = rowData.source_id
      this.$nextTick(() => { // for avoid the sourceName isn't update (bcoz Vue watch function is update first)
        this.sourceName = rowData.source_name
      })
      this.downloadType = rowData.download_type
      this.status = rowData.status
      this.webAddress = rowData.webaddr
      this.fileMode = rowData.append_mode
      this.reference = rowData.ref
      this.scheduleMode = rowData.schedule_mode
      this.dateFormatted = rowData.dateFormatted
      this.checkApprove = rowData.auto_approve
      this.checkAutoGenerate = rowData.auto_generate
      this.date = rowData.date
      this.time = rowData.time
      this.reference = rowData.ref
      this.dialog = false
      this.deletable = true
    },
    getDataWorkbench () {
      this.loading = true
      this.axios.post(process.env.API + '/getDataWorkbench',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          },
          'source_name': this.srcNameSearch
        }).then((response) => {
          this.rowDataItem = response.data
          for (var i = 0; i < this.rowDataItem.length; i++) {
            if (this.rowDataItem[i].import_status === '1') {
              this.rowDataItem[i].import_status = 'Error'
            } else if (this.rowDataItem[i].import_status === '2') {
              this.rowDataItem[i].import_status = 'Pending'
            } else if (this.rowDataItem[i].import_status === '3') {
              this.rowDataItem[i].import_status = 'Complete'
            }
            this.rowDataItem[i].trans_date = this.rowDataItem[i].trans_date.split(' GMT')[0]

            if (this.rowDataItem[i].download_type === '7' && this.rowDataItem[i].import_status === 'Pending' && this.rowDataItem[i].batch_no === null && this.rowDataItem[i].log_message === '') {
              if (this.rowDataItem[i].schedule_mode === 'Daily') {
                this.rowDataItem[i].log_message = 'Schedule Start: Daily (at 00:00:01)'
              } else if (this.rowDataItem[i].schedule_mode !== 'None') {
                this.rowDataItem[i].log_message = 'Schedule Start: ' + this.rowDataItem[i].schedule_start.split(' GMT')[0]
              } else {
                this.rowDataItem[i].log_message = ''
              }
            }

            if (this.rowDataItem[i].download_type === '7' && this.rowDataItem[i].batch_no !== null && this.rowDataItem[i].log_message !== '') {
              this.rowDataItem[i].log_message = 'Estimated Time: ' +
                this.rowDataItem[i].log_message.slice(6, 8) + '-' +
                this.rowDataItem[i].log_message.slice(4, 6) + '-' +
                this.rowDataItem[i].log_message.slice(0, 4) + ' ' +
                this.rowDataItem[i].log_message.slice(8, 10) + ':' +
                this.rowDataItem[i].log_message.slice(10, 12) + ':' +
                this.rowDataItem[i].log_message.slice(12, 14)
            }
          }
          this.loading = false
        })
    },
    wbClearSearch () {
      this.srcNameSearch = ''
      this.getDataWorkbench()
    },
    mysql_real_escape_string (str) {
      if (str === null) {
        return ''
      }
      return str.replace(/[\0\n\r\b\t\x1a]/g, function (s) {
        switch (s) {
          case '\0':
            return '\\0'
          case '\n':
            return '\\n'
          case '\r':
            return '\\r'
          case '\b':
            return '\\b'
          case '\t':
            return '\\t'
          case '\x1a':
            return '\\Z'
          default:
            return '\\' + s
        }
      })
    },
    getFileExtension (filename) {
      return filename.split('.').pop()
    },
    setFileName () {
      this.getDownloadType()
      this.localPath = this.$refs.fileUpload.files[0].name
      if (this.fileAllowed.includes(this.getFileExtension(this.localPath)) && this.downloadFileType.includes(this.getFileExtension(this.localPath))) {
        if (this.$refs.fileUpload.files[0]) {
          this.isFile = true
        }
      } else {
        this.clearLocalPath()
        this.$swal('File is not allowed', '', 'warning')
      }
    },
    setHeaderFile () {
      this.getDownloadType()
      this.headerFile = this.$refs.uploadHeaderFile.files[0].name
      if (this.fileAllowed.includes(this.getFileExtension(this.headerFile)) && this.downloadFileType.includes(this.getFileExtension(this.headerFile))) {
        if (this.$refs.uploadHeaderFile.files[0]) {
          this.isHeaderFile = true
        }
      } else {
        this.clearHeaderFile()
        this.$swal('File is not allowed', '', 'warning')
      }
    },
    clearHeaderFile () {
      this.isHeaderFile = false
      this.headerFile = ''
      this.$refs.uploadHeaderFile.value = ''
    },
    clearLocalPath () {
      this.isFile = false
      this.localPath = ''
      this.$refs.fileUpload.value = ''
    },
    clearUpload () {
      this.keepDownloadType = []
      this.deletable = false
      this.isFile = false
      this.isHeaderFile = false
      this.isUpload = false
      this.valueProgress = 0
      this.listFile = []
      if (this.uploadStatus === 'uploading') {
        this.uploadStatus = 'cancelled'
      } else if (this.uploadStatus === 'success') {
        this.uploadStatus = 'initializing'
      }
      this.downloadFileType = []
      this.clearLocalPath()
      this.clearHeaderFile()
    },
    uploadFile () {
      // console.log(this.$refs.fileUpload.value)
      // console.log(this.$refs.fileUpload.files[0])
      var data = new FormData()
      data.append('email', localStorage.getItem('email'))
      data.append('firstname', localStorage.getItem('firstname'))
      data.append('lastname', localStorage.getItem('lastname'))
      data.append('source_id', this.sourceID)

      if (!this.$refs.fileUpload.files[0]) {
        if (this.editMode && this.$refs.fileUpload.value === '') {
          data.append('file', '')
          data.append('fileHeader', '')
          this.uploadStatus = 'success'
          this.editMode = false
        } else {
          this.$swal('Please select a file', '', 'error')
          return ''
        }
      } else {
        data.append('file', this.$refs.fileUpload.files[0])
        if (this.$refs.uploadHeaderFile.files[0] !== '') {
          data.append('fileHeader', this.$refs.uploadHeaderFile.files[0])
        }

        var me = this
        var config = {
          cancelToken: this.source.token,
          onUploadProgress: function (progressEvent) {
            me.valueProgress = Math.round((progressEvent.loaded * 100) / progressEvent.total)
          }
        }
        this.isUpload = true
        this.uploadStatus = 'uploading'
        this.axios.post(process.env.API + '/upload', data, config).then(response => {
          this.uploadStatus = response.data.status
        }).catch(function (thrown) {
          if (me.axios.isCancel(thrown)) {
            console.log('Request canceled', thrown.message)
          }
        })
      }
    },
    getDataForView (data) {
      this.$router.push('/sideMenu/dialogviewer/viewdataworkbench')
      localStorage.setItem('sourceID', data.source_id)
      localStorage.setItem('sheetName', data.source_name)
    },
    encode_utf8 (s) {
      return unescape(encodeURIComponent(s))
    },
    decode_utf8 (s) {
      try {
        return decodeURIComponent(escape(s))
      } catch (e) {
        return decodeURIComponent(s)
      }
    },
    sortAlphabeticallyWithOnLength (a, b) {
      return a.length - b.length || a.localeCompare(b)
    },
    sortNaturalComparer (a, b) {
      var ax = []
      var bx = []

      a.replace(/(\d+)|(\D+)/g, function (_, $1, $2) { ax.push([$1 || Infinity, $2 || '']) })
      b.replace(/(\d+)|(\D+)/g, function (_, $1, $2) { bx.push([$1 || Infinity, $2 || '']) })

      while (ax.length && bx.length) {
        var an = ax.shift()
        var bn = bx.shift()
        var nn = (an[0] - bn[0]) || an[1].localeCompare(bn[1])
        if (nn) return nn
      }

      return ax.length - bx.length
    },
    createTable (tableData) {
      var table = document.createElement('table')
      var tableBody = document.createElement('tbody')

      tableData.forEach(function (rowData) {
        var rows = document.createElement('tr')

        rowData.forEach(function (cellData) {
          var cells = document.createElement('td')
          cells.appendChild(document.createTextNode(cellData))
          rows.appendChild(cells)
        })

        tableBody.appendChild(rows)
      })

      table.appendChild(tableBody)
      document.body.appendChild(table)
    },
    loadFile (rowData) {
      var me = this
      var config = {
        onUploadProgress: function (progressEvent) {
          me.$swal({
            title: 'Downloading data',
            showConfirmButton: false,
            allowOutsideClick: false,
            onOpen: () => {
              me.$swal.showLoading()
            }
          })
        }
      }

      this.axios.post(process.env.API + '/downloadBySourceID',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          },
          'source_id': rowData.source_id
        }, config).then((response) => {
          if (response.data.status === 'success') {
            this.$swal({
              type: 'success',
              title: 'Download data success',
              showConfirmButton: false,
              timer: 1200,
              onOpen: () => {
                me.$swal.hideLoading()
              }
            })
            this.getDataWorkbench()
          } else {
            this.$swal({
              type: 'error',
              title: 'Download data error',
              text: 'Please try again or update a new file: ' + response.data.description,
              showConfirmButton: false,
              timer: 1200,
              onOpen: () => {
                me.$swal.hideLoading()
              }
            })
            this.getDataWorkbench()
          }
        })
    },
    loadFileAll () {
      var numError = 0
      var errMsg = ''
      var me = this

      this.$swal({
        title: 'Downloading data',
        showConfirmButton: false,
        allowOutsideClick: false,
        onOpen: () => {
          me.$swal.showLoading()
        }
      })

      for (var i = 0; i < this.rowDataItem.length; i++) {
        this.axios.post(process.env.API + '/downloadBySourceID',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'source_id': this.rowDataItem[i].source_id
          }).then((response) => {
            if (response.data.status !== 'success') {
              numError = numError + 1
              errMsg = response.data.description
            }
            this.getDataWorkbench()
          })
      }

      if (numError === 0) {
        this.$swal({
          type: 'success',
          title: 'Download data success',
          showConfirmButton: false,
          timer: 1200,
          onOpen: () => {
            me.$swal.hideLoading()
          }
        })
        this.getDataWorkbench()
      } else {
        this.$swal({
          type: 'error',
          title: 'Download data error',
          text: 'Please try again or recheck in your files: ' + errMsg,
          showConfirmButton: false,
          timer: 1200,
          onOpen: () => {
            me.$swal.hideLoading()
          }
        })
        this.getDataWorkbench()
      }
    }
  }
}
</script>

<style lang="css" scoped>
  .box {
    height: 83vh;
    width: 95%;
    overflow-x: scroll;
    overflow-y: scroll;
    position:fixed;
    bottom:0px;
  }
  .overflowable {
    height: calc(95vh - 4em);
    overflow: auto;
  }
  .vertical-line {
    width: 3px !important;
    background-color: #FFFFFF !important;
    height: 50% !important;
    margin: 5px !important;
  }
  .container {
    max-width: 97%;
  }
  .blueIntel {
    background-color: #1DA6DF !important;
  }
  a:link	{
    text-decoration:none;
  }
  tr > td {
    padding: 0 0px !important;
  }
  .tableWorkbench tr > th {
    padding: 0 20px !important;
  }
  .mgt-10 {
  	margin-top: -10px !important;
  }
  .mgt-20 {
    margin-top: -20px !important;
  }
  .mgt-17 {
  	margin-top: -17px !important;
  }
  .mgb-25 {
  	margin-bottom: -25px !important;
  }
  .mgl-40 {
    margin-left: -40px;
  }
  .blueIntel {
  	background-color: #1DA6DF !important;
  }
  .mg15 {
  	margin: 15px;
  }
  .mgt30 {
  	margin-top: 30px;
  }
  .mgt10 {
    margin-top: 10px;
  }
  .mgt15 {
    margin-top: 15px;
  }
  .mgb-10 {
    margin-bottom: -10px;
  }
  .mgl40 {
    margin-left: 40px;
  }
  .mgr10 {
    margin-right: 10px;
  }
  .pd30 {
  	padding-top: 10px;
  	padding-left: 20px;
  	padding-right: 20px;
  }
  .pd10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .pdb0 {
    padding-bottom: 0px;
  }
  .pdt5 {
    padding-top: 5px;
  }
  .pdt20 {
    padding-top: 20px !important;
  }
  .pdr20 {
    padding-right: 20px !important;
  }
  .pdl20 {
    padding-left: 20px;
  }
  .pdl30 {
    padding-left: 30px;
  }
  .pdlr0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .goRight {
  	float: right;
  }
  .centerVertical {
    align-items: center;
    display: flex;
  }
  .searchBtn i:hover {
    color: blue !important;
  }
  .cancelLocalPath i:hover {
    color: red !important;
  }
  .pad-bt .container.grid-list-md .layout:not(:only-child) {
    margin-bottom: -15px !important;
  }
  .toolbar .tabs {
    width:auto;
    height:100%;
    .tabs__bar {
      height: 100%;
      .tabs__container{
        position: relative;
      }
      .tabs__slider{
        height: 8px;
      }
    }
  }

  @media only screen and (max-width: 960px) {
    .mgl40 {
      margin-left: 5px;
    }
    .mgt-20 {
      margin-top: 5px !important;
    }
    .mgl-40 {
      margin-left: 0px;
    }
    .pdtb10_mobile {
      padding: 10px 0px 10px 0px;
    }
    li.subheader {
      padding-left: 0px !important;
    }
    .pdb40_mobile {
      padding-bottom: 40px;
    }
    .pdb10_mobile {
      padding-bottom: 10px;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px)  {
    .mgl-40 {
      margin-left: 0px;
    }
  }
</style>
