<template>
  <div class="">
    <img class="all100" src="/static/socialMonitoring.png">
  </div>
</template>

<script>
export default {

}
</script>

<style lang="css" scoped="">
.all100 {
	/* width: 100%; */
  height: 100%;
}
</style>
