<template lang="html">
  <div class="">
    <img class="width100" src="/static/upload mornitoring.png">
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped="">
 .width100 {
   width: 100%;
 }
</style>
