<template lang="html">
  <div class="">
    <v-tabs dark grow>
      <v-tabs-bar dark grow class="light-blue darken-4 subheading">
        <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tabs-item href="#tab-1">
          Data Preparation
        </v-tabs-item>
        <v-tabs-item href="#tab-2"  @click="getDataFromId()">
          Preparation Management
        </v-tabs-item>
      </v-tabs-bar>

      <v-tabs-items>
        <!-- data preparation part -->
        <v-tabs-content id="tab-1">
          <v-container fluid grid-list-sm>
            <v-layout row>
              <!-- data summarize -->
              <v-flex d-flex xs12 sm3>
                <v-layout column wrap>
                  <v-flex d-flex style="height:60%;">
                    <v-card color="white" style="margin:2px; overflow-y: auto;">
                      <v-toolbar color='white' height='25px'>
                        <v-toolbar-title style="font-size: 12px; font-color: #777777;">ACTION</v-toolbar-title>
                      </v-toolbar>
                       <v-tabs grow :scrollable="false" class="x-scroll">
                        <v-tabs-bar class="white scroll-box">
                          <v-tabs-slider color="light-blue darken-4"></v-tabs-slider>
                          <v-tabs-item v-for='act in actiontabs' :key='act' :href="'#'+act.actname" v-model="Conversion" style="font-size: 12px;">
                            <span style="color: #777777;">{{act.actname}}</span>
                          </v-tabs-item>
                        </v-tabs-bar>
                        <!-- <v-tabs-items>
                          <v-tabs-content id="Conversion">
                            <v-container>
                              <v-card flat>
                                <v-card-text>
                                  1 2 3 4 5 6 7 8 9 0
                                </v-card-text>
                              </v-card>
                            </v-container>
                          </v-tabs-content>
                        </v-tabs-items> -->
                      </v-tabs>
                    </v-card>
                  </v-flex>

                  <!-- Saved script -->
                  <v-flex d-flex style="height:40%;">
                    <v-card color="white" style="margin:2px; overflow-y: auto;">
                      <v-toolbar flat color='white' height='25px' style="position: relative;">
                        <v-toolbar-title style="font-size: 12px; font-color: #777777;">Your saved script
                          <v-dialog v-model="dialog" persistent max-width="750px">
                            <v-btn icon slot="activator">
                              <v-icon>note_add</v-icon>
                            </v-btn>
                            <v-card>
                              <v-card-title>
                                <span class="headline">Upload an Excel file</span>
                              </v-card-title>
                              <v-card-text>
                                <v-flex xs7 sm6 md5>
                                  <v-text-field
                                    class="mgt-10 cancelLocalPath"
                                    v-model="localPath"
                                    :rules="localPathRules"
                                    readonly
                                    append-icon="cancel"
                                    :append-icon-cb="() => clearLocalPath()"
                                  ></v-text-field>
                                </v-flex>
                                <v-container grid-list-md>
                                  <v-layout wrap>
                                    <input id="uploader" type="file" ref="fileUpload" style="display: none;" @change="setFileName()">
                                    <v-btn flat outline @click="$refs.fileUpload.click()">Upload file</v-btn>
                                    <v-spacer></v-spacer>
                                  </v-layout>
                                </v-container>
                              </v-card-text>
                              <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click.native="dialog = false" @click="clear()">Cancle</v-btn>
                                <v-btn color="blue darken-1" flat @click.native="dialog = false" @click="validateMacro()">Accept</v-btn>
                              </v-card-actions>
                            </v-card>
                          </v-dialog>
                        </v-toolbar-title>
                      </v-toolbar>
                      <div>
                        <v-list v-for="sc in scriptName" style="position: static;">
                          <v-list-tile-content>
                            <v-list-tile-title>{{sc}}</v-list-tile-title>
                            <v-list-tile-action v-bind=sc>
                              <v-btn icon slot="activator" @click="deleteMacro(sc)">
                                <i class="material-icons">delete</i>
                              </v-btn>
                            </v-list-tile-action>
                          </v-list-tile-content>
                        </v-list>
                      </div>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-flex>
              <!-- macro action -->
              <v-flex d-flex xs12 sm6 style="height:82vh;">
                <v-card color="white" tile flat>
                  <v-card-text>Data + Action</v-card-text>
                  <v-btn bottom color="primary" @click="embedXls()">Embed script</v-btn>
                </v-card>
              </v-flex>
              <!-- macro organize -->
              <v-flex d-flex xs12 sm3>
                <v-layout column wrap>
                  <v-flex d-flex>
                    <v-card color="white" style="margin:2px; overflow-y: auto;">
                      <v-toolbar color='white' height='25px'>
                        <v-toolbar-title style="font-size: 12px; color: #777777;">DATA
                          <!-- สำหรับการอัพโหลดดาต้าใหม่ผ่าน data prep screen อย่าเพิ่งลบนะคะ
                           <v-dialog v-model="scriptdialog" persistent max-width="750px">
                            <v-btn icon slot="activator">
                              <v-icon>note_add</v-icon>
                            </v-btn>
                            <v-card>
                              <v-card-title>
                                <span class="headline">Please choose file you want to set up a script</span>
                              </v-card-title>
                              <v-card-text>
                                <v-flex xs7 sm6 md5>
                                  <v-text-field
                                    class="mgt-10 cancelLocalPath"
                                    v-model="localPath"
                                    :rules="localPathRules"
                                    readonly
                                    append-icon="cancel"
                                    :append-icon-cb="() => clearLocalPath()"
                                  ></v-text-field>
                                </v-flex>
                                <v-container grid-list-md>
                                  <v-layout wrap>
                                    <input id="uploader" type="file" ref="fileUpload" style="display: none;" @change="setFileName()">
                                    <v-btn flat outline @click="$refs.fileUpload.click()">Upload file</v-btn>
                                    <v-spacer></v-spacer>
                                  </v-layout>
                                </v-container>
                              </v-card-text>
                              <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click.native="scriptdialog = false" @click="clear()">Cancle</v-btn>
                                <v-btn color="blue darken-1" flat @click.native="scriptdialog = false" @click="validateMacro()">Accept</v-btn>
                              </v-card-actions>
                            </v-card>
                          </v-dialog> -->
                        </v-toolbar-title>
                      </v-toolbar>
                      <v-tabs grow v:model='active' :scrollable="false">
                        <v-tabs-bar class="white scroll-box">
                          <v-tabs-slider color="light-blue darken-4"></v-tabs-slider>
                          <v-tabs-item v-for='data in fileName' :key='data' :href='data' style="font-size: 12px;">
                            <span style="color: #777777;">{{data}}</span>
                          </v-tabs-item>
                        </v-tabs-bar>
                      </v-tabs>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>
        </v-tabs-content>

        <!-- link data to preparation script -->
        <v-tabs-content id="tab-2">
          <v-card flat>
            <v-layout>
              <v-container fluid class="pdb0">
                <v-card color="white" tile flat>
                  <v-card-title>
                    <v-flex xs12 sm12 md4>
                      <v-btn round outline bottom color="primary" @click=""><v-icon left class="material-icons">add_circle_outline</v-icon> Create New Matching</v-btn>
                    </v-flex>
                  </v-card-title>
                  <v-data-table
                    v-bind:headers="headers"
                    v-bind:items="rowDataItem"
                    >
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-center">{{ props.item.source_name }}</td>
                      <td class="text-xs-center">{{ props.item.script_name }}</td>
                      <td class="text-xs-center">{{ props.item.latest_update }}</td>
                      <td class="text-xs-center">{{ props.item.auto_embed }}</td>
                      <td class="text-xs-center">
                        <v-btn small outline color="indigo" @click="previewData(props.item)">Preview</v-btn>
                      </td>
                    </template>
                  </v-data-table>
                </v-card>
              </v-container>
            </v-layout>
          </v-card>
        </v-tabs-content>
      </v-tabs-items>
    </v-tabs>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    scriptdialog: false,
    actiontabs: [{actname: 'Conversion'}, {actname: 'Format'}, {actname: 'Cleansing'}, {actname: 'Detect'}, {actname: 'Currency'}],
    localPath: '',
    localPathRules: [
      (v) => !!v || 'Local Path is required'
    ],
    isFile: false,
    fileAllowed: ['xlsm'],
    fileName: [],
    scriptName: [],
    dataHeader: [],
    pickedScript: '',
    actionList: [
      {
        'actionName': '',
        'targetCol': '',
        'targetValue1': '',
        'targetValue2': ''
      }
    ],
    tableHeader: [],
    headers: [
      { text: 'Source Name', sortable: false, align: 'center', value: 'sourceName' },
      { text: 'Script Name', sortable: false, align: 'center', value: 'importStatus' },
      { text: 'Recent Update', sortable: false, align: 'center', value: 'warning' },
      { text: 'Auto Embed', sortable: false, align: 'center', value: 'transDate' },
      { text: 'View Example', sortable: false, align: 'center', value: 'viewDetail' }
    ],
    rowDataItem: []
  }),
  created: function () {
    this.getScriptDir()
    this.getFileDir()
  },
  methods: {
    extractXls (fileUploadName) {
      console.log(fileUploadName)
      this.axios.post(process.env.API + '/extractBin',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname'),
            'macroName': fileUploadName['name']
          }
        }).then(() => {
        })
    },
    embedXls () {
      this.axios.post(process.env.API + '/embedbin',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          alert(response.data)
        })
    },
    setFileName () {
      this.getDownloadType()
      this.localPath = this.$refs.fileUpload.files[0].name
      if (this.fileAllowed.includes(this.getFileExtension(this.localPath)) && this.downloadFileType.includes(this.getFileExtension(this.localPath))) {
        if (this.$refs.fileUpload.files[0]) {
          this.isFile = true
        }
      } else {
        this.clearLocalPath()
        this.$swal('Only .xlsm is allowed to upload', '', 'warning')
      }
    },
    getDownloadType () {
      if (this.downloadType === 'XLSM File') {
        this.downloadTypeCode = '1'
      }
    },
    getFileExtension (filename) {
      return filename.split('.').pop()
    },
    clearLocalPath () {
      this.isFile = false
      this.localPath = ''
      this.$refs.fileUpload.value = ''
    },
    validateMacro () {
      if (this.$refs.fileUpload.files[0]) {
        this.addScript()
      } else {
        this.$swal('Please load your .xlsm file', '', 'warning')
      }
    },
    addScript () {
      this.axios.post(process.env.API + '/saveScriptConfig',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          },
          'script_name': this.$refs.fileUpload.files[0].name
        }).then((response) => {
          if (response.data.status === 'success') {
            this.$swal('Add script success', '', 'success')
            this.uploadMacro()
          } else if (response.data.status === 'exist file name') {
            this.$swal('Your script is exist', 'please rename your file', 'warning')
            this.clear()
          }
          this.clear()
        })
    },
    uploadMacro () {
      // console.log(this.$refs.fileUpload.value)
      // console.log(this.$refs.fileUpload.files[0].name)
      var data = new FormData()
      data.append('email', localStorage.getItem('email'))
      data.append('firstname', localStorage.getItem('firstname'))
      data.append('lastname', localStorage.getItem('lastname'))

      if (!this.$refs.fileUpload.files[0]) {
        if (this.$refs.fileUpload.value === '') {
          data.append('file', '')
        } else {
          this.$swal('Please select a file', '', 'error')
          return ''
        }
      } else {
        data.append('file', this.$refs.fileUpload.files[0])

        var me = this
        this.axios.post(process.env.API + '/uploadMacro', data).then(response => {
          if (response.data.status === 'success') {
            this.addSourceFromScript(this.$refs.fileUpload.files[0])
            this.getTableHeader(this.$refs.fileUpload.files[0])
          }
        }).catch(function (thrown) {
          if (me.axios.isCancel(thrown)) {
            console.log('Request canceled', thrown.message)
          }
        })
      }
      this.extractXls(this.$refs.fileUpload.files[0])
    },
    addSourceFromScript (fileUploadName) {
      this.axios.post(process.env.API + '/addSourceFromScript', {
        'user': {
          'email': localStorage.getItem('email'),
          'firstname': localStorage.getItem('firstname'),
          'lastname': localStorage.getItem('lastname'),
          'script_name': fileUploadName['name']
        }
      }).then((response) => {

      })
    },
    getTableHeader (fileUploadName) {
      this.axios.post(process.env.API + '/getTableHeader', {
        'user': {
          'email': localStorage.getItem('email'),
          'firstname': localStorage.getItem('firstname'),
          'lastname': localStorage.getItem('lastname'),
          'macroName': fileUploadName['name']
        }
      }).then((response) => {
        this.dataHeader = response.data
        console.log(response.data)
      })
    },
    getScriptDir () {
      this.axios.post(process.env.API + '/getScriptDir',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data) {
            // this.fileDir = response.data.fileDirectory
            this.scriptData = response.data
            for (var i = 0; i < this.scriptData.length; i++) {
              this.scriptName.push(response.data[i].script_name)
            }
            // console.log(this.scriptName)
          }
        })
    },
    getFileDir () {
      this.axios.post(process.env.API + '/getFileDir',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data) {
            this.fileData = response.data
            for (var i = 0; i < this.fileData.length; i++) {
              this.fileName.push(response.data[i].source_name)
            }
            console.log(response.data)
          }
        })
    },
    clear () {
      this.$refs.form.reset()
    },
    deleteMacro (scriptData) {
      var me = this
      console.log(scriptData)
      this.$swal({
        title: 'Are you sure to delete this script?',
        text: 'You would not be able to revert this!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(function (result) {
        me.axios.post(process.env.API + '/deleteScript',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'intelligent_script': {
              'script_name': scriptData
            }
          }).then((response) => {
            if (response.data.status === 'success') {
              me.scriptName.pop(scriptData)
              me.$swal(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              )
              me.clear()
            }
          })
      })
    },
    getDataFromId () {
      this.axios.post(process.env.API + '/getdatafromid',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          this.rowDataItem = response.data
        })
    }
  }
}
</script>

<style lang="css">
.scroll-box ::-webkit-scrollbar {
  height: .4em;
  width: .4em;
}
.scroll-box ::-webkit-scrollbar-thumb {
background: #E0E0E0;
border-radius: 10px;
}
.scroll-box ::-webkit-scrollbar-track {
border: 1px solid #E0E0E0;
border-radius: 10px;
}
.scroll-box ::-webkit-scrollbar-thumb:hover {
background: #BDBDBD;
opacity: 1;
-webkit-transition: all .5s;
}
.pdb0 {
  padding-bottom: 0px;
}
</style>
