<template>
  <div class="grey lighten-4 fullPage">
    <v-container fluid>
      <v-card flat>
        <v-container fluid style="padding: 0px;">
          <v-toolbar class="light-blue darken-4 subheading white--text" dark>
            <v-toolbar-title>Help Center</v-toolbar-title>
          </v-toolbar>
          <v-card class="">
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs12 md10 offset-md1>
                  <v-expansion-panel popout>
                    <v-expansion-panel-content v-model="firstHelp">
                      <div slot="header">
                        <span style="font-size: 1.3em">
                          <v-icon>help_outline</v-icon> ข้อมูลของฉันถูกเก็บไว้ที่ไหน?
                        </span>
                      </div>
                      <v-card>
                        <v-card-text class="grey lighten-4">
                          <p>การเก็บข้อมูลของคุณ จะถูกเก็บไว้แยกกันระหว่างข้อมูล Metadata กับข้อมูลที่นำเข้าจากหน้า Workbench</p>
                          <v-data-table
                            v-bind:headers="headers"
                            :items="items"
                            hide-actions
                            class="elevation-1">
                          <template slot="items" slot-scope="props">
                            <td>{{ props.item.name }}</td>
                            <td class="text-xs-right"><a :href="props.item.ip">{{ props.item.ip }}</a></td>
                            <td class="text-xs-right">{{ props.item.db }}</td>
                            <td class="text-xs-right">{{ props.item.table }}</td>
                          </template>
                        </v-data-table>
                        </v-card-text>
                      </v-card>
                    </v-expansion-panel-content>
                    <!-- <v-expansion-panel-content>
                      <div slot="header">
                        <span style="font-size: 1.3em">
                          <v-icon>help_outline</v-icon> ข้อมูลของฉันถูกเก็บไว้ที่ไหน?
                        </span>
                      </div>
                      <v-card>
                        <v-card-text class="grey lighten-3">
                          <div>
                            การเก็บข้อมูลของคุณ จะถูกเก็บไว้แยกกันระหว่างข้อมูล Metadata กับข้อมูลที่นำเข้าจากหน้า Workbench
                          </div>
                        </v-card-text>
                      </v-card>
                    </v-expansion-panel-content> -->
                  </v-expansion-panel>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-container>
      </v-card>
    </v-container>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        firstHelp: true,
        headers: [
          {
            text: 'Name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'phpMyAdmin\'s IP Address', value: 'ip', sortable: false },
          { text: 'Database', value: 'db', sortable: false },
          { text: 'Table', value: 'ip', sortable: false }
        ],
        items: [
          { name: 'Database สำหรับเก็บข้อมูล Source ID หน้า Metadata', ip: 'http://203.154.58.151:8080/', db: 'intelligist', table: 'metadataTable' },
          { name: 'Database สำหรับเก็บข้อมูลที่นำเข้าจากหน้า Workbench', ip: 'http://203.154.58.242:8080/', db: '"U" ตามด้วย user id ของผู้ใช้', table: 'เลข source id' }
        ]
      }
    },
    props: {
      source: String
    },
    methods: {
    }
  }
</script>

<style lang="css" scoped>
  .fullPage {
    min-height: calc(100vh - 48px);
  }
</style>
