<template lang="html">
  <v-toolbar dense class="blueIntel" dark app clipped-left style="background-color: #1DA6DF;">
    <v-toolbar-title class="cursorNav subheading" @click="goFirstPage()">
      INTELLIGIST COMPANY LIMITED
    </v-toolbar-title>
  </v-toolbar>
</template>

<script>
export default {
  methods: {
    goLogin () {
      this.$router.push('/')
    }
  }
}
</script>

<style lang="css">
.cursorNav {
  cursor: pointer;
}
.cursorNav:hover {
  opacity: 0.9;
}
</style>
