 <template>
  <div class="">
  <v-app id="inspire">
    <div class="scroll-bar-wrap">
      <div class="">
        <v-navigation-drawer class="scroll-box light-blue darken-4" style="width: 130px;background-color: #1DA6DF;padding-top: 5px; padding-bottom: 5px;"
          enable-resize-watcher
          persistent
          clipped
          app
          v-model="drawer">
          <div>
            <div class="cursorNav" @click="chpage(item['code'], index)" :style="item['state']" v-for="(item, index) in items" :key="index">
              <center>
                <img class="imgDrawer" :src="item['icon']" alt="">
                <p class="body-2" style="color: white;"> {{ item['title'] }} </p>
              </center>
              <v-divider></v-divider>
            </div>
          </div>
        </v-navigation-drawer>
      </div>
      <!-- <div class="cover-bar"></div> -->
    </div>
    <v-toolbar dense class="blueIntel zIndex99" dark app clipped-left fixed>
      <v-toolbar-title class="ml-0 pl-3 cursorNav subheading hidden-sm-and-down" @click="goFirstPage()" >
        <v-toolbar-side-icon @click.stop="drawer = !drawer" class="hidden-lg-and-up"></v-toolbar-side-icon>
        INTELLIGIST COMPANY LIMITED
      </v-toolbar-title>
      <v-toolbar-title class="cursorNav body-2 subheading hidden-md-and-up" @click="goFirstPage()" >
        <v-toolbar-side-icon @click.stop="drawer = !drawer" class="hidden-lg-and-up"></v-toolbar-side-icon>
        INTELLIGIST COMPANY LIMITED
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat @click="chpage('help', -1)">
          <v-menu offset-y class="">
            <span slot="activator">
              <v-icon dark>help</v-icon>
              <span>Help</span>
              <!-- <v-icon dark>arrow_drop_down</v-icon> -->
            </span>
          </v-menu>
        </v-btn>
        <v-btn flat>
          <v-menu offset-y class="">
            <span slot="activator">
              <v-icon dark>account_circle</v-icon>
              <span>{{ name }}</span>
              <v-icon dark>arrow_drop_down</v-icon>
            </span>
            <v-list>
              <v-list-tile v-for="(dropItem, index) in dropItems" :key="index" @click="actionDropdown(dropItem['title'])">
                <v-list-tile-action>
                  <v-icon>{{ dropItem['icon'] }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>{{ dropItem['title'] }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-menu>
        </v-btn>
      </v-toolbar-items>
      <div class="vertical-line hidden-md-and-up"></div>
      <v-btn icon class="hidden-md-and-up">
        <v-menu offset-y class="">
          <span slot="activator">
            <v-icon class="cursorNav">apps</v-icon>
          </span>
          <v-list class="hidden-md-and-up">
            <v-list-tile avatar>
            <v-list-tile-avatar>
              <v-icon>account_circle</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <span>{{ name }}</span>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list>
          <v-list-tile v-for="(dropItem, index) in dropItems" :key="index" @click="actionDropdown(dropItem['title'])">
            <v-list-tile-action>
              <v-icon>{{ dropItem['icon'] }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ dropItem['title'] }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        </v-menu>
      </v-btn>
    </v-toolbar>
  </v-app>
  </div>
</template>

<script>
  export default {
    data: () => ({
      test: true,
      dialog: false,
      drawer: true,
      name: '',
      index: 0,
      items: [
        { id: '1', code: 'metadata', title: 'METADATA', icon: '/static/iconNavbarDrawer/iconMetadata.png', state: '' },
        { id: '2', code: 'dashboard', title: 'INTELLIGIST DASHBOARD', icon: '/static/iconNavbarDrawer/iconIntelligist.png', state: '' },
        { id: '3', code: 'uploadmornitoring', title: 'UPLOAD MORNITORING', icon: '/static/iconNavbarDrawer/iconUpload.png', state: '' },
        { id: '4', code: 'datapreparation', title: 'DATA PREPARATION', icon: '/static/iconNavbarDrawer/iconPreparation.png', state: '' },
        { id: '5', code: 'intelligistsharing', title: 'INTELLIGIST SHARING', icon: '/static/iconNavbarDrawer/iconShare.png', state: '' },
        { id: '6', code: 'management', title: 'MANAGEMENT CONSOLE', icon: '/static/iconNavbarDrawer/iconManage.png', state: '' },
        { id: '7', code: 'social', title: 'SOCIAL MONITORING', icon: '/static/iconNavbarDrawer/social.png', state: '' }
        // { id: '8', code: 'generatewizard', title: 'GENERATE WIZARD', icon: '/static/iconNavbarDrawer/generate.png', state: '' }
      ],
      dropItem: '',
      dropItems: [
        { title: 'LOGOUT', icon: 'power_settings_new' }
      ],
      getPathName: ''
    }),
    props: {
      source: String
    },
    created () {
      console.log('alsdkflskdjflkjlsadkjflaksdjflkj')
      this.name = localStorage.getItem('firstname') + ' ' + localStorage.getItem('lastname')
      this.highLightMenu()
      this.getUserRole()
    },
    methods: {
      getUserRole () {
        this.axios.post(process.env.API + '/mgmt/getOwnRoles',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            }
          }).then((response) => {
            if (response.data) {
              if (response.data.result === 'Just for user level') {
                localStorage.setItem('UAC', '*')
              } else {
                var resultData = []
                if (response.data.result) {
                  resultData = response.data.result.sort().join()
                }
                localStorage.setItem('UAC', resultData)
                var menuAvailable = this.items.filter(function (el) {
                  return resultData.indexOf(el.id) !== -1
                })
                this.items = menuAvailable.sort()
              }
              // else if (localStorage.getItem('isAdmin') === 'true') {
              //   localStorage.setItem('UAC', '2')
              // }
            }
          })
      },
      goFirstPage () {
        if (localStorage.getItem('UAC') === '') {
          this.$router.push('/sorry')
        } else {
          this.$router.push('/portal')
        }

        // this.chpage('dashboard', 1)
        this.highLightMenu()
      },
      highLightMenu () {
        for (var i = 0; i < this.items.length; i++) {
          if (this.$route.path.split('/')[1] === this.items[i]['code']) {
            this.items[i]['state'] = ''
          } else {
            this.items[i]['state'] = 'opacity: 0.3'
          }
        }
      },
      actionDropdown (title) {
        if (title === 'LOGOUT') {
          this.axios.post(process.env.API + '/logout',
            {
              'email': localStorage.getItem('email')
            }).then((response) => {
              if (response.data) {
                // console.log(response.data.status)
              }
            })
          localStorage.clear()
          this.$router.push('/')
        }
      },
      chpage (page, index) {
        if (page === 'dashboard') {
          // if (localStorage.getItem('tabName')) {
          //   this.getPathName = localStorage.getItem('tabName')
          // } else {
          //   this.getPathName = 'bank'
          // }
          // this.$router.push('/dashboard/' + this.getPathName)
          this.$router.push('/dashboard')
        } else if (page === 'management') {
          this.$router.push('/management/mgmtusers')
        } else {
          this.$router.push('/' + page)
        }
        for (var i = 0; i < this.items.length; i++) {
          if (i === index) {
            this.items[i]['state'] = ''
          } else {
            this.items[i]['state'] = 'opacity: 0.3'
          }
        }
      }
    }
  }
</script>

<style lang="css" scoped>
.zIndex99 {
  z-index: 99;
}
.application {
  min-height: 48px;
  padding-left: 130px;
}
.padBody {
  padding: 48px 0px 0px 130px !important;
}
.blueIntel {
  background-color: #1DA6DF !important;
}
.whiteText {
  color: white;
}
.vertical-line {
  width: 3px;
  background-color: #fff !important;
  height: 50%;
  margin: 5px !important;
}
.cursorNav {
  cursor: pointer;
}
.cursorNav:hover {
  opacity: 0.9;
}
.imgDrawer {
  margin-top: 15px;
  width: 25px;
  cursor: pointer;
}
.scroll-box::-webkit-scrollbar {
  width: .4em;
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.scroll-box::-webkit-scrollbar-thumb {
  background: #1DA6DF;
}
.cover-bar {
  position: absolute;
  background: #fafafa;
  height: 100%;
  top: 0;
  right: 0;
  width: .4em;
  -webkit-transition: all .5s;
  opacity: 1;
}
/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
   opacity: 0;
  -webkit-transition: all .5s;
}
@media only screen and (max-width: 1264px) {
  .padBody {
    padding: 48px 0px 0px 0px !important;
  }
  .application {
    min-height: 48px;
    padding-left: 0px;
  }
}
</style>
