<template>
  <div class="">
    <navigationbar/>
    <div class="application">
      <router-view/>
    </div>
  </div>
</template>

<script>
import navigationbar from './navigationbar'
export default {
  components: {
    navigationbar
  },
  data: () => ({
    dialog: false,
    drawer: true,
    items: [
      { code: 'metadata', title: 'METADATA', icon: '/static/iconNavbarDrawer/iconMetadata.png', state: '' },
      { code: 'dashboard', title: 'INTELLIGIST DASHBOARD', icon: '/static/iconNavbarDrawer/iconIntelligist.png', state: '' },
      { code: 'uploadmornitoring', title: 'UPLOAD MORNITORING', icon: '/static/iconNavbarDrawer/iconUpload.png', state: '' },
      { code: 'datapreparation', title: 'DATA PREPARATION', icon: '/static/iconNavbarDrawer/iconPreparation.png', state: '' },
      { code: 'intelligistsharing', title: 'INTELLIGIST SHARING', icon: '/static/iconNavbarDrawer/iconShare.pngs', state: '' },
      { code: 'managementconsole', title: 'MANAGEMENT CONSOLE', icon: '/static/iconNavbarDrawer/iconManage.png', state: '' }
    ],
    dropItem: [
      { title: 'EDIT', icon: 'edit' },
      { title: 'LOGOUT', icon: 'face' }
    ]
  }),
  props: {
    source: String
  },
  methods: {
    goLogin () {
      this.$router.push('/')
    },
    chpage (page, index) {
      this.$router.push('/' + page)
      for (var i = 0; i < this.items.length; i++) {
        if (i === index) {
          this.items[i]['state'] = ''
        } else {
          this.items[i]['state'] = 'opacity: 0.3'
        }
      }
    }
  }
}
</script>

<style lang="css" scoped>
.application {
  min-height: 48px;
  padding-left: 130px;
}
.padBody {
  padding: 48px 0px 0px 130px !important;
}
.blueIntel {
  background-color: #1DA6DF !important;
}
.whiteText {
  color: white;
}
.vertical-line{
  width: 1px;
  background-color: #fff;
  height: 50%;
}
.cursorNav {
  cursor: pointer;
}
.cursorNav:hover {
  opacity: 0.9;
}
.imgDrawer {
  margin-top: 15px;
  width: 25px;
  cursor: pointer;
}
.scroll-box::-webkit-scrollbar {
  width: .4em;
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.scroll-box::-webkit-scrollbar-thumb {
  background: #1DA6DF;
}
.cover-bar {
  position: absolute;
  background: #fafafa;
  height: 100%;
  top: 0;
  right: 0;
  width: .4em;
  -webkit-transition: all .5s;
  opacity: 1;
}
/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
   opacity: 0;
  -webkit-transition: all .5s;
}
@media only screen and (max-width: 1264px) {
  .padBody {
    padding: 48px 0px 0px 0px !important;
  }
  .application {
    padding-left: 0px;
  }
}
</style>
