<template>
  <div class="">
    <navigationbar/>
    <div class="application">
      <router-view/>
      <!-- <div class="hidden-sm-and-down"> -->
        <v-layout row wrap>
          <v-flex xs12>
            <v-card dark tile flat style="height: 93vh; background-color: #F2F2F2; color: black; ">
              <div class="goCenter" style="position: relative; top: 0; left: 0;">
                <div class="">
                  <v-layout>
                    <v-flex xs12 >
                      <v-card>
                        <div class="centerLogo">
                          <img src="/static/stop.png" alt="" height="200px">
                          <!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
                        </div>
                        <v-card-title primary-title>
                          <div>
                            <h3 class="headline mb-0">You cannot access this page.</h3>
                            <div>Seem like you're not have permissions. Please contact the administrator.</div>
                          </div>
                        </v-card-title>
                        <!-- <v-card-actions>
                          <v-btn flat color="orange">Share</v-btn>
                          <v-btn flat color="orange">Explore</v-btn>
                        </v-card-actions> -->
                      </v-card>
                    </v-flex>
                  </v-layout>
                </div>
              </div>
              <!-- <div style="position: absolute; right: 4%; bottom: 3%; display: flex; align-items: center;">
                <div class="">
                  <img src="/static/logo.png" class="logoIntel" alt="">
                </div>
                <div class="vertical-line" style="height: 45px;"></div>
                <div class="">
                  <p class="mgb-0 body-2">Self-Service <br> Data Science <br> Platform </p>
                </div>
              </div> -->
            </v-card>
          </v-flex>
        </v-layout>
      <!-- </div> -->
    </div>
  </div>
</template>

<script>
import navigationbar from './navigationbar'
export default {
  components: {
    navigationbar
  },
  data: () => ({
    dialog: false,
    drawer: true,
    items: [
      { id: '1', code: 'metadata', title: 'METADATA', icon: '/static/iconNavbarDrawer/iconMetadata.png', state: '' },
      { id: '2', code: 'dashboard', title: 'INTELLIGIST DASHBOARD', icon: '/static/iconNavbarDrawer/iconIntelligist.png', state: '' },
      { id: '3', code: 'uploadmornitoring', title: 'UPLOAD MORNITORING', icon: '/static/iconNavbarDrawer/iconUpload.png', state: '' },
      { id: '4', code: 'datapreparation', title: 'DATA PREPARATION', icon: '/static/iconNavbarDrawer/icon_1.PNG', state: '' },
      { id: '5', code: 'intelligistsharing', title: 'INTELLIGIST SHARING', icon: '/static/iconNavbarDrawer/icon_2.PNG', state: '' },
      { id: '6', code: 'management', title: 'MANAGEMENT CONSOLE', icon: '/static/iconNavbarDrawer/icon_3.PNG', state: '' },
      { id: '7', code: 'social', title: 'SOCIAL MONITORING', icon: '/static/iconNavbarDrawer/social.png', state: '' }
    ],
    dropItem: [
      { title: 'EDIT', icon: 'edit' },
      { title: 'LOGOUT', icon: 'face' }
    ]
  }),
  props: {
    source: String
  },
  methods: {
    goLogin () {
      this.$router.push('/')
    },
    chpage (page, index) {
      this.$router.push('/' + page)
      for (var i = 0; i < this.items.length; i++) {
        if (i === index) {
          this.items[i]['state'] = ''
        } else {
          this.items[i]['state'] = 'opacity: 0.3'
        }
      }
    }
  }
}
</script>

<style lang="css" scoped>
.centerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #424951;
  padding: 30px;
}
.mgb-0 {
  margin-bottom: 0px !important;
}
.goCenter {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/* .logoIntel {
  width: 100px;
}
.vertical-line{
  width: 2px;
  background-color: #007CC3;
  height: 100%;
  float: left;
  margin: 18px;
} */
.application {
  min-height: 48px;
  padding-left: 130px;
}
.padBody {
  padding: 48px 0px 0px 130px !important;
}
.blueIntel {
  background-color: #1DA6DF !important;
}
.whiteText {
  color: white;
}
.vertical-line{
  width: 1px;
  background-color: #fff;
  height: 50%;
}
.cursorNav {
  cursor: pointer;
}
.cursorNav:hover {
  opacity: 0.9;
}
.imgDrawer {
  margin-top: 15px;
  width: 25px;
  cursor: pointer;
}
.scroll-box::-webkit-scrollbar {
  width: .4em;
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.scroll-box::-webkit-scrollbar-thumb {
  background: #1DA6DF;
}
.cover-bar {
  position: absolute;
  background: #fafafa;
  height: 100%;
  top: 0;
  right: 0;
  width: .4em;
  -webkit-transition: all .5s;
  opacity: 1;
}
/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
   opacity: 0;
  -webkit-transition: all .5s;
}
@media only screen and (max-width: 1264px) {
  .padBody {
    padding: 48px 0px 0px 0px !important;
  }
  .application {
    padding-left: 0px;
  }
}
</style>
