<template lang='html'>
  <div>
  </div>
</template>
<script>

export default{
  mounted () {
    var miserables =
      {
        'nodes':
        [
    { 'name': 'flare', 'group': 1 },
    { 'name': 'analytics', 'group': 2 },
    { 'name': 'cluster', 'group': 4 },
    { 'name': 'graph', 'group': 2 }

        ],

        'links':
        [
    { 'source': 0, 'target': 1, 'value': 1 },
    { 'source': 1, 'target': 2, 'value': 10 },
    { 'source': 1, 'target': 3, 'value': 6 }
        ]
      }

    var margin = {top: 120, right: 100, bottom: 10, left: 120}
    var width = 500
    var height = 500

    var x = d3.scale.ordinal().rangeBands([0, width])
    var z = d3.scale.linear().domain([0, 4]).clamp(true)
    var c = d3.scale.category10().domain(d3.range(10))
    console.log(z)
    console.log(c)
    var svg = d3.select('body').append('svg')
        .attr('width', width + margin.left + margin.right)
        .attr('height', height + margin.top + margin.bottom)
        .style('margin-left', margin.left + 'px')
        .style('margin-top', margin.top + 'px')
      .append('g')
        .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')

    var matrix = []
    var nodes = miserables.nodes
    var n = nodes.length

  // Compute index per node.
    nodes.forEach(function (node, i) {
      node.index = i
      node.count = 0
      matrix[i] = d3.range(n).map(function (j) { return {x: j, y: i, z: 0} })
    })

  // Convert links to matrix count character occurrences.
    miserables.links.forEach(function (link) {
      matrix[link.source][link.target].z += link.value
      matrix[link.target][link.source].z += link.value
      matrix[link.source][link.source].z += link.value
      matrix[link.target][link.target].z += link.value
      nodes[link.source].count += link.value
      nodes[link.target].count += link.value
    })

  // Precompute the orders.
    var orders = {
      name: d3.range(n).sort(function (a, b) { return d3.ascending(nodes[a].name, nodes[b].name) }),
      count: d3.range(n).sort(function (a, b) { return nodes[b].count - nodes[a].count }),
      group: d3.range(n).sort(function (a, b) { return nodes[b].group - nodes[a].group })
    }

  // The default sort order.
    x.domain(orders.name)

    svg.append('rect')
        .attr('class', 'background')
        .attr('width', width)
        .attr('height', height)

    var row = svg.selectAll('.row')
        .data(matrix)
      .enter().append('g')
        .attr('class', 'row')
        .attr('transform', function (d, i) { return 'translate(0,' + x(i) + ')' })
        .each(row)

    row.append('line')
        .attr('x2', width)

    row.append('text')
        .attr('x', -6)
        .attr('y', x.rangeBand() / 5)
        .attr('dy', '.32em')
        .attr('text-anchor', 'end')
        .text(function (d, i) { return nodes[i].name })

    var column = svg.selectAll('.column')
        .data(matrix)
      .enter().append('g')
        .attr('class', 'column')
        .attr('transform', function (d, i) { return 'translate(' + x(i) + ')rotate(-90)' })

    column.append('line')
        .attr('x1', -width)

    column.append('text')
        .attr('x', 6)
        .attr('y', x.rangeBand() / 5)
        .attr('dy', '.32em')
        .attr('text-anchor', 'start')
        .text(function (d, i) { return nodes[i].name })

    function row2 (row) {
      var cell = d3.select(this).selectAll('.cell')
          .data(row.filter(function (d) { return d.z }))
        .enter().append('rect')
          .attr('class', 'cell')
          .attr('x', function (d) { return x(d.x) })
          .attr('width', x.rangeBand())
          .attr('height', x.rangeBand())
          .style('fill-opacity', function (d) { return z(d.z) })
          .style('fill', function (d) { return nodes[d.x].group === nodes[d.y].group ? c(nodes[d.x].group) : null })
          .on('mouseover', mouseover)
          .on('mouseout', mouseout)
      console.log(cell)
    }
    console.log(row2())
    function mouseover (p) {
      d3.selectAll('.row text').classed('active', function (d, i) { return i === p.y })
      d3.selectAll('.column text').classed('active', function (d, i) { return i === p.x })
    }

    function mouseout () {
      d3.selectAll('text').classed('active', false)
    }

    d3.select('#order').on('change', function () {
      clearTimeout(timeout)
      order(this.value)
    })

    function order (value) {
      x.domain(orders[value])

      var t = svg.transition().duration(2500)

      t.selectAll('.row')
          .delay(function (d, i) { return x(i) * 4 })
          .attr('transform', function (d, i) { return 'translate(0,' + x(i) + ')' })
        .selectAll('.cell')
          .delay(function (d) { return x(d.x) * 4 })
          .attr('x', function (d) { return x(d.x) })

      t.selectAll('.column')
          .delay(function (d, i) { return x(i) * 4 })
          .attr('transform', function (d, i) { return 'translate(' + x(i) + ')rotate(-90)' })
    }

    var timeout = setTimeout(function () {
      order('group')
      d3.select('#order').property('selectedIndex', 2).node().focus()
    }, 5000)
  }
}
</script>
<style scoped>
.background {
fill: #eee;
}

line {
stroke: #fff;
}

text {
font: 10px sans-serif;
}

text.active {
fill: red;
}
</style>
