<template lang="html">
  <v-card color="grey lighten-4">
    <v-tabs light>
      <v-toolbar dark style="background-color: #1DA6DF;" transition="bottom-transition">
        <v-tabs-bar style="flex: 0 0 auto; background-color: #1DA6DF; margin-left: 0px;">
          <v-btn flat icon @click="backMetadata()">
            <v-icon dark>keyboard_arrow_left</v-icon>
          </v-btn>
          <v-toolbar-title class="white--text">{{ sheetName }}</v-toolbar-title>
          <v-tabs-slider color="white"></v-tabs-slider>
          <v-container v-if="loadProgress < 100" style="padding: 0% 20%; max-width: 80% !important;">
            <v-layout row wrap style="padding-top: 0.8%;">
              <v-flex sm6 style="text-align: left">{{ countdowner }}</v-flex>
              <v-flex sm6 style="text-align: right">{{ loadProgress + '%' }}</v-flex>
              <v-flex sm12 ><v-progress-linear v-model="loadProgress"></v-progress-linear></v-flex>
            </v-layout>
          </v-container>
          <v-spacer></v-spacer>
          <v-tabs-item href="#tabPreview" class="">
            <v-tooltip bottom>
              <v-btn slot="activator" flat icon>
                <v-icon>grid_on</v-icon>
              </v-btn>
              <span>Preview data source</span>
            </v-tooltip>
          </v-tabs-item>
          <v-tabs-item href="#tabManage" class="primary--text">
            <v-tooltip bottom>
              <v-btn slot="activator" flat icon>
                <v-icon>format_list_bulleted</v-icon>
              </v-btn>
              <span>Manage metadata</span>
            </v-tooltip>
          </v-tabs-item>
        </v-tabs-bar>
      </v-toolbar>
      <v-tabs-items :touchless="true">
        <v-tabs-content id="tabPreview" lazy>
          <v-tabs class="mgt10">
            <div v-show="countTab > 1">
              <v-tabs-bar style="background-color: #F5F5F5;" lazy>
                <v-tabs-slider color="#1DA6DF"></v-tabs-slider>
                <v-tabs-item
                  v-for="i in countTab"
                  :key="i"
                  :href="'#tabNameID-' + i">
                  {{ tabName[i-1] }}
                </v-tabs-item>
              </v-tabs-bar>
            </div>
            <v-tabs-items :touchless="true">
              <v-tabs-content
                lazy
                class="overflowable"
                v-for="i in countTab"
                :key="i"
                :id="'tabNameID-' + i">
                <v-container>
                  <v-data-table v-if="countTab > 1"
                  class="elevation-1 box"
                  v-bind:headers="resultViewHeader[i-1]"
                  v-bind:items="resultViewData[i-1]"
                  v-bind:search="search"
                  :total-items="totalItems"
                  :loading="loadingViewData"
                  :rows-per-page-items="[1000, 2500, 5000, {text:'All', value: -1}]">
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-center" v-for="i in props.item.length">{{ props.item[i-1] }}</td>
                  </template>
                  <template slot="no-data">
                    <v-alert :value="true" color="error" icon="warning">
                      Sorry, nothing to display here :(
                    </v-alert>
                  </template>
                </v-data-table>

                <v-data-table v-else
                class="elevation-1 boxCountTab"
                v-bind:headers="resultViewHeader[i-1]"
                v-bind:items="resultViewData[i-1]"
                v-bind:search="search"
                :total-items="totalItems"
                :loading="loadingViewData"
                :rows-per-page-items="[1000, 2500, 5000, {text:'All', value: -1}]">
                <template slot="items" slot-scope="props">
                  <td class="text-xs-center" v-for="i in props.item.length">{{ props.item[i-1] }}</td>
                </template>
                <template slot="no-data">
                  <v-alert :value="true" color="error" icon="warning">
                    Sorry, nothing to display here :(
                  </v-alert>
                </template>
              </v-data-table>
              </v-container>
            </v-tabs-content>
            </v-tabs-items>
          </v-tabs>
        </v-tabs-content>
      </v-tabs-items>
      <v-tabs-items :touchless="true">
        <v-tabs-content id="tabManage" lazy>
          <v-tabs class="mgt10">
            <div v-show="countTab > 1">
              <v-tabs-bar style="background-color: #F5F5F5;" lazy>
                <v-tabs-slider color="#1DA6DF"></v-tabs-slider>
                <v-tabs-item
                  v-for="i in countTab"
                  :key="i"
                  :href="'#tabMetaID-' + i">
                  {{ tabName[i-1] }}
                </v-tabs-item>
              </v-tabs-bar>
            </div>
            <v-tabs-items :touchless="true">
              <v-tabs-content
                lazy
                class="overflowable"
                v-for="i in countTab"
                :key="i"
                :id="'tabMetaID-' + i">
                <v-container>
                  <v-data-table v-if="countTab > 1"
                    class="elevation-1 box"
                    v-bind:headers="metadataViewHeader"
                    v-bind:items="metadataViewData[i-1]"
                    v-bind:search="search"
                    v-bind:pagination.sync="paginationView"
                    :total-items="totalItems"
                    :loading="loadingViewData"
                    :rows-per-page-items="[1000, 2500, 5000, {text:'All', value: -1}]">
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-center" style="width: 50%;" v-for="i in props.item.length">{{ props.item[i-1] }}</td>
                    </template>
                    <template slot="no-data">
                      <v-alert :value="true" color="error" icon="warning">
                        Sorry, nothing to display here :(
                      </v-alert>
                    </template>
                  </v-data-table>

                  <v-data-table v-else
                    class="elevation-1 boxCountTab"
                    v-bind:headers="metadataViewHeader"
                    v-bind:items="metadataViewData[i-1]"
                    v-bind:search="search"
                    v-bind:pagination.sync="paginationView"
                    :total-items="totalItems"
                    :loading="loadingViewData"
                    :rows-per-page-items="[1000, 2500, 5000, {text:'All', value: -1}]">
                    <template slot="items" slot-scope="props">
                      <td class="text-xs-center" style="width: 50%;" v-for="i in props.item.length">{{ props.item[i-1] }}</td>
                    </template>
                    <template slot="no-data">
                      <v-alert :value="true" color="error" icon="warning">
                        Sorry, nothing to display here :(
                      </v-alert>
                    </template>
                  </v-data-table>
                </v-container>
              </v-tabs-content>
            </v-tabs-items>
          </v-tabs>
        </v-tabs-content>
      </v-tabs-items>
    </v-tabs>
  </v-card>
</template>

<script>
import metaData from '../metaData'
export default {
  components: {
    metaData
  },
  data () {
    return {
      sheetName: '',
      dataForShow: [],
      countTab: 1,
      tabName: [],
      totalItems: 0,
      items: [],
      sourceID: '',
      search: '',
      loadingViewData: true,
      paginationView: {descending: true},
      resultViewData: [],
      resultViewHeader: [],
      metadataViewData: [],
      metadataViewHeader: [
        { text: 'Name', sortable: false, align: 'center', value: 'name' },
        { text: 'Type', sortable: false, align: 'center', value: 'type' }
      ],
      loadProgress: 0,
      countdowner: 'Downloading... ',
      startCDTime: new Date().getTime(),
      flagCountdown: false
    }
  },
  created () {
    this.clearData()
    this.getDataForView()
  },
  watch: {
    loadingViewData () {
      // console.log(this.loadingViewData)
      if (this.loadingViewData === false) {
        $('html').css('overflow-y', 'hidden')
      } else {
        $('html').css('overflow-y', 'auto')
      }
    },
    loadProgress () {
      if (this.loadProgress !== 100 && !this.flagCountdown) {
        this.flagCountdown = true
        var now = new Date().getTime()
        // Find countdown time from end - start, multiply 4 for Approx.
        var processTime = parseInt((now - this.startCDTime) * 3)
        var endCDTime = new Date(now + processTime).getTime()

        // Update the count down every 1 second
        var me = this
        var valueInterval = setInterval(function () {
          // Get todays date and time
          var now = new Date().getTime()

          // Find the distance between now an the count down date
          var distance = endCDTime - now

          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24))
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
          var seconds = Math.floor((distance % (1000 * 60)) / 1000)
          // Output the result in an element with id="demo"
          var txt = 'Downloading... '
          if (days > 0) { txt = txt + days + 'd ' }
          if (hours > 0) { txt = txt + hours + 'h ' }
          if (minutes > 0) { txt = txt + minutes + 'm ' }
          if (seconds > 0) { txt = txt + seconds + 's ' }
          if (seconds === 0 && minutes === 0 && hours === 0 && days === 0) { txt = 'Preparing... ' }

          me.countdowner = txt
          if (distance < 0) {
            clearInterval(valueInterval)
            me.flagCountdown = false
            me.countdowner = 'Preparing... '
          }
        }, 1000)
      }
    }
  },
  methods: {
    backMetadata () {
      this.clearData()
      $('html').css('overflow-y', 'auto')
      localStorage.removeItem('sourceID')
      localStorage.removeItem('sheetName')
      this.$router.push({path: '/metadata', query: { currentMetaTab: 'tab-2' }})
    },
    clearData () {
      this.dataForShow = []
      this.resultViewData = []
      this.resultViewHeader = []
      this.metadataViewData = []
      this.countTab = 1
      this.tabName = []
      this.sourceID = ''
      this.sheetName = ''
      $('html').css('overflow-y', 'auto')
    },
    getDataForView () {
      this.sourceID = localStorage.getItem('sourceID')
      this.sheetName = localStorage.getItem('sheetName')
      this.loadingViewData = true
      var me = this
      var config = {
        onDownloadProgress: function (progressEvent) {
          me.loadProgress = Math.round((progressEvent.loaded * 100) / progressEvent.total)
        }
      }
      this.axios.post(process.env.API + '/getDataFromMySQL',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          },
          'source_id': this.sourceID
        }, config).then((response) => {
          if (response.data.result) {
            var respData = response.data.result
            var keyTab = Object.keys(respData)
            this.countTab = keyTab.length

            this.resultViewHeader = new Array(this.countTab)
            this.resultViewData = new Array(this.countTab)
            this.metadataViewData = new Array(this.countTab)

            var onlyTabName = ''
            // for (i = 0; i < this.countTab; i++) {
            //
            // }

            for (var sh = 0; sh < this.countTab; sh++) {
              onlyTabName = keyTab[sh].split('_')[1] // cut number before tabname off
              if (onlyTabName) {
                this.tabName.push('Sheet ' + parseInt(onlyTabName))
              }
              var sheet = respData[keyTab[sh]]
              var tmpHeader = new Array(sheet[0].length)
              var tmpType = new Array(sheet[0].length)
              for (var i = 0; i < sheet[0].length; i++) {
                if (i === 0) {
                  tmpHeader[i] = { text: this.decode_utf8(sheet[0][i]) + ' (int)', sortable: false, align: 'center', value: '' }
                } else {
                  tmpHeader[i] = { text: this.decode_utf8(sheet[0][i]) + ' (string)', sortable: false, align: 'center', value: '' }
                }
                tmpType[i] = [this.decode_utf8(sheet[0][i]), 'string']
              }
              this.resultViewHeader[sh] = tmpHeader
              this.resultViewData[sh] = sheet.slice(1, sheet.length)
              this.metadataViewData[sh] = tmpType
              this.loadingViewData = false
            }
          }
        })
    },
    getDataForView2 () { // FROM MONGODB
      this.sourceID = localStorage.getItem('sourceID')
      this.sheetName = localStorage.getItem('sheetName')
      this.loadingViewData = true
      var me = this
      var config = {
        onDownloadProgress: function (progressEvent) {
          me.loadProgress = Math.round((progressEvent.loaded * 100) / progressEvent.total)
        }
      }

      this.startCDTime = new Date().getTime()

      this.axios.post(process.env.API + '/getDataTable',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          },
          'source_id': this.sourceID
        }, config).then((response) => {
          if (response.data) {
            try {
              this.dataForShow = response.data.result
              var i = 0
              var j = 0
              var idx = 0
              this.countTab = Object.keys(this.dataForShow).length
              var onlyTabName = ''
              for (i = 0; i < this.countTab; i++) {
                onlyTabName = Object.keys(this.dataForShow)[i].split('_')[1] // cut number before tabname off
                if (onlyTabName) {
                  this.tabName.push(onlyTabName)
                }
              }

              this.resultViewData = new Array(this.countTab)   // Data
              this.resultViewHeader = new Array(this.countTab) // Header
              this.metadataViewData = new Array(this.countTab)

              for (var val in this.dataForShow) {
                var col = []
                var row = []

                var key = this._.keys(this.dataForShow[val]).sort(this.sortAlphabeticallyWithOnLength)
                var keyLen = key.length
                for (i = 0; i < keyLen; i++) {
                  if (key[i] !== 'ts') {
                    if (!col.includes(key[i].split('_', 2)[0])) {
                      col.push(key[i].split('_', 2)[0])
                    }
                    if (!row.includes(key[i].split('_', 2)[1])) {
                      row.push(key[i].split('_', 2)[1])
                    }
                  }
                  // else is not define but should have to collect timestamp
                }

                // NOTE: dataForShow[val] at [0] is type, [1] is value

                var textVal = ''
                var rowLen = row.length
                var colLen = col.length
                var tmpData = new Array(rowLen)
                var rowItem = new Array(colLen)

                for (i = 0; i < rowLen; i++) {
                  rowItem = new Array(colLen)
                  for (j = 0; j < colLen; j++) { // <-- this O(n^3) = weird
                    textVal = this.decode_utf8(this.dataForShow[val][col[j] + '_' + row[i]][1])
                    if (i === 0) {
                      textVal !== '' ? rowItem[j] = textVal : rowItem[j] = col[j]
                    } else {
                      rowItem[j] = textVal
                    }
                  }
                  tmpData[i] = rowItem
                }
                var len = tmpData[0].length
                var tmpHeader = new Array(len)
                var tmpType = new Array(len)
                for (i = 0; i < len; i++) {
                  tmpHeader[i] = { text: this.decode_utf8(tmpData[0][i]) + ' (' + this.dataForShow[val][col[i] + '_' + row[rowLen - 1]][0] + ')', sortable: false, align: 'center', value: '' }
                  tmpType[i] = [this.decode_utf8(tmpData[0][i]), this.dataForShow[val][col[i] + '_' + row[rowLen - 1]][0]]
                }

                tmpData.shift()

                this.resultViewData[idx] = tmpData     // Data
                this.resultViewHeader[idx] = tmpHeader // Header
                this.metadataViewData[idx] = tmpType   // Type of Data

                idx = idx + 1
              }
              this.loadingViewData = false
            } catch (e) {
              console.log(e)
              this.loadingViewData = false
            }
          }
        })
      me.testGet()
      console.log(me.resultViewHeader)
    },
    async countdownViewData () { // may be asynchonous fn. but it's seem like didn't work
      return Promise((resolve, reject) => {
        var now = new Date().getTime()

        // Find countdown time from end - start, multiply 4 for Approx.
        var processTime = parseInt((now - this.startCDTime) * 1)

        // var processTime = parseInt(60000)
        var endCDTime = new Date(now + processTime).getTime()

        // Update the count down every 1 second
        var me = this
        var valueInterval = setInterval(function () {
          // Get todays date and time
          var now = new Date().getTime()

          // Find the distance between now an the count down date
          var distance = endCDTime - now

          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24))
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
          var seconds = Math.floor((distance % (1000 * 60)) / 1000)

          // Output the result in an element with id="demo"
          var txt = 'Downloading... '
          if (days > 0) { txt = txt + days + 'd ' }
          if (hours > 0) { txt = txt + hours + 'h ' }
          if (minutes > 0) { txt = txt + minutes + 'm ' }
          if (seconds > 0) { txt = txt + seconds + 's ' }
          if (seconds === 0 && minutes === 0 && hours === 0 && days === 0) { txt = 'Preparing... ' }
          console.log(txt)
          me.countdowner = txt
          // If the count down is over, write some text
          if (distance < 0) {
            clearInterval(valueInterval)
            resolve('timeout')
            me.countdowner = 'Preparing... '
          }
        }, 1000)
      })
    },
    encode_utf8 (s) {
      return unescape(encodeURIComponent(s))
    },
    decode_utf8 (s) {
      try {
        return decodeURIComponent(escape(s))
      } catch (e) {
        return decodeURIComponent(s)
      }
    },
    sortAlphabeticallyWithOnLength (a, b) {
      return a.length - b.length || a.localeCompare(b)
    },
    sortNaturalComparer (a, b) {
      var ax = []
      var bx = []

      a.replace(/(\d+)|(\D+)/g, function (_, $1, $2) { ax.push([$1 || Infinity, $2 || '']) })
      b.replace(/(\d+)|(\D+)/g, function (_, $1, $2) { bx.push([$1 || Infinity, $2 || '']) })

      while (ax.length && bx.length) {
        var an = ax.shift()
        var bn = bx.shift()
        var nn = (an[0] - bn[0]) || an[1].localeCompare(bn[1])
        if (nn) return nn
      }

      return ax.length - bx.length
    }
  }
}
</script>

<style lang="css" scoped>
div.container {
  max-width: 99vw !important;
}
.overflowable {
  height: calc(95vh - 2em);
  overflow-y: hidden;
}
.box {
  background-color: white;
  height: calc(99.5vh - 132px);
  width: 100%;
  bottom: 0px;
  margin-bottom:0px auto;
  overflow-x: scroll;
  overflow-y: scroll;
}
.boxCountTab {
  background-color: white;
  height: calc(99.5vh - 84px);
  width: 100%;
  bottom: 0px;
  margin-bottom:0px auto;
  overflow-x: scroll;
  overflow-y: scroll;
}
.mgt10 {
  margin-top: 10px;
}
.mgb30 {
  margin-bottom: 30px;
}
</style>
