<template lang="html">
  <div class="grey lighten-4 fullPage">
    <v-container fluid>
      <v-card>
        <v-card-title>
          <v-btn outline color="green" dark @click.stop="dialogAddUsers = true, clearFormAddUser(), getUserRole(), getUserGroup()"><v-icon left>add_circle</v-icon>ADD USER</v-btn>
          <v-btn outline color="red" dark v-if="this.selected != 0" @click="suspendUserMore()">
            <v-icon left>cancel</v-icon>Remove Selected
          </v-btn>
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Search"
            single-line
            hide-details
            v-model="search"
          ></v-text-field>
        </v-card-title>

        <!-- table list user -->
        <v-data-table
          v-bind:headers="headers"
          v-bind:items="userList"
          v-bind:search="search"
          v-model="selected"
          :loading="loading"
          item-key="email"
          select-all
          class="elevation-1"
          :rows-per-page-items="[10, 25, 50, {text:'All', value: -1}]"
          >
          <template slot="headerCell" slot-scope="props">
            <span slot="activator">
              {{ props.header.text }}
            </span>
          </template>
          <template slot="items" slot-scope="props">
            <tr :active="props.selected" @mouseover="active = true, hoverRow(props.item)" @mouseleave="active = false" >
              <td>
                <v-checkbox primary hide-details v-model="props.selected" ></v-checkbox>
              </td>
              <td class="text-md-left size">{{ props.item.name }}</td>
              <td width="23%" class="text-md-right">
                <v-tooltip top color="primary" class="mgr-10" v-show="props.item.status !== 'Pending' && props.item.privilege_level !== 'Root Admin' && props.item.status !== 'Suspended'">
                  <v-btn slot="activator" color="primary" small flat icon v-if="active && props.item.user_id === selectedRow" @click="editUser(props.item)">
                    <v-icon color="primary">edit</v-icon>
                  </v-btn>
                  <span>edit</span>
                </v-tooltip>
                <v-tooltip top color="primary" class="mgr-10" v-show="props.item.status !== 'Pending' && props.item.status !== 'Suspended'">
                  <v-btn slot="activator" color="primary" small flat icon v-if="active && props.item.user_id === selectedRow" @click="resetPassword(props.item)">
                    <v-icon color="primary">cached</v-icon>
                  </v-btn>
                  <span>reset password</span>
                </v-tooltip>
                <v-tooltip top color="primary" class="mgr-10" v-show="props.item.status === 'Pending'">
                  <v-btn slot="activator" color="primary" small flat icon v-if="active && props.item.user_id === selectedRow" @click="resendEmailConfirmation(props.item.email)">
                    <v-icon color="primary">replay</v-icon>
                  </v-btn>
                  <span>resend email</span>
                </v-tooltip>
                <v-tooltip top color="red" v-show="props.item.status === 'Suspended' && userLevel === '1'">
                  <v-btn slot="activator" color="red" small flat icon v-if="active && props.item.user_id === selectedRow" @click="recoveryAccount(props.item)">
                    <v-icon color="red">settings_backup_restore</v-icon>
                  </v-btn>
                  <span>Recovery Account</span>
                </v-tooltip>
                <v-tooltip top color="red" class="mgr-10" v-show="props.item.status !== 'Suspended'">
                  <v-btn slot="activator" color="red" small flat icon v-if="active && props.item.user_id === selectedRow" @click="suspendUser(props.item)">
                    <v-icon color="red">delete</v-icon>
                  </v-btn>
                  <span>delete</span>
                </v-tooltip>
              </td>
              <td class="text-xs-center">
                <div v-if="props.item.status == 'Offline'">
                  <v-btn small outline round dark color="red">{{ props.item.status }}</v-btn>
                </div>
                <div v-else-if="props.item.status == 'Online'">
                  <v-btn small outline round dark color="green">{{ props.item.status }}</v-btn>
                </div>
                <div v-else-if="props.item.status == 'Pending'">
                  <v-btn small outline round dark color="blue">{{ props.item.status }}</v-btn>
                </div>
                <div v-else-if="props.item.status == 'New'">
                  <v-btn small outline round dark color="orange">{{ props.item.status }}</v-btn>
                </div>
                <div v-else>
                  <v-btn disabled small outline round>{{ props.item.status }}</v-btn>
                </div>
              </td>
              <td class="text-xs-center">{{ props.item.privilege_level }}</td>
              <td class="text-xs-center">{{ props.item.job_title }}</td>
              <td class="text-xs-left">{{ props.item.email }}</td>
              <td class="text-xs-center" style="width: 14%;">{{ props.item.last_updated }}</td>
            </tr>
          </template>
        </v-data-table>

        <!-- dialog AddUsers -->
        <v-layout row justify-center>
          <v-dialog v-model="dialogAddUsers" persistent max-width="800px">
            <v-card>
              <v-form v-model="valid" ref="formAddUser" lazy-validation>
                <v-toolbar class="blueIntel white--text" dark>
                  <v-toolbar-title>Add User</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click.native="clearFormAddUser(), dialogAddUsers = false" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-divider></v-divider>
                <v-card-text>
                  <v-container grid-list-md class="pl-3 pr-3">
                    <v-layout wrap>
                      <v-flex xs12 sm12 md12>
                        <v-text-field @keydown.enter.prevent ="submit('1')" label="Email" v-model="email" :rules="emailRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm12 md12>
                        <v-select
                          label="Role(s)"
                          v-bind:items="userRoleList"
                          v-model="selectRole"
                          item-text="selectRole"
                          item-value="roleName"
                          multiple
                          chips
                          max-height="auto"
                          autocomplete>
                          <template slot="selection" slot-scope="data">
                            <v-chip text-color="white" color="blueIntel"
                              close
                              @input="data.parent.selectItem(data.item)"
                              :selected="data.selected"
                              class="chip--select-multi"
                              :key="JSON.stringify(data.item)"
                            >
                              {{ data.item.role_name }}
                            </v-chip>
                          </template>
                          <template slot="item" slot-scope="data">
                            <v-list-tile-content>
                              <v-list-tile-title v-html="data.item.role_name"></v-list-tile-title>
                            </v-list-tile-content>
                          </template>
                        </v-select>
                      </v-flex>
                      <v-flex xs12 sm12 md12>
                        <v-select
                          label="Group(s)"
                          v-bind:items="userGroupList"
                          v-model="selectGroup"
                          item-text="userGroupList"
                          item-value="userGroupList"
                          multiple
                          chips
                          max-height="auto"
                          autocomplete>
                          <template slot="selection" slot-scope="data">
                            <v-chip text-color="white" color="blueIntel"
                              close
                              @input="data.parent.selectItem(data.item)"
                              :selected="data.selected"
                              class="chip--select-multi"
                              :key="JSON.stringify(data.item)"
                            >
                              {{ data.item.group_name }}
                            </v-chip>
                          </template>
                          <template slot="item" slot-scope="data">
                            <v-list-tile-content>
                              <v-list-tile-title v-html="data.item.group_name"></v-list-tile-title>
                            </v-list-tile-content>
                          </template>
                        </v-select>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions class="pl-4 pr-4 pb-3">
                  <v-btn color="red" outline flat @click.native="dialogAddUsers = false, clearFormAddUser()">Cancel</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn @click="submit('0')" :disabled="!valid"color="blue darken-1" outline flat>Save and add another</v-btn>
                  <v-btn @click="submit('1')" :disabled="!valid" color="green" outline flat>Save</v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-dialog>
        </v-layout>
      </v-card>
    </v-container>

    <!-- right drawer Edit User -->
    <v-navigation-drawer v-model="drawerEditUser" light right clipped scrollable temporary class="mgt48 elevation-6">
      <v-toolbar flat class="grey lighten-3">
        <v-list class="pa-0">
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>USER DETAILS</v-list-tile-title>
            </v-list-tile-content>
            <v-spacer></v-spacer>
            <v-list-tile-action>
              <v-btn color="red" flat icon @click="clearFormEditUser()">
                <v-icon color="red">clear</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-divider></v-divider>
      <v-container grid-list-md>
        <v-form v-model="checkFormEdit" ref="form" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm12 md12 class="pdb0">
              <v-text-field label="Email" v-model="email" :rules="emailRules" required disabled></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md12 class="pdt0 pdb0">
              <v-text-field label="First name" v-model="firstName" :rules="firstNameRules" required></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md12 class="pdt0 pdb0">
              <v-text-field label="Last name" v-model="lastName" :rules="lastNameRules" required></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md12 class="pdt0 pdb0">
              <v-text-field label="Job Title" v-model="jobTitle" :rules="jobTitleRules" required></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md12 class="pdt0 pdb0">
              <v-select
                label="Role(s)"
                v-bind:items = "userRoleList"
                v-model = "selectRole"
                item-text = role_name
                item-value = role_id
                multiple
                chips
                max-height="auto"
                autocomplete>
                <template slot="selection" slot-scope="data">
                  <v-chip text-color="white" color="blueIntel" close
                    class="chip--select-multi"
                    @input="data.parent.selectItem(data.item)"
                    :selected="data.selected"
                    :key="JSON.stringify(data.item)">
                      {{ data.item.role_name }}
                  </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <v-list-tile-content>
                    <v-list-tile-title v-html="data.item.role_name"></v-list-tile-title>
                  </v-list-tile-content>
                </template>
              </v-select>
            </v-flex>
            <v-flex xs12 sm12 md12 class="pdt0 pdb0">
              <v-select
                label="Group(s)"
                v-bind:items="userGroupList"
                v-model="selectGroup"
                item-text=group_name
                item-value=group_id
                multiple
                chips
                max-height="auto"
                autocomplete>
                <template slot="selection" slot-scope="data">
                  <v-chip text-color="white" color="blueIntel"
                    close
                    @input="data.parent.selectItem(data.item)"
                    :selected="data.selected"
                    class="chip--select-multi"
                    :key="JSON.stringify(data.item)">
                      {{ data.item.group_name }}
                  </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <v-list-tile-content>
                    <v-list-tile-title v-html="data.item.group_name"></v-list-tile-title>
                  </v-list-tile-content>
                </template>
              </v-select>
            </v-flex>
            <v-flex xs12 sm12 md12 class="pdt0 pdb0" v-if=" userLevel === '1'">
              <v-select
                :items="listLevel"
                v-model="selectedLevel"
                item-text=text
                item-value=value
                label="Select Level User"
                autocomplete
              ></v-select>
            </v-flex>
            <v-flex xs12 sm12 md12 class="pdt0 pdb0" v-if="userLevel === '1'">
              <v-select v-show="selectedLevel === '3'"
                :items="adminList"
                v-model="selectedAdmin"
                item-text=name
                item-value=user_id
                label="Select Admin of User"
                autocomplete
                required
              ></v-select>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn :disabled="!checkFormEdit || disableSaveEdit" color="green" outline flat @click="beforeSaveEditUser()"><v-icon left>save</v-icon>Save</v-btn>
          </v-card-actions>
        </v-form>
      </v-container>
    </v-navigation-drawer>

    <!-- right drawer ResetPass -->
    <v-navigation-drawer v-model="drawerResetPass" light right clipped scrollable temporary class="mgt48 elevation-6">
      <v-toolbar flat class="grey lighten-3">
        <v-list class="pa-0">
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>RESET PASSWORD</v-list-tile-title>
            </v-list-tile-content>
            <v-spacer></v-spacer>
            <v-list-tile-action>
              <v-btn color="red" flat icon @click="clearDrawerResetPass()">
                <v-icon color="red">clear</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-divider></v-divider>
      <v-container grid-list-md>
        <v-layout wrap >
          <v-flex xs12 sm12 md12 class="pdb0">
            <v-text-field label="Email" v-model="email" :rules="emailRules" required disabled></v-text-field>
          </v-flex>
          <v-flex xs12 sm12 md12 class="pdt0 pdb0">
            <v-text-field label="First name" v-model="firstName" :rules="firstNameRules" required disabled></v-text-field>
          </v-flex>
          <v-flex xs12 sm12 md12 class="pdt0 pdb0">
            <v-text-field label="Last name" v-model="lastName" :rules="lastNameRules" required disabled></v-text-field>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue" outline flat @click="submitRePass()"><v-icon left>cached</v-icon> Reset</v-btn>
        </v-card-actions>
      </v-container>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      loading: true,
      drawerEditUser: false,
      active: false,
      checkFormEdit: true,
      valid: true,
      dialogAddUsers: false,
      drawerResetPass: false,
      email: '',
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ],
      firstName: '',
      firstNameRules: [ (v) => !!v || 'Firstname is required' ],
      lastName: '',
      lastNameRules: [ (v) => !!v || 'Lastname is required' ],
      jobTitle: '',
      jobTitleRules: [ (v) => !!v || 'Job Title is required' ],
      roleName: '',
      search: '',
      selected: [],
      statusUser: '',
      headers: [
        { text: 'NAME', align: 'center', value: 'name' },
        { text: '', align: 'right', sortable: false, value: '' },
        { text: 'STATUS', align: 'center', value: 'status' },
        { text: 'LEVEL', align: 'center', value: 'privilege_level' },
        { text: 'JOB TITLE', align: 'center', value: 'job_title' },
        { text: 'EMAIL', align: 'center', value: 'email' },
        { text: 'LAST UPDATED', align: 'center', value: 'last_updated' }
      ],
      userList: [],
      userLevel: '',
      listLevel: [
        { text: 'Admin', value: '2' },
        { text: 'User', value: '3' }
      ],
      disableSaveEdit: true,
      selectedLevel: '',
      selectedAdmin: '',
      adminList: [],
      selectRole: [],
      userRoleList: ['Test 1', 'Test 2', 'Test 3'],
      selectGroup: [],
      userGroupList: ['Test 1', 'Test 2', 'Test 3']
    }
  },
  created () {
    this.getUser()
    this.getUserRole()
    this.getUserGroup()
  },
  watch: {
    drawerEditUser (val) {
      !val && this.clearFormEditUser()
    },
    drawerResetPass (val) {
      !val && this.clearDrawerResetPass()
    },
    selectedLevel (val) {
      if (val === '2') {
        this.disableSaveEdit = false
      } else if (val === '3') {
        if (this.selectedAdmin.user_id === '') {
          this.disableSaveEdit = true
        } else if (this.selectedAdmin.user_id > 0 || this.selectedAdmin > 0) {
          this.disableSaveEdit = false
        }
      }
    },
    selectedAdmin (val) {
      if (this.selectedAdmin.user_id !== '') {
        this.disableSaveEdit = false
      }
    }
  },
  methods: {
    hoverRow (row) {
      this.selectedRow = row.user_id
    },
    beforeSubmit () {
      if (this.$refs.formAddUser.validate()) {
        if (this.email === null || this.email.trim().length === 0) {
          // this.$swal('Please Insert Email', '', 'warning')
          this.dialogAddUsers = false
        } else {
          this.submit()
          this.getUser()
        }
      }
    },
    beforeSubmitAndAddAnother () {
      if (this.$refs.formAddUser.validate()) {
        if (this.email === null || this.email.trim().length === 0) {
          this.dialogAddUsers = true
        } else {
          this.submit()
          this.clearFormAddUser()
          this.getUser()
        }
      }
    },
    submit (justSave) {
      if (this.$refs.formAddUser.validate()) {
        var i = 0
        var roleSelected = []
        for (i = 0; i < this.selectRole.length; i++) {
          roleSelected.push(this.selectRole[i]['role_id'])
        }
        var groupSelected = []
        for (i = 0; i < this.selectGroup.length; i++) {
          groupSelected.push(this.selectGroup[i]['group_id'])
        }
        this.axios.post(process.env.API + '/firstStepRegister',
          {
            'email': this.email,
            'link': process.env.LINK,
            'roles': roleSelected,
            'groups': groupSelected,
            'owner': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            }
          }).then((response) => {
            if (response.data === 'success') {
              this.$swal({
                type: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1200
              })
              // this.dialogAddUsers = false
              // this.signUp = 'waitForVerify'
              if (justSave === '1') {
                this.dialogAddUsers = false
              } else {
                this.dialogAddUsers = true
              }
            } else if (response.data === 'already in use') {
              this.$swal('Email Already Use', '', 'warning')
            } else {
              this.$swal({
                type: 'error',
                title: response.data
              })
            }
            this.getUser()
          })
        this.$refs.formAddUser.reset()
      }
    },
    getUser () {
      this.axios.post(process.env.API + '/mgmt/getUser',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data.result) {
            var respUserList = response.data.result
            for (var i = 0; i < respUserList.length; i++) {
              respUserList[i]['name'] = respUserList[i]['firstname'] + ' ' + respUserList[i]['lastname']
              if (respUserList[i]['status'] === '1') {
                respUserList[i]['status'] = 'Offline'
              } else if (respUserList[i]['status'] === '2') {
                respUserList[i]['status'] = 'Online'
              } else if (respUserList[i]['status'] === '3') {
                respUserList[i]['status'] = 'Suspended'
              } else if (respUserList[i]['status'] === '4') {
                respUserList[i]['status'] = 'Pending'
              } else if (respUserList[i]['status'] === '5') {
                respUserList[i]['status'] = 'New'
              } else {
                respUserList[i]['status'] = 'Error'
              }

              if (respUserList[i]['privilege_level'] === '1') {
                respUserList[i]['privilege_level'] = 'Root Admin'
              } else if (respUserList[i]['privilege_level'] === '2') {
                respUserList[i]['privilege_level'] = 'Admin'
                this.adminList.push(respUserList[i])
              } else if (respUserList[i]['privilege_level'] === '3') {
                respUserList[i]['privilege_level'] = 'User'
              }
              // respUserList[i]['last_updated'] += '+0700'
              respUserList[i]['last_updated'] = respUserList[i]['last_updated'].split(' GMT')[0]
            }
            this.userList = respUserList
          } else {
            this.userList = []
          }

          if (response.data.userLevel) {
            this.userLevel = response.data.userLevel // can be admin or root
          } else {
            this.userLevel = '3' // Just User Level
          }

          this.loading = false
        })
    },
    getUserRole () {
      this.selectRole = []
      this.axios.post(process.env.API + '/mgmt/getUserRole',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data.result) {
            this.userRoleList = response.data.result
          } else {
            this.userRoleList = []
          }
        })
    },
    getUserGroup () {
      this.selectGroup = []
      this.axios.post(process.env.API + '/mgmt/getUserGroup',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data.result) {
            this.userGroupList = response.data.result
          } else {
            this.userGroupList = []
          }
        })
    },
    editUser (data) {
      this.adminList = this.adminList.filter(function (eachAdmin) {
        return eachAdmin['user_id'] !== data['user_id']
      })
      this.drawerEditUser = true
      $('html').css('overflow-y', 'hidden')
      this.email = data.email
      this.firstName = data.firstname
      this.lastName = data.lastname
      this.jobTitle = data.job_title
      this.statusUser = data.status
      this.selectedAdmin = data.owner
      if (data.privilege_level === 'Admin') {
        this.selectedLevel = '2'
      } else if (data.privilege_level === 'User') {
        this.selectedLevel = '3'
        if (this.selectedAdmin.user_id === '') {
          this.disableSaveEdit = true
        }
      }
      var i = 0
      this.selectRole = []
      for (i = 0; i < data.roles.length; i++) {
        this.selectRole.push(data.roles[i].role_id)
      }
      this.selectGroup = []
      for (i = 0; i < data.groups.length; i++) {
        this.selectGroup.push(data.groups[i].group_id)
      }
    },
    resetPassword (data) {
      this.drawerResetPass = true
      $('html').css('overflow-y', 'hidden')
      this.email = data.email
      this.firstName = data.firstname
      this.lastName = data.lastname
    },
    clearDrawerResetPass () {
      this.drawerResetPass = false
      $('html').css('overflow-y', 'auto')
    },
    recoveryAccount (userData) {
      var me = this
      this.$swal({
        title: 'Are you sure?',
        text: 'You want to recovery this account?',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, I do!'
      }).then(function (result) {
        me.axios.post(process.env.API + '/mgmt/notSuspendUser',
          {
            'owner': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'user': {
              'email': userData['email'],
              'firstname': userData['firstname'],
              'lastname': userData['lastname']
            }
          }).then((response) => {
            if (response.data.result === 'success') {
              me.$swal({
                type: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1000
              })
              // clear data, close dialog
            } else {
              me.$swal('Error', response.data.result, 'error')
            }
            me.getUser()
          })
      })
    },
    resendEmailConfirmation (email) {
      var me = this
      this.$swal({
        title: 'Are you sure?',
        text: 'You want to resend email to this user!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, do it!'
      }).then(function (result) {
        me.axios.post(process.env.API + '/resendEmailConfirmation',
          {
            'email': email,
            'link': process.env.LINK
          }).then((response) => {
            if (response.data === 'success') {
              me.$swal({
                type: 'success',
                title: 'Resend email to user',
                showConfirmButton: false,
                timer: 1000
              })
              me.getUser()
              // clear data, close dialog
            } else {
              me.$swal('Error', response.data.result, 'error')
            }
          })
      })
    },
    submitRePass () {
      var me = this
      this.$swal({
        title: 'Are you sure?',
        text: 'You want to reset password this account?',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, I do!'
      }).then(function (result) {
        me.axios.post(process.env.API + '/forgotPassword',
          {
            'email': me.email,
            'link': process.env.LINK
          }).then((response) => {
            if (response.data === 'success') {
              me.$swal({
                type: 'success',
                title: 'System is sending reset password email to user',
                showConfirmButton: false,
                timer: 1000
              })
              me.clearDrawerResetPass()
            } else if (response.data === 'not found') {
              me.$swal('Email is not found', '', 'warning')
            } else {
              me.$swal(response.data, '', 'error')
            }
            me.getUser()
          })
      })
    },
    beforeSaveEditUser () {
      if (this.selectedLevel.toString() !== '') {
        this.saveEditUser()
      }
    },
    saveEditUser () {
      if (this.selectedLevel.toString() === '2') {
        this.selectedAdmin = ''
      }
      if (this.selectedAdmin['user_id'] !== undefined) {
        this.selectedAdmin = this.selectedAdmin['user_id']
      }
      var me = this
      this.$swal({
        title: 'CAUTIONS !',
        text: 'If you change privilege level or change user\'s admin, system will be delete all of user\'s data. Please make sure about doing this action.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, I do. Update it!'
      }).then(function (result) {
        me.axios.post(process.env.API + '/mgmt/editUser',
          {
            'owner': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'user': {
              'email': me.email,
              'firstname': me.firstName,
              'lastname': me.lastName,
              'job_title': me.jobTitle,
              'roles': me.selectRole,
              'groups': me.selectGroup,
              'privilege_level': me.selectedLevel,
              'owner_id': me.selectedAdmin
            }
          }).then((response) => {
            if (response.data.result === 'success') {
              me.drawerEditUser = false
              me.$swal({
                type: 'success',
                title: 'Complete',
                showConfirmButton: false,
                timer: 800
              })
            } else if (response.data.result === 'Not found user or Not Changed') {
              me.$swal('Edit Error', 'Please recheck in your infomation', 'error')
            } else {
              me.$swal('Error', response.data.result, 'error')
            }
            me.getUser()
          })
      })
    },
    clearFormEditUser () {
      // this.email = ''
      // this.firstName = ''
      // this.lastName = ''
      // this.userRoleList = []
      // this.userGroupList = []
      // this.jobTitle = ''
      // this.getUser()
      this.drawerEditUser = false
      $('html').css('overflow-y', 'auto')
    },
    suspendUser (user) {
      var emailUser = user['email']
      var firstnameUser = user['firstname']
      var lastnameUser = user['lastname']
      var txt = 'You would to suspend this user!'
      if (this.userLevel.toString() === '2') {
        txt = 'You would to delete this user!'
      }
      if (user['status'] === 'Pending' || user['status'] === 'New') {
        txt = 'You would not be able to revert this!'
      }
      var me = this
      this.$swal({
        title: 'Are you sure?',
        text: txt,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, do it!'
      }).then(function (result) {
        me.axios.post(process.env.API + '/mgmt/suspendUser',
          {
            'owner': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'user': {
              'email': emailUser,
              'firstname': firstnameUser,
              'lastname': lastnameUser
            }
          }).then((response) => {
            if (response.data.result === 'success') {
              me.$swal({
                type: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1000
              })
              // clear data, close dialog
            } else {
              me.$swal('Error', response.data.result, 'error')
            }
            me.getUser()
          })
      })
    },
    suspendUserMore () {
      var arrayUsers = new Array(this.selected.length)
      for (var i = 0; i < this.selected.length; i++) {
        arrayUsers[i] = {}
        arrayUsers[i]['email'] = this.selected[i]['email']
        arrayUsers[i]['firstname'] = this.selected[i]['firstname']
        arrayUsers[i]['lastname'] = this.selected[i]['lastname']
      }
      var me = this
      this.$swal({
        title: 'Are you sure?',
        text: 'You would not be able to revert this!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(function (result) {
        me.axios.post(process.env.API + '/mgmt/suspendUserMore',
          {
            'owner': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'users': arrayUsers
          }).then((response) => {
            if (response.data.result === 'success') {
              me.$swal('Suspended', '', 'success')
              me.selected = []
              // clear data, close dialog
            } else {
              me.$swal('Error', response.data.result, 'error')
            }
            me.getUser()
          })
      })
    },
    clearFormAddUser () {
      this.$refs.formAddUser.reset()
    }
  }
}
</script>

<style lang="css" scoped>
  .fullPage{
    height: calc(100vh - 48px);
  }
  .blueIntel {
    background-color: #1DA6DF !important;
  }
  .mgt48 {
    margin-top: 48px !important;
    width: 30% !important;
  }
  .pdt0 {
    padding-top: 0px!important;
  }
  .pdb0 {
    padding-bottom: 0px!important;
  }
  .overflowable {
    overflow-y: hidden;
  }
  .mgr-10 {
    margin-right: -10px;
  }
  .container.grid-list-md {
    padding: 15px;
  }
  tr > td {
    padding: 0 10px !important;
  }
  td.size {
    width: 30%;
  }
  aside.mgt48.elevation-6.navigation-drawer.navigation-drawer--clipped.navigation-drawer--is-booted.navigation-drawer--open.navigation-drawer--right.theme--light {
    padding-bottom: 35px;
  }

  @media only screen and (max-width: 1125px) {
    .mgt48 {
      margin-top: 48px !important;
      width: 30% !important;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px)  {
    .mgt48 {
      margin-top: 48px !important;
      width: 30% !important;
    }
  }
</style>
