<template lang="html">
  <div class="grey lighten-4 fullPage">
    <v-container fluid>
      <v-card>
        <v-card-title>
          <v-btn outline color="green" dark @click.stop="dialogAddGroup = true, clearFormAddGroup()"><v-icon left>add_circle</v-icon>ADD GROUP</v-btn>
          <v-spacer></v-spacer>
          <v-text-field append-icon="search" label="Search" single-line hide-details v-model="searchGroup"></v-text-field>
        </v-card-title>
        <!-- HOVER GROUP EDIT, SETTING, DELETE -->
        <v-data-table
          v-bind:headers="headers"
          v-bind:items="groupList"
          v-bind:search="searchGroup"
          :loading="loading"
          hide-actions
          item-key="group_name">
          <template slot="items" slot-scope="props">
            <tr :active="props.expanded" @mouseover="rowActive = true, hoverRow(props.item)" @mouseleave="rowActive = false" @click="getGroup()">
              <td col class="text-md-left" width="30%">{{ props.item.group_name }} </td>
              <td class="text-xs-right" width="20%">
                <v-tooltip top color="primary">
                  <v-btn slot="activator" color="primary" small flat icon v-if="rowActive && props.item.group_id === selectedRow" @click="editGroup(props.item), getGroup()">
                    <v-icon>edit</v-icon>
                  </v-btn>
                  <span>edit</span>
                </v-tooltip>
                <v-tooltip top color="red">
                  <v-btn slot="activator" color="red" small flat icon v-if="rowActive && props.item.group_id === selectedRow" @click="deleteGroup(props.item)">
                    <v-icon>delete</v-icon>
                  </v-btn>
                  <span>delete</span>
                </v-tooltip>
              </td>
              <td class="text-xs-center">{{ props.item.userInGroup.length }}</td>
              <td class="text-xs-center">{{ props.item.last_updated }}</td>
            </tr>
          </template>
        </v-data-table>
        <!-- ADD GROUP  -->
        <v-layout row justify-center>
          <v-dialog v-model="dialogAddGroup" persistent max-width="800px">
            <v-card>
              <v-form v-model="validAddGroup" ref="formAddGroup" lazy-validation>
                <v-toolbar class="blueIntel white--text" dark>
                  <v-toolbar-title>Add Group</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click.native="clearFormAddGroup(), dialogAddGroup = false" dark>
                    <v-icon>close</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-divider></v-divider>
                <v-card-text>
                  <v-container grid-list-md class="pl-3 pr-3">
                    <v-layout wrap>
                      <v-flex xs12 sm12 md12>
                        <v-text-field @keydown.enter.prevent ="addGroup('1')" label="Group Name" v-model="addGroupName" :rules="groupNameRules" required></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions class="pl-4 pr-4 pb-3">
                  <v-btn color="red" outline flat @click.native="clearFormAddGroup(), dialogAddGroup = false">Cancel</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn @click="addGroup('0')" :disabled="!validAddGroup" color="blue darken-1" outline flat>Save and add another</v-btn>
                  <v-btn @click="addGroup('1')" :disabled="!validAddGroup" color="green" outline flat>Save</v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-dialog>
        </v-layout>
      </v-card>
      <!-- EDIT GROUP  -->
      <v-navigation-drawer v-model="drawerEditGroup" light right clipped scrollable temporary class="mgt48 elevation-6">
        <v-toolbar flat class="grey lighten-3">
          <v-list class="pa-0">
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title>GROUP DETAILS</v-list-tile-title>
              </v-list-tile-content>
              <v-spacer></v-spacer>
              <v-list-tile-action>
                <v-btn color="red" flat icon @click="drawerEditGroup = !drawerEditGroup">
                  <v-icon color="red">clear</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container grid-list-md>
          <v-form v-model="valid" ref="formEditGroup" lazy-validation>
            <v-layout wrap>
              <v-flex xs12 sm12 md12 class="pdb0">
                <v-text-field label="Group Name" v-model="groupName" :rules="groupNameRules" required @keyup.enter = "saveEditGroup()"></v-text-field>
              </v-flex>
              <v-flex xs12 sm12 md12>
                <div class="card--flex-toolbar">
                  <v-toolbar card color="white" dense>
                    <v-toolbar-title class="body-2">{{ countUser }}</v-toolbar-title>
                    <v-toolbar-title class="body-2">USERS ASSIGNED</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-tooltip left>
                      <v-btn slot="activator"  color="green" flat icon @click="mode = 'add'" v-show="mode === 'edit'">
                        <v-icon color="green">add</v-icon>
                      </v-btn>
                      <span>Add Users</span>
                    </v-tooltip>
                    <v-tooltip left>
                      <v-btn slot="activator" color="red" flat icon @click="mode = 'edit'" v-show="mode === 'add'">
                        <v-icon color="red">keyboard_arrow_left</v-icon>
                      </v-btn>
                    <span>Remove Users</span>
                  </v-tooltip>
                  </v-toolbar>
                  <v-divider></v-divider>
                  <div v-show="mode === 'edit'">
                    <div class="pl-3 pr-3">
                      <v-text-field append-icon="search" label="Search" single-line v-model="searchUserRemove"></v-text-field>
                    </div>
                    <v-data-table
                      :items="userListInGroup"
                      v-bind:search="searchUserRemove"
                      hide-actions
                      hide-headers>
                      <template slot="items" slot-scope="props">
                        <td width="95%" v-show = "props.item.status !== '4'"> {{ props.item.name }} </td>
                        <td width="5%" v-show = "props.item.status !== '4'">
                          <v-btn slot="activator" color="grey" small flat icon @click="removeUserFromGroup(props.item)">
                            <v-icon color="red">remove</v-icon>
                          </v-btn>
                        </td>
                      </template>
                    </v-data-table>
                  </div>
                  <div v-show="mode === 'add'">
                    <div class="pl-3 pr-3">
                      <v-text-field append-icon="search" label="Search" single-line v-model="searchUserAdd"></v-text-field>
                    </div>
                    <v-data-table
                      :items="userFilter"
                      v-bind:search="searchUserAdd"
                      hide-actions
                      hide-headers>
                      <template slot="items" slot-scope="props">
                        <td width="95%" v-show = "props.item.status !== '4'"> {{ props.item.name }} </td>
                        <td width="5%" v-show = "props.item.status !== '4'">
                          <v-btn slot="activator" color="grey" small flat icon @click="addUsertoGroup(props.item)">
                            <v-icon color="green">add</v-icon>
                          </v-btn>
                        </td>
                      </template>
                    </v-data-table>
                  </div>
                </div>
              </v-flex>
            </v-layout>
          <!-- </v-card>
          </v-layout> -->
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green" outline flat :disabled="!valid" @click="saveEditGroup()"><v-icon left>save</v-icon> Save</v-btn>
            </v-card-actions>
          </v-form>
        </v-container>
      </v-navigation-drawer>
    </v-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      loading: true,
      drawer: false,
      active: false,
      valid: true,
      validAddGroup: true,
      dialogAddGroup: false,
      btnAddAnother: true,
      rowActive: false,
      selectedRow: '',
      addGroupName: '',
      groupList: [],
      searchGroup: '',
      userListAll: [],
      drawerEditGroup: false,
      mode: 'edit',
      searchUserRemove: '',
      searchUserAdd: '',
      userListInGroup: [],
      userFilter: [],
      countUser: '',
      groupID: '',
      groupName: '',
      groupNameRules: [ (v) => !!v || 'groupName is required' ],
      loginName: '',
      loginNameRules: [ (v) => !!v || 'Login name is required' ],
      firstname: '',
      lastname: '',
      search: '',
      selected: [],
      headers: [
        { text: 'GROUP NAME', align: 'left', value: 'group_name' },
        { text: '', align: 'right', sortable: false, value: '' },
        { text: 'NUMBER OF USERS', align: 'center', value: 'userInGroup' },
        { text: 'LAST UPDATE', align: 'center', value: 'last_updated' }
      ],
      item: [],
      items: [],
      nameHover: ''
    }
  },
  created () {
    this.getGroup()
  },
  methods: {
    getUser () {
      this.axios.post(process.env.API + '/mgmt/getUser',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data.result) {
            var respUserList = response.data.result
            // console.log(respUserList)
            for (var i = 0; i < respUserList.length; i++) {
              respUserList[i]['name'] = respUserList[i]['firstname'] + ' ' + respUserList[i]['lastname']
            }
            this.userListAll = respUserList
            var selectedUser = this.userListInGroup.map(user => '' + user['user_id'])
            // console.log(selectedUser)
            this.userFilter = this.userListAll.filter(function (user) {
              var uid = '' + user['user_id']
              // console.log(uid)
              return selectedUser.indexOf(uid) < 0
            })
            // console.log(this.userFilter)
          } else {
            this.userListAll = []
            this.userFilter = []
          }
        })
    },
    getGroup () {
      this.axios.post(process.env.API + '/mgmt/getGroup',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data.result === 'Not found your group') {
            this.groupList = []
          } else if (response.data.result.length) {
            var respGroupList = response.data.result
            for (var i = 0; i < respGroupList.length; i++) {
              respGroupList[i]['last_updated'] = respGroupList[i]['last_updated'].split(' GMT')[0]
            }
            this.groupList = respGroupList
          }
          this.loading = false
        })
    },
    addGroup (justSave) {
      if (this.$refs.formAddGroup.validate()) {
        this.axios.post(process.env.API + '/mgmt/addGroup',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'group': {
              'group_name': this.addGroupName
            }
          }).then((response) => {
            // console.log(response.data.result)
            if (response.data.result === 'success') {
              this.$swal({
                type: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1200
              })
              if (justSave === '1') {
                this.dialogAddGroup = false
              } else {
                this.dialogAddGroup = true
              }
            } else {
              this.$swal({
                type: 'warning',
                title: response.data.result,
                showConfirmButton: false,
                timer: 1200
              })
            }
            this.getGroup()
          })
        this.$refs.formAddGroup.reset()
      }
    },
    deleteGroup (groupInfo) {
      var me = this
      this.$swal({
        title: 'Are you sure?',
        text: 'You would not be able to revert this!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(function (result) {
        me.axios.post(process.env.API + '/mgmt/deleteGroup',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'group': {
              'group_id': groupInfo['group_id']
            }
          }).then((response) => {
            if (response.data.result === 'success') {
              me.$swal({
                type: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1000
              })
            } else {
              me.$swal(response.data.result, '', 'warning')
            }
            me.getGroup()
          })
      })
    },
    editGroup (data) {
      this.getUser()
      this.mode = 'edit'
      this.countUser = data.userInGroup.length
      this.drawerEditGroup = true
      this.groupID = data.group_id
      this.groupName = data.group_name
      this.userListInGroup = data.userInGroup
      for (var i = 0; i < data.userInGroup.length; i++) {
        this.userListInGroup[i]['name'] = data.userInGroup[i]['firstname'] + ' ' + data.userInGroup[i]['lastname']
      }
    },
    saveEditGroup () {
      // console.log(this.groupID)
      // console.log(this.groupName)
      // console.log(this.userListInGroup)
      if (this.$refs.formEditGroup.validate()) {
        var usersID = this.userListInGroup.map(user => '' + user['user_id'])
        // console.log(usersID)
        this.axios.post(process.env.API + '/mgmt/editGroupMember',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'group': {
              'group_id': this.groupID,
              'group_name': this.groupName,
              'users_id': usersID
            }
          }).then((response) => {
            if (response.data.result === 'success') {
              this.$swal({
                type: 'success',
                title: 'Complete',
                showConfirmButton: false,
                timer: 800
              })
              this.drawerEditGroup = !this.drawerEditGroup
            } else {
              this.$swal(response.data.result, '', 'warning')
            }
            this.getGroup()
          })
      }
    },
    removeUserFromGroup (data) {
      // console.log(data)
      this.userListInGroup = this.userListInGroup.filter(function (user) { return user['user_id'] !== data['user_id'] })
      var selectedUser = this.userListInGroup.map(user => '' + user['user_id'])
      // console.log(selectedUser)
      this.userFilter = this.userListAll.filter(function (user) {
        var uid = '' + user['user_id']
        return selectedUser.indexOf(uid) < 0
      })
      this.countUser = this.userListInGroup.length
    },
    addUsertoGroup (data) {
      // console.log(data)
      this.userFilter = this.userFilter.filter(function (user) { return user['user_id'] !== data['user_id'] })
      var selectedUser = this.userFilter.map(user => '' + user['user_id'])
      // console.log(selectedUser)
      this.userListInGroup = this.userListAll.filter(function (user) {
        var uid = '' + user['user_id']
        return selectedUser.indexOf(uid) < 0
      })
      this.countUser = this.userListInGroup.length
    },
    clearFormAddGroup () {
      this.$refs.formAddGroup.reset()
    },
    hoverRow (data) {
      this.selectedRow = data.group_id
    }
  }
}
</script>

<style lang="css" scoped>
  .blueIntel {
    background-color: #1DA6DF !important;
  }
  .mgt48 {
    margin-top: 48px !important;
    width: 30% !important;
  }
  .fullPage{
    min-height: calc(100vh - 48px);
  }
  .goCenter {
    display: flex;
    justify-content: center;
  }
  .pdt0 {
    padding-top: 0px!important;
  }
  .pdb0 {
    padding-bottom: 0px!important;
  }
  .card.setheight {
    height: 185px!important;
  }
</style>
