<template lang="html">
	<div class="">
    <!-- <img class="width100" src="/static/mocksub.png"> -->
		<v-layout row wrap>
			<v-flex xs3>
				<v-card color="grey lighten-4" style="min-height: calc(100vh - 48px);">
          <v-container class="">
						<div class="subheading pt-4 pb-4">ACCOUNT INFORMATION</div>
						<div class="caption">Account name</div>
						<div class="body-1 pb-4">trial06492.us.talend.com</div>
						<div class="caption">Account ID</div>
						<div class="body-1 pb-4">f145886c-36d8-45bd-8767-80efa52abe91</div>
						<v-divider></v-divider>
						<div class="caption pt-4">Subscription start date</div>
						<div class="body-1 pb-4">January 12th, 2018</div>
						<div class="caption">Subscription expiry date</div>
						<div class="body-1 pb-4">February 11th, 2018</div>
						<div class="caption">License type</div>
						<div class="body-1 pb-4">Hybrid Edition</div>
						<div class="caption">Available apps</div>
						<div class="body-1 pb-4">Data Preparation, Integration Cloud</div>
						<div class="caption">Support level</div>
						<div class="body-1 pb-4">Community</div>
          </v-container>
        </v-card>
			</v-flex>
			<v-flex xs9>
				<v-card style="min-height: calc(100vh - 48px);">
          <v-container class="">
						<div class="subheading pt-4 pb-4">LICENSE INFORMATION</div>
						<v-layout>
							<v-flex xs2 class="text-xs-right">
								<img src="/static/cloudEngine.png" width="40%">
							</v-flex>
							<v-flex xs1 >
								<h3 class="text-xs-center">2</h3>
							</v-flex>
							<v-flex xs3>
								<p class="subheading text-xs-left">CLOUD<br>ENGINES</p>
							</v-flex>
							<v-flex xs2 class="text-xs-right">
								<img src="/static/remoteEngine.png" width="40%">
							</v-flex>
							<v-flex xs1 >
								<h3 class="text-xs-center">1</h3>
							</v-flex>
							<v-flex xs3>
								<p class="subheading text-xs-left">REMOTE<br>ENGINES</p>
							</v-flex>
						</v-layout>
							<v-layout row wrap class="goCenter mt-3">
								<v-flex xs12 sm6 md2 class="">
									<v-card color="grey lighten-4" light class="setheight">
										<v-container>
											<v-card-media class="mt-2" src="/static/iconNavbarDrawer/iconMetadata.png" height="50px" contain></v-card-media>
											<div class="subheading text-xs-center pt-3">METADATA</div>
										</v-container>
										<hr class="lineCenter mt-2" width=70% size=1 color="grey">
										<v-layout class="pt-2">
											<v-flex xs6>
												<p class="display-1 text-xs-right">2/</p>
											</v-flex>
											<v-flex xs6>
												<p class="body-1 text-xs-center">2<br>SEATS</p>
											</v-flex>
										</v-layout>
									</v-card>
								</v-flex>
								<v-flex xs12 sm6 md2 class="ml-3">
									<v-card color="grey lighten-4" light class="setheight">
										<v-container>
											<v-card-media class="" src="/static/iconNavbarDrawer/iconIntelligist.png" height="50px" contain></v-card-media>
											<div class="subheading text-xs-center pt-2">INTELLIGIST </br> DASHBOARD</div>
										</v-container>
										<hr class="lineCenter" width=70% size=1 color="grey">
										<v-layout class="pt-2">
											<v-flex xs6>
												<p class="display-1 text-xs-right">2/</p>
											</v-flex>
											<v-flex xs6>
												<p class="body-1 text-xs-center">2<br>SEATS</p>
											</v-flex>
										</v-layout>
									</v-card>
								</v-flex>
								<v-flex xs12 sm6 md2 class="ml-3">
									<v-card color="grey lighten-4" light class="setheight">
										<v-container>
											<v-card-media class="" src="/static/iconNavbarDrawer/iconUpload.png" height="50px" contain></v-card-media>
											<div class="subheading text-xs-center pt-2">UPLOAD </br> MORNITORING</div>
										</v-container>
										<hr class="lineCenter" width=70% size=1 color="grey">
										<v-layout class="pt-2">
											<v-flex xs6>
												<p class="display-1 text-xs-right">2/</p>
											</v-flex>
											<v-flex xs6>
												<p class="body-1 text-xs-center">2<br>SEATS</p>
											</v-flex>
										</v-layout>
									</v-card>
								</v-flex>
								<v-flex xs12 sm6 md2 class="ml-3">
									<v-card color="grey lighten-4" light class="setheight">
										<v-container>
											<v-card-media class="" src="/static/iconNavbarDrawer/iconPreparation.png" height="50px" contain></v-card-media>
											<div class="subheading text-xs-center pt-2">DATA </br> PREPARATION</div>
										</v-container>
										<hr class="lineCenter" width=70% size=1 color="grey">
										<v-layout class="pt-2">
											<v-flex xs6>
												<p class="display-1 text-xs-right">2/</p>
											</v-flex>
											<v-flex xs6>
												<p class="body-1 text-xs-center">2<br>SEATS</p>
											</v-flex>
										</v-layout>
									</v-card>
								</v-flex>
								<v-flex xs12 sm6 md2 class="ml-3">
									<v-card color="grey lighten-4" light class="setheight">
										<v-container>
											<v-card-media class="" src="/static/iconNavbarDrawer/iconShare.png" height="50px" contain></v-card-media>
											<div class="subheading text-xs-center pt-2">INTELLIGIST </br> SHARING</div>
										</v-container>
										<hr class="lineCenter" width=70% size=1 color="grey">
										<v-layout class="pt-2">
											<v-flex xs6>
												<p class="display-1 text-xs-right">2/</p>
											</v-flex>
											<v-flex xs6>
												<p class="body-1 text-xs-center">2<br>SEATS</p>
											</v-flex>
										</v-layout>
									</v-card>
								</v-flex>
							</v-layout>
          </v-container>
					<v-flex xs12 sm12 md12 class="mt-1">
						<v-card flat color="grey lighten-4" light class="">
							<v-container>
								<div class="body-2 pt-2 pb-2">MIGRATION</div>
								<div class="body-1 pt-2 pb-2">It is possible to migrate your users, git projects and related authorizations from Talend Administration Center Version 5.6 and later to Talend Integration Cloud.
Here you can find all the migration necessary information</div>
							</v-container>
						</v-card>
						<v-btn class="mt-3" @click="" color="blue darken-1" outline flat left><v-icon>call</v-icon>CONTACT</v-btn>
					</v-flex>

        </v-card>
			</v-flex>

		</v-layout>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="css" scoped="">
.width100 {
	width: 100%;
}
.goCenter {
  display: flex;
  justify-content: center;
}
.lineCenter {
	display: block;
  margin-left: auto;
  margin-right: auto;
}
.card.setheight {
  height: 200px!important;
}
</style>
