<template lang="html">
  <div class="grey lighten-4 fullPage">
    <v-container fluid>
      <v-card v-if = "type === 'Root'">
        <v-card-title>
          <div class="title">
            Manage Admin
          </div>
          <v-spacer></v-spacer>
          <v-text-field append-icon="search" label="Search" single-line hide-details v-model="searchName"></v-text-field>
        </v-card-title>
        <v-data-table
          v-bind:headers="headers"
          v-bind:items="userWithDashInfo"
          v-bind:search="searchName"
          :loading="loading"
          item-key="user_id"
          class="elevation-1"
          :rows-per-page-items="[10, 25, 50, {text:'All', value: -1}]"
          >
          <template slot="headerCell" slot-scope="props">
            <span slot="activator">
              {{ props.header.text }}
            </span>
          </template>
          <template slot="items" slot-scope="props">
            <tr  v-if = "props.item.status != 'Suspended'" :active="props.expanded" @mouseover="active = true, hoverRow(props.item)" @mouseleave="active = false" @click="props.expanded = !props.expanded">
              <td class="text-md-left">{{ props.item.name }}</td>
              <td class="text-md-left">
                <v-tooltip top color="primary">
                  <v-btn slot="activator" color="grey" small flat icon v-if="active && props.item.user_id === selectedRow" @click="props.expand = !props.expand" >
                    <v-icon>settings</v-icon>
                  </v-btn>
                  <span>settings</span>
                </v-tooltip>
              </td>
              <td class="text-xs-center">{{ props.item.dashboard_available }}</td>
              <td class="text-xs-center">{{ props.item.sub_dashboard_available }}</td>
              <td class="text-xs-center">{{ props.item.last_updated }}</td>
            </tr>
          </template>
          <template slot="expand" slot-scope="props">
            <v-card flat style="background-color: #FCFCFC">
              <v-container fluid>
                <!-- <p>{{ dashboardList }}</p> -->
                <v-layout row wrap>
                  <v-flex xs12 sm6 md6>
                    {{ selectedMenu }}
                    <div v-for="i in dashboardList.length">
                      <b style="font-size: 1.5em;">{{ dashboardList[i-1].dashboard_name }}</b>
                      <div v-for="j in dashboardList[i-1].sub_dashboard.length">
                        <!-- {{ dashboardList[i-1].sub_dashboard[j-1].sub_dashboard_name }} -->
                        <v-checkbox
                          v-model="selectedMenu"
                          color="primary"
                          :label="`${dashboardList[i-1].sub_dashboard[j-1].sub_dashboard_name}`"
                          :value="`${dashboardList[i-1].sub_dashboard[j-1].sub_dashboard_id}`"
                          hide-details
                        ></v-checkbox>
                      </div>
                    </div>
                  </v-flex>
                </v-layout>
              </v-container>
              <v-card-actions class="pt-3">
                <v-spacer></v-spacer>
                <v-btn slot="activator" color="green" outline flat @click=""><v-icon left>save</v-icon>Save</v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-data-table>
      </v-card>

      <v-card v-else-if = "type === 'Admin'">
        <v-card-title>
          <div class="title">
            Manage Users
          </div>
          <v-spacer></v-spacer>
          <v-text-field append-icon="search" label="Search" single-line hide-details v-model="searchName"></v-text-field>
        </v-card-title>
        <v-data-table
          v-bind:headers="headers"
          v-bind:items="userList"
          v-bind:search="searchName"
          :loading="loading"
          item-key="email"
          hide-actions
          class="elevation-1"
          :rows-per-page-items="[10, 25, 50, {text:'All', value: -1}]"
          >
          <template slot="headerCell" slot-scope="props">
            <span slot="activator">
              {{ props.header.text }}
            </span>
          </template>
          <template slot="items" slot-scope="props">
            <tr  v-if = "props.item.status != 'Suspended'" :active="props.expanded" @mouseover="active = true, hoverRow(props.item)" @mouseleave="active = false" @click="props.expanded = !props.expanded">
              <td class="text-md-left size" width="35%">{{ props.item.name }}</td>
              <td width="10%" class="text-md-center">
                <v-tooltip top color="primary">
                  <v-btn slot="activator" color="grey" small flat icon v-if="active && props.item.email === selectedRow" @click="props.expand = !props.expand" >
                    <v-icon>settings</v-icon>
                  </v-btn>
                  <span>settings</span>
                </v-tooltip>
              </td>
              <td class="text-xs-center" style="width: 17%;">{{ props.item.last_updated }}</td>
            </tr>
          </template>
          <template slot="expand" slot-scope="props">
            <v-card flat style="background-color: #FCFCFC">
                <v-container fluid>
                  <p>{{ selectedMenu }}</p>
                  <v-layout row wrap>
                    <v-flex xs12 sm4 md4>
                      <v-checkbox
                        label="red"
                        v-model="selectedMenu"
                        color="red"
                        value="red"
                        hide-details
                      ></v-checkbox>
                      <v-checkbox
                        label="red darken-3"
                        v-model="selectedMenu"
                        color="red darken-3"
                        value="red darken-3"
                        hide-details
                      ></v-checkbox>
                    </v-flex>
                    <v-flex xs12 sm4 md4>
                      <v-checkbox
                        label="indigo"
                        v-model="selectedMenu"
                        color="indigo"
                        value="indigo"
                        hide-details
                      ></v-checkbox>
                      <v-checkbox
                        label="indigo darken-3"
                        v-model="selectedMenu"
                        color="indigo darken-3"
                        value="indigo darken-3"
                        hide-details
                      ></v-checkbox>
                    </v-flex>
                    <v-flex xs12 sm4 md4>
                      <v-checkbox
                        label="orange"
                        v-model="selectedMenu"
                        color="orange"
                        value="orange"
                        hide-details
                      ></v-checkbox>
                      <v-checkbox
                        label="orange darken-3"
                        v-model="selectedMenu"
                        color="orange darken-3"
                        value="orange darken-3"
                        hide-details
                      ></v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-container>
                <v-layout row wrap class="">
                  <v-flex xs12 sm6 md2 offset-xs9>
                  <v-card-actions class="pt-3">
                  <v-spacer></v-spacer>
                  <v-btn slot="activator" color="green" outline flat @click=""><v-icon left>save</v-icon>Save</v-btn>
                </v-card-actions>
                  </v-flex>
                </v-layout>
            </v-card>
          </template>
        </v-data-table>
      </v-card>
    </v-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      type: 'Root',
      loading: true,
      searchName: '',
      active: false,
      userWithDashInfo: [],
      dashboardList: [],
      selectedMenu: [],
      headers: [
        { text: 'NAME', align: 'left', value: 'name' },
        { text: '', align: 'center', sortable: false, value: '' },
        { text: 'Dashboard Available', align: 'center', value: 'dashboard_available' },
        { text: 'Sub Dashboard Available', align: 'center', value: 'sub_dashboard_available' },
        { text: 'LAST UPDATED', align: 'center', value: 'last_updated' }
      ],
      userList: [],
      userListAll: []
    }
  },
  created () {
    // this.getUser()
    this.getUserDashboardUAC()
  },
  methods: {
    hoverRow (name) {
      this.selectedRow = name.user_id
    },
    getUser () {
      this.axios.post(process.env.API + '/mgmt/getUser',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data.result) {
            var respUserList = response.data.result
            // console.log(respUserList)
            for (var i = 0; i < respUserList.length; i++) {
              respUserList[i]['name'] = respUserList[i]['firstname'] + ' ' + respUserList[i]['lastname']
              if (respUserList[i]['status'] === '1') {
                respUserList[i]['status'] = 'Offline'
              } else if (respUserList[i]['status'] === '2') {
                respUserList[i]['status'] = 'Online'
              } else if (respUserList[i]['status'] === '3') {
                respUserList[i]['status'] = 'Suspended'
              } else if (respUserList[i]['status'] === '4') {
                respUserList[i]['status'] = 'Pending'
              } else {
                respUserList[i]['status'] = 'Error'
              }
              respUserList[i]['last_updated'] = respUserList[i]['last_updated'].split(' GMT')[0]
            }
            this.userList = respUserList
          } else {
            this.userList = []
          }
          this.loading = false
        })
    },
    getUserDashboardUAC () {
      this.axios.post(process.env.API + '/mgmt/getUserDashboardUAC',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data.result) {
            this.userWithDashInfo = response.data.result

            for (var i = 0; i < this.userWithDashInfo.length; i++) {
              this.userWithDashInfo[i]['name'] = this.userWithDashInfo[i]['firstname'] + ' ' + this.userWithDashInfo[i]['lastname']
              delete this.userWithDashInfo[i]['firstname']
              delete this.userWithDashInfo[i]['lastname']
            }
            this.getDashboard()
            this.loading = false
          }
          // console.log(this.userWithDashInfo)
        })
    },
    getDashboard () {
      this.axios.post(process.env.API + '/mgmt/getDashboard',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          if (response.data.result) {
            this.dashboardList = response.data.result
            // console.log(this.dashboardList)
          }
        })
    }
  }
}
</script>

<style lang="css" scoped>
.fullPage{
  min-height: calc(100vh - 48px);
}
.application--light .table tbody tr[active] {
  background: #E6E6E6;
}
</style>
