<template lang="html">
    <div class="grey lighten-4 fullPage">
      <v-container fluid>
        <v-card>
          <v-card-title>
            <v-btn outline color="green" dark @click.stop="dialogAddRole = true, clearFormAddRole()"><v-icon left>add_circle</v-icon>ADD ROLE</v-btn>
            <v-spacer></v-spacer>
            <v-text-field append-icon="search" label="Search" single-line hide-details v-model="searchRole"></v-text-field>
          </v-card-title>
          <!-- HOVER ROLE EDIT, SETTING, DELETE -->
          <v-data-table
            v-bind:headers="headers"
            v-bind:items="roleNameList"
            v-bind:search="searchRole"
            :loading="loading"
            hide-actions
            item-key="role_name">
            <template slot="items" slot-scope="props">
              <tr :active="props.expanded" @mouseover="rowActive = true, hoverRow(props.item)" @mouseleave="rowActive = false" @click="props.expanded = !props.expanded, rolePermission(props.item)">
                <td width="30%"col class="text-md-left">{{ props.item.role_name }}</td>
                <td width="20%" class="text-md-right">
                  <v-tooltip top color="primary">
                    <v-btn slot="activator" color="primary" small flat icon v-if="rowActive && props.item.role_id === selectedRow" @click="editRole(props.item), getUser(), props.expanded = !props.expanded">
                      <v-icon>edit</v-icon>
                    </v-btn>
                    <span>edit</span>
                  </v-tooltip>
                  <v-tooltip top color="primary">
                    <v-btn slot="activator" color="primary" small flat icon v-if="rowActive && props.item.role_id === selectedRow"@click="rolePermission(props.item)" >
                      <v-icon>settings</v-icon>
                    </v-btn>
                    <span>settings</span>
                  </v-tooltip>
                  <v-tooltip top color="red">
                    <v-btn slot="activator" color="red" small flat icon v-if="rowActive && props.item.role_id === selectedRow" @click="deleteRole(props.item), props.expanded = !props.expanded">
                      <v-icon>delete</v-icon>
                    </v-btn>
                    <span>delete</span>
                  </v-tooltip>
                </td>
                <td class="text-xs-center">{{ props.item.userInRole.length }}</td>
                <td class="text-xs-center">{{ props.item.last_updated }}</td>
              </tr>
            </template>
            <template slot="expand" slot-scope="props">
              <v-card flat style="background-color: #FCFCFC">
                <div class="container">
                  <v-layout wrap>
                    <v-card-text class="title text-xs-center">Role Permissions</v-card-text>
                    <v-layout row wrap class="goCenter">
                      <v-flex xs12 sm6 md2 class="ml-3 mb-3">
                        <v-card color="white" light class="setheight">
                          <v-flex xs2 sm2 md2 offset-xs9 class="pt-2">
                            <v-switch color="primary" v-model="switchMenu['metadata']"></v-switch>
                          </v-flex>
                          <v-container>
                            <v-card-media src="/static/iconNavbarDrawer/iconMetadata.png" height="60px" contain v-bind:style="classMenuGrayscale['metadata']"></v-card-media>
                            <div class="subheading text-xs-center pt-2">METADATA</div>
                          </v-container>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 sm6 md2 class="ml-3">
                        <v-card color="white" light class="setheight">
                          <v-flex xs2 sm2 md2 offset-xs9 class="pt-2">
                            <v-switch color="primary" v-model="switchMenu['dashboard']"></v-switch>
                          </v-flex>
                          <v-container>
                            <v-card-media src="/static/iconNavbarDrawer/iconIntelligist.png" height="60px" contain v-bind:style="classMenuGrayscale['dashboard']"></v-card-media>
                            <div class="subheading text-xs-center pt-2">INTELLIGIST DASHBOARD</div>
                          </v-container>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 sm6 md2 class="ml-3">
                        <v-card color="white" light class="setheight">
                          <v-flex xs2 sm2 md2 offset-xs9 class="pt-2">
                            <v-switch color="primary" v-model="switchMenu['uploadmornitoring']"></v-switch>
                          </v-flex>
                          <v-container>
                            <v-card-media src="/static/iconNavbarDrawer/iconUpload.png" height="60px" contain v-bind:style="classMenuGrayscale['uploadmornitoring']"></v-card-media>
                            <div class="subheading text-xs-center pt-2">UPLOAD MORNITORING</div>
                          </v-container>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 sm6 md2 class="ml-3">
                        <v-card color="white" light class="setheight">
                          <v-flex xs2 sm2 md2 offset-xs9 class="pt-2">
                            <v-switch color="primary" v-model="switchMenu['datapreparation']"></v-switch>
                          </v-flex>
                          <v-container>
                            <v-card-media src="/static/iconNavbarDrawer/iconPreparation.png" height="60px" contain v-bind:style="classMenuGrayscale['datapreparation']"></v-card-media>
                            <div class="subheading text-xs-center pt-2">DATA PREPARATION</div>
                          </v-container>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 sm6 md2 class="ml-3">
                        <v-card color="white" light class="setheight">
                          <v-flex xs2 sm2 md2 offset-xs9 class="pt-2">
                            <v-switch color="primary" v-model="switchMenu['intelligistsharing']"></v-switch>
                          </v-flex>
                          <v-container>
                            <v-card-media src="/static/iconNavbarDrawer/iconShare.png" height="60px" contain v-bind:style="classMenuGrayscale['intelligistsharing']"></v-card-media>
                            <div class="subheading text-xs-center pt-2">INTELLIGIST SHARING</div>
                          </v-container>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 sm6 md2 class="ml-3">
                        <v-card color="white" light class="setheight">
                          <v-flex xs2 sm2 md2 offset-xs9 class="pt-2">
                            <v-switch color="primary" v-model="switchMenu['socialmonitoring']"></v-switch>
                          </v-flex>
                          <v-container>
                            <v-card-media src="/static/iconNavbarDrawer/social.png" height="60px" contain v-bind:style="classMenuGrayscale['socialmonitoring']"></v-card-media>
                            <div class="subheading text-xs-center pt-2">SOCIAL MONITORING</div>
                          </v-container>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 sm6 md2 class="ml-3">
                        <v-card color="white" light class="setheight">
                          <v-flex xs2 sm2 md2 offset-xs9 class="pt-2">
                            <v-switch color="primary" v-model="switchMenu['generatewizard']"></v-switch>
                          </v-flex>
                          <v-container>
                            <v-card-media src="/static/iconNavbarDrawer/generate.png" height="60px" contain v-bind:style="classMenuGrayscale['generatewizard']"></v-card-media>
                            <div class="subheading text-xs-center pt-2">GENERATE WIZARD</div>
                          </v-container>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-flex>
              </v-layout>
                <v-layout row wrap class="goCenter">
                  <v-flex xs12 sm6 md2 offset-xs9>
                    <v-card-actions class="pt-3">
                      <v-spacer></v-spacer>
                      <v-btn slot="activator" color="green" outline flat @click="saveSettingRoles(props.item)"><v-icon left>save</v-icon>Save</v-btn>
                    </v-card-actions>
                  </v-flex>
                </v-layout>
                </div>
              </v-card>
            </template>
          </v-data-table>
          <!-- ADD ROLE  -->
          <v-layout row justify-center>
            <v-dialog v-model="dialogAddRole" persistent max-width="800px">
              <v-card>
                <v-form v-model="validAddRole" ref="formAddRole" lazy-validation>
                  <v-toolbar class="blueIntel white--text" dark>
                    <v-toolbar-title>Add Role</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon @click.native="clearFormAddRole(), dialogAddRole = false" dark>
                      <v-icon>close</v-icon>
                    </v-btn>
                  </v-toolbar>
                  <v-divider></v-divider>
                  <v-card-text>
                    <v-container grid-list-md class="pl-3 pr-3">
                      <v-layout wrap>
                        <v-flex xs12 sm12 md12>
                          <v-text-field @keydown.enter.prevent ="addRole('1')" label="Role Name" v-model="addRoleName" :rules="roleNameRules" required></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-card-actions class="pl-4 pr-4 pb-3">
                    <v-btn color="red" outline flat @click.native="clearFormAddRole(), dialogAddRole  = false">Cancel</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn @click="addRole('0')" :disabled="!validAddRole" color="blue darken-1" outline flat>Save and add another</v-btn>
                    <v-btn @click="addRole('1')" :disabled="!validAddRole" color="green" outline flat>Save</v-btn>
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-dialog>
          </v-layout>
        </v-card>
        <!-- EDIT ROLE  -->
        <v-navigation-drawer v-model="drawerEditRole" light right clipped scrollable temporary class="mgt48 elevation-6">
          <v-toolbar flat class="grey lighten-3">
            <v-list class="pa-0">
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>ROLE DETAILS</v-list-tile-title>
                </v-list-tile-content>
                <v-spacer></v-spacer>
                <v-list-tile-action>
                  <v-btn color="red" flat icon @click="clearFormEditRole(), drawerEditRole = !drawerEditRole">
                    <v-icon color="red">clear</v-icon>
                  </v-btn>
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
          </v-toolbar>
          <v-divider></v-divider>
          <v-container grid-list-md>
            <v-form v-model="validEditRole" ref="formEditRole" lazy-validation>
              <v-layout wrap>
                <v-flex xs12 sm12 md12 class="pdb0">
                  <v-text-field label="Role Name" v-model="roleName" :rules="roleNameRules" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <div class="card--flex-toolbar">
                    <v-toolbar card color="white" dense>
                      <v-toolbar-title class="body-2">{{ countUser }}</v-toolbar-title>
                      <v-toolbar-title class="body-2">USERS WITH THE ROLE</v-toolbar-title>
                      <v-spacer></v-spacer>
                      <v-tooltip left>
                        <v-btn slot="activator" color="green" flat icon @click="mode = 'add'" v-show="mode === 'edit'">
                          <v-icon color="green">add</v-icon>
                        </v-btn>
                        <span>Add Users</span>
                      </v-tooltip>
                      <v-tooltip left>
                        <v-btn slot="activator" color="red" flat icon @click="mode = 'edit'" v-show="mode === 'add'">
                        <v-icon color="red">keyboard_arrow_left</v-icon>
                      </v-btn>
                      <span>Remove Users</span>
                    </v-tooltip>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <div v-show="mode === 'edit'">
                      <div class="pl-3 pr-3">
                        <v-text-field append-icon="search" label="Search" single-line v-model="searchUserRemove"></v-text-field>
                      </div>
                      <v-data-table
                        :items="userListInRole"
                        v-bind:search="searchUserRemove"
                        hide-actions
                        hide-headers>
                        <template slot="items" slot-scope="props">
                          <td width="95%" v-show = "props.item.status !== '4'">
                            {{ props.item.name }}
                          </td>
                          <td width="5%" v-show = "props.item.status !== '4'">
                            <v-btn slot="activator" color="grey" small flat icon @click="removeUserFromRole(props.item)">
                              <v-icon color="red">remove</v-icon>
                            </v-btn>
                          </td>
                        </template>
                      </v-data-table>
                    </div>
                    <div v-show="mode === 'add'">
                      <div class="pl-3 pr-3">
                        <v-text-field append-icon="search" label="Search" single-line v-model="searchUserAdd"></v-text-field>
                      </div>
                      <v-data-table
                        :items="userFilter"
                        v-bind:search="searchUserAdd"
                        hide-actions
                        hide-headers>
                        <template slot="items" slot-scope="props">
                          <td width="95%" v-show = "props.item.status !== '4'">
                            {{ props.item.name }}
                          </td>
                          <td width="5%" v-show = "props.item.status !== '4'">
                            <v-btn slot="activator" color="grey" small flat icon @click="addUsertoRole(props.item)">
                              <v-icon color="green">add</v-icon>
                            </v-btn>
                          </td>
                        </template>
                      </v-data-table>
                    </div>
                  </div>
                </v-flex>
              </v-layout>
              <!-- </v-card>
              </v-layout> -->
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn :disabled="!validEditRole" color="green" outline flat @click="saveEditRoles()"><v-icon left>save</v-icon> Save</v-btn>
              </v-card-actions>
            </v-form>
          </v-container>
        </v-navigation-drawer>
      </v-container>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        loading: true,
        switchMenu: {
          'metadata': false,
          'dashboard': false,
          'uploadmornitoring': false,
          'datapreparation': false,
          'intelligistsharing': false,
          'socialmonitoring': false,
          'generatewizard': false
        },
        classMenuGrayscale: {
          'metadata': {'webkit-filter': 'grayscale(100%)', 'filter': 'grayscale(100%)'},
          'dashboard': {'webkit-filter': 'grayscale(100%)', 'filter': 'grayscale(100%)'},
          'uploadmornitoring': {'webkit-filter': 'grayscale(100%)', 'filter': 'grayscale(100%)'},
          'datapreparation': {'webkit-filter': 'grayscale(100%)', 'filter': 'grayscale(100%)'},
          'intelligistsharing': {'webkit-filter': 'grayscale(100%)', 'filter': 'grayscale(100%)'},
          'socialmonitoring': {'webkit-filter': 'grayscale(100%)', 'filter': 'grayscale(100%)'},
          'generatewizard': {'webkit-filter': 'grayscale(100%)', 'filter': 'grayscale(100%)'}
        },
        grayscaleClass: {'webkit-filter': 'grayscale(100%)', 'filter': 'grayscale(100%)'},
        validAddRole: '',
        validEditRole: '',
        dialogAddRole: false,
        drawerEditRole: false,
        mode: 'edit',
        active: null,
        rowActive: false,
        text: 'Lorem ipsum.',
        searchRole: '',
        searchUserRemove: '',
        searchUserAdd: '',
        countUser: '',
        userListInRole: [],
        userListAll: [],
        selected: [],
        selectedRow: '',
        headers: [
          { text: 'ROLE NAME', align: 'left', value: 'role_name' },
          { text: '', align: 'right', sortable: false, value: '' },
          { text: 'NUMBER OF USERS', align: 'center', value: 'userInRole' },
          { text: 'LAST UPDATE', align: 'center', value: 'last_updated' }
        ],
        items: [],
        addRoleName: '',
        roleID: '',
        roleName: '',
        roleNameRules: [ (v) => !!v || 'Role Name is required' ],
        roleNameList: [],
        saveEditMenu: [],
        userFilter: []
      }
    },
    created () {
      this.getRole()
      this.updateGrayscaleIcon()
    },
    watch: {
      switchMenu: {
        handler: function (val, oldVal) {
          if (this.switchMenu['metadata'] === true) {
            this.classMenuGrayscale['metadata'] = {}
          } else {
            this.classMenuGrayscale['metadata'] = this.grayscaleClass
          }
          if (this.switchMenu['dashboard'] === true) {
            this.classMenuGrayscale['dashboard'] = {}
          } else {
            this.classMenuGrayscale['dashboard'] = this.grayscaleClass
          }
          if (this.switchMenu['uploadmornitoring'] === true) {
            this.classMenuGrayscale['uploadmornitoring'] = {}
          } else {
            this.classMenuGrayscale['uploadmornitoring'] = this.grayscaleClass
          }
          if (this.switchMenu['datapreparation'] === true) {
            this.classMenuGrayscale['datapreparation'] = {}
          } else {
            this.classMenuGrayscale['datapreparation'] = this.grayscaleClass
          }
          if (this.switchMenu['intelligistsharing'] === true) {
            this.classMenuGrayscale['intelligistsharing'] = {}
          } else {
            this.classMenuGrayscale['intelligistsharing'] = this.grayscaleClass
          }
          if (this.switchMenu['socialmonitoring'] === true) {
            this.classMenuGrayscale['socialmonitoring'] = {}
          } else {
            this.classMenuGrayscale['socialmonitoring'] = this.grayscaleClass
          }
          if (this.switchMenu['generatewizard'] === true) {
            this.classMenuGrayscale['generatewizard'] = {}
          } else {
            this.classMenuGrayscale['generatewizard'] = this.grayscaleClass
          }
        },
        deep: true
      }
    },
    methods: {
      updateGrayscaleIcon () {
        if (this.switchMenu['metadata'] === true) {
          this.classMenuGrayscale['metadata'] = {}
        } else {
          this.classMenuGrayscale['metadata'] = this.grayscaleClass
        }
        if (this.switchMenu['dashboard'] === true) {
          this.classMenuGrayscale['dashboard'] = {}
        } else {
          this.classMenuGrayscale['dashboard'] = this.grayscaleClass
        }
        if (this.switchMenu['uploadmornitoring'] === true) {
          this.classMenuGrayscale['uploadmornitoring'] = {}
        } else {
          this.classMenuGrayscale['uploadmornitoring'] = this.grayscaleClass
        }
        if (this.switchMenu['datapreparation'] === true) {
          this.classMenuGrayscale['datapreparation'] = {}
        } else {
          this.classMenuGrayscale['datapreparation'] = this.grayscaleClass
        }
        if (this.switchMenu['intelligistsharing'] === true) {
          this.classMenuGrayscale['intelligistsharing'] = {}
        } else {
          this.classMenuGrayscale['intelligistsharing'] = this.grayscaleClass
        }
        if (this.switchMenu['socialmonitoring'] === true) {
          this.classMenuGrayscale['socialmonitoring'] = {}
        } else {
          this.classMenuGrayscale['socialmonitoring'] = this.grayscaleClass
        }
        if (this.switchMenu['generatewizard'] === true) {
          this.classMenuGrayscale['generatewizard'] = {}
        } else {
          this.classMenuGrayscale['generatewizard'] = this.grayscaleClass
        }
      },
      getRole () {
        this.axios.post(process.env.API + '/mgmt/getRole',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            }
          }).then((response) => {
            if (response.data.result === 'Not found your role') {
              this.roleNameList = []
            } else if (response.data.result.length) {
              var respRoleList = response.data.result
              for (var i = 0; i < respRoleList.length; i++) {
                respRoleList[i]['last_updated'] = respRoleList[i]['last_updated'].split(' GMT')[0]
              }
              this.roleNameList = respRoleList
            }
            this.loading = false
          })
      },
      rolePermission (roleData) {
        var menuAvailable = roleData['menu_available'].split(',')
        if (menuAvailable.indexOf('1') === -1) {
          this.switchMenu['metadata'] = false
        } else {
          this.switchMenu['metadata'] = true
        }
        if (menuAvailable.indexOf('2') === -1) {
          this.switchMenu['dashboard'] = false
        } else {
          this.switchMenu['dashboard'] = true
        }
        if (menuAvailable.indexOf('3') === -1) {
          this.switchMenu['uploadmornitoring'] = false
        } else {
          this.switchMenu['uploadmornitoring'] = true
        }
        if (menuAvailable.indexOf('4') === -1) {
          this.switchMenu['datapreparation'] = false
        } else {
          this.switchMenu['datapreparation'] = true
        }
        if (menuAvailable.indexOf('5') === -1) {
          this.switchMenu['intelligistsharing'] = false
        } else {
          this.switchMenu['intelligistsharing'] = true
        }
        if (menuAvailable.indexOf('7') === -1) {
          this.switchMenu['socialmonitoring'] = false
        } else {
          this.switchMenu['socialmonitoring'] = true
        }
        if (menuAvailable.indexOf('8') === -1) {
          this.switchMenu['generatewizard'] = false
        } else {
          this.switchMenu['generatewizard'] = true
        }
      },
      // checkAddRole () {
      //   this.$refs.form.validate()
      //   this.addRole()
      // },
      addRole (justSave) {
        if (this.$refs.formAddRole.validate()) {
          this.axios.post(process.env.API + '/mgmt/addRole',
            {
              'user': {
                'email': localStorage.getItem('email'),
                'firstname': localStorage.getItem('firstname'),
                'lastname': localStorage.getItem('lastname')
              },
              'role': {
                'role_name': this.addRoleName
              }
            }).then((response) => {
              if (response.data.result === 'success') {
                this.$swal({
                  type: 'success',
                  title: 'Your work has been saved',
                  showConfirmButton: false,
                  timer: 1200
                })
                if (justSave === '1') {
                  this.dialogAddRole = false
                } else {
                  this.dialogAddRole = true
                }
              } else {
                this.$swal({
                  type: 'warning',
                  title: response.data.result,
                  showConfirmButton: false,
                  timer: 1200
                })
              }
              this.getRole()
            })
          this.$refs.formAddRole.reset()
        }
      },
      hoverRow (data) {
        this.selectedRow = data.role_id
      },
      removeUserFromRole (data) {
        // console.log(data)
        this.userListInRole = this.userListInRole.filter(function (user) { return user['user_id'] !== data['user_id'] })
        var selectedUser = this.userListInRole.map(user => '' + user['user_id'])
        // console.log(selectedUser)
        this.userFilter = this.userListAll.filter(function (user) {
          var uid = '' + user['user_id']
          return selectedUser.indexOf(uid) < 0
        })
        this.countUser = this.userListInRole.length
      },
      addUsertoRole (data) {
        // console.log(data)
        this.userFilter = this.userFilter.filter(function (user) { return user['user_id'] !== data['user_id'] })
        var selectedUser = this.userFilter.map(user => '' + user['user_id'])
        // console.log(selectedUser)
        this.userListInRole = this.userListAll.filter(function (user) {
          var uid = '' + user['user_id']
          return selectedUser.indexOf(uid) < 0
        })
        this.countUser = this.userListInRole.length
      },
      getUser () {
        this.axios.post(process.env.API + '/mgmt/getUser',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            }
          }).then((response) => {
            if (response.data.result) {
              var respUserList = response.data.result
              // console.log(respUserList)
              for (var i = 0; i < respUserList.length; i++) {
                respUserList[i]['name'] = respUserList[i]['firstname'] + ' ' + respUserList[i]['lastname']
              }
              this.userListAll = respUserList
              var selectedUser = this.userListInRole.map(user => '' + user['user_id'])
              // console.log(selectedUser)
              this.userFilter = this.userListAll.filter(function (user) {
                var uid = '' + user['user_id']
                console.log(uid)
                return selectedUser.indexOf(uid) < 0
              })
              // console.log(this.userFilter)
            } else {
              this.userListAll = []
              this.userFilter = []
            }
          })
      },
      editRole (data) {
        this.getUser()
        this.mode = 'edit'
        this.countUser = data.userInRole.length
        this.drawerEditRole = true
        this.roleID = data.role_id
        this.roleName = data.role_name
        this.userListInRole = data.userInRole
        for (var i = 0; i < data.userInRole.length; i++) {
          this.userListInRole[i]['name'] = data.userInRole[i]['firstname'] + ' ' + data.userInRole[i]['lastname']
        }
      },
      saveSettingRoles (roleInfo) {
        this.saveEditMenu = []
        var menuKeys = Object.keys(this.switchMenu)
        for (var i = 0; i < menuKeys.length; i++) {
          if (this.switchMenu[menuKeys[i]] === true) {
            if (menuKeys[i] === 'metadata') {
              this.saveEditMenu.push('1')
            } else if (menuKeys[i] === 'dashboard') {
              this.saveEditMenu.push('2')
            } else if (menuKeys[i] === 'uploadmornitoring') {
              this.saveEditMenu.push('3')
            } else if (menuKeys[i] === 'datapreparation') {
              this.saveEditMenu.push('4')
            } else if (menuKeys[i] === 'intelligistsharing') {
              this.saveEditMenu.push('5')
            } else if (menuKeys[i] === 'socialmonitoring') {
              this.saveEditMenu.push('7')
            } else if (menuKeys[i] === 'generatewizard') {
              this.saveEditMenu.push('8')
            } else {
              console.log(menuKeys[i] + ' is not found')
            }
          }
        }
        this.axios.post(process.env.API + '/mgmt/editRole',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            },
            'role': {
              'role_id': roleInfo['role_id'],
              'role_name': roleInfo['role_name'],
              'menu_available': this.saveEditMenu.join()
            }
          }).then((response) => {
            if (response.data.result === 'success') {
              this.$swal('Complete', '', 'success')
            } else {
              this.$swal(response.data.result, '', 'warning')
            }
            this.getRole()
          })
      },
      saveEditRoles () {
        if (this.$refs.formEditRole.validate()) {
          var usersID = this.userListInRole.map(user => '' + user['user_id'])
          this.axios.post(process.env.API + '/mgmt/editRoleMember',
            {
              'user': {
                'email': localStorage.getItem('email'),
                'firstname': localStorage.getItem('firstname'),
                'lastname': localStorage.getItem('lastname')
              },
              'role': {
                'role_id': this.roleID,
                'role_name': this.roleName,
                'users_id': usersID
              }
            }).then((response) => {
              if (response.data.result === 'success') {
                this.$swal({
                  type: 'success',
                  title: 'Complete',
                  showConfirmButton: false,
                  timer: 800
                })
                this.drawerEditRole = !this.drawerEditRole
              } else {
                this.$swal(response.data.result, '', 'warning')
              }
              this.getRole()
            })
        }
      },
      deleteRole (roleInfo) {
        var me = this
        this.$swal({
          title: 'Are you sure?',
          text: 'You would not be able to revert this!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then(function (result) {
          me.axios.post(process.env.API + '/mgmt/deleteRole',
            {
              'user': {
                'email': localStorage.getItem('email'),
                'firstname': localStorage.getItem('firstname'),
                'lastname': localStorage.getItem('lastname')
              },
              'role': {
                'role_id': roleInfo['role_id']
              }
            }).then((response) => {
              if (response.data.result === 'success') {
                me.$swal({
                  type: 'success',
                  title: 'Your work has been saved',
                  showConfirmButton: false,
                  timer: 1000
                })
              } else {
                me.$swal(response.data.result, '', 'warning')
              }
              me.getRole()
            })
        })
      },
      clearFormAddRole () {
        this.$refs.formAddRole.reset()
      },
      clearFormEditRole () {
        this.$refs.formEditRole.reset()
      }
    }
  }
</script>

<style lang="css" scoped>
.blueIntel {
  background-color: #1DA6DF !important;
}
.mgt48 {
  margin-top: 48px !important;
  width: 30% !important;
}
.fullPage{
  min-height: calc(100vh - 48px);
}
.goCenter {
  display: flex;
  justify-content: center;
}
.application--light .table tbody tr[active] {
  background: #E6E6E6;
}
.pdt0 {
  padding-top: 0px!important;
}
.pdb0 {
  padding-bottom: 0px!important;
}
.card.setheight {
  height: 185px!important;
}
</style>
