<template lang="html">
  <v-card-text class="bg">
    <v-container fluid grid-list-xl>
      <!-- <v-layout row wrap>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3" v-if="subDashboardUAC.indexOf('1') > -1">
            <v-card-text class="subheading">CIMB</v-card-text>
            <v-card-media @click="goGraphBank1()" class="hand"
              src="/static/graphPic/bank1.PNG" height="210px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <div class=""> -->
            <!-- <div class="" @click="toggle(index)">
              <v-btn icon>
                <v-icon color="yellow darken-2">star</v-icon> -->
                <!-- <v-icon
                color="grey lighten-1"
                v-if="selected.indexOf(index) < 0"
                >star_border</v-icon>
                <v-icon
                color="yellow darken-2"
                v-else
                >star</v-icon> -->
                <!-- <v-icon
                color="grey lighten-1"
                >star</v-icon>
              </v-btn>
            </div>
          </v-card-actions>
        </v-flex>
        <v-flex xs12 sm6 md4 v-if="subDashboardUAC.indexOf('2') > -1">
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">Life Insurance Dashboard</v-card-text>
            <v-card-media  @click="goGraphInsurance()" class="hand"
              src="/static/graphPic/insurance.PNG" height="210px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="grey">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
      </v-layout> -->

      <v-container fluid grid-list-md>
        <v-layout row wrap>
          <v-flex
            v-bind="{ [`xs${card.flexXS}`]: true, [`sm${card.flexSM}`]: true, [`md${card.flexMD}`]: true }"
            v-for="card in cards"
            :key="card.title"
            v-if="subDashboardUAC.indexOf(card.id) > -1 || subDashboardUAC.indexOf('*') > -1"
          >
            <v-card>
              <v-card tile flat color="grey lighten-3">
                <v-card-text class="subheading"v-text="card.title" ></v-card-text>
              </v-card>
              <v-card-media
                class="cardHover"
                :src="card.src"
                height="200px"
                @click = "goGraph(card.id)"
              >
              </v-card-media>
              <v-card-actions class="grey lighten-3">
                <v-spacer></v-spacer>
                <v-btn icon>
                  <v-icon color="red">star</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>

    </v-container>
  </v-card-text>
</template>

<script>
export default {
  data () {
    return {
      subDashboardUAC: [],
      // selected: [1],
      cards: [
        { id: '1', title: 'CIMB', src: '/static/graphPic/bank1.PNG', flexXS: 12, flexSM: 6, flexMD: 4 },
        { id: '2', title: 'Life Insurance Dashboard', src: '/static/graphPic/insurance.PNG', flexXS: 12, flexSM: 6, flexMD: 4 }
      ]
    }
  },
  created () {
    this.getSubDashboardUAC()
  },
  methods: {
    getSubDashboardUAC () {
      // IDEA: วิธีแรก get from localStorage, วิธีที่สอง post ไปหา backend ตรงๆ
      // this.subDashboardUAC = ['1'] // << DEBUG
      // localStorage.setItem('UAC_SUB_DASHBOARD', '1')
      // this.subDashboardUAC = localStorage.getItem('UAC_SUB_DASHBOARD').split(',')

      this.axios.post(process.env.API + '/getOwnDashboardUAC',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          var result = response.data.result
          if (result.sub_dashboard_available) {
            this.subDashboardUAC = result.sub_dashboard_available.split(',')
          } else {
            this.subDashboardUAC = ''
            this.$swal('Sorry', result, 'error')
            this.$router.push('/sorry')
          }
        })
    },
    goGraph (i) {
      if (i === '1') {
        this.$router.push('/dashboard/bank/graphBank1')
      } else if (i === '2') {
        this.$router.push('/dashboard/bank/graphInsurance')
      }
    }
  }
}
</script>

<style lang="css">
.application--light {
  background: #fff;
}
.cardHover:hover {
  cursor: pointer;
  opacity: 0.8;
}
</style>
