<template lang="html">
  <v-card-text>
    <v-container fluid grid-list-xl>
      <!-- <v-layout row wrap>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">BANPU</v-card-text>
            <v-card-media  @click="goGraphBanpu()" class="hand"
              src="/static/graphPic/comBanpu.PNG" height="210px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">Surapon Foods</v-card-text>
            <v-card-media  @click="goGraphSurapon()" class="hand"
              src="/static/graphPic/comSurapon.PNG" height="210px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">HotPot New Sales</v-card-text>
            <v-card-media @click="goGraphHotPotNewSales()" class="hand"
              src="/static/graphPic/comHotpotNewSales.PNG" height="210px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">HotPot Top Sale</v-card-text>
            <v-card-media  @click="goGraphHotPotTopSale()" class="hand"
              src="/static/graphPic/comHotpotTopSale.PNG" height="210px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
      </v-layout> -->
      <v-container fluid grid-list-md>
        <v-layout row wrap>
          <v-flex
            v-bind="{ [`xs${card.flexXS}`]: true, [`sm${card.flexSM}`]: true, [`md${card.flexMD}`]: true }"
            v-for="card in cards"
            :key="card.title"
            v-if="subDashboardUAC.indexOf(card.id) > -1 || subDashboardUAC.indexOf('*') > -1"
          >
            <v-card>
              <v-card tile flat color="grey lighten-3">
                <v-card-text class="subheading"v-text="card.title" ></v-card-text>
              </v-card>
              <v-card-media
                class="cardHover"
                :src="card.src"
                height="200px"
                @click = "goGraph(card.id)"
              >
              </v-card-media>
              <v-card-actions class="grey lighten-3">
                <v-spacer></v-spacer>
                <v-btn icon>
                  <v-icon color="red">star</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-container>
  </v-card-text>
</template>

<script>
export default {
  data () {
    return {
      subDashboardUAC: [],
      cards: [
        { id: '1', title: 'BANPU', src: '/static/graphPic/comBanpu.PNG', flexXS: 12, flexSM: 6, flexMD: 4 },
        { id: '2', title: 'Surapon Foods', src: '/static/graphPic/comSurapon.PNG', flexXS: 12, flexSM: 6, flexMD: 4 },
        { id: '3', title: 'HotPot New Sales', src: '/static/graphPic/comHotpotNewSales.PNG', flexXS: 12, flexSM: 6, flexMD: 4 },
        { id: '4', title: 'HotPot Top Sale', src: '/static/graphPic/comHotpotTopSale.PNG', flexXS: 12, flexSM: 6, flexMD: 4 }
      ]
    }
  },
  created () {
    this.getSubDashboardUAC()
  },
  methods: {
    getSubDashboardUAC () {
      // IDEA: วิธีแรก get from localStorage, วิธีที่สอง post ไปหา backend ตรงๆ
      // this.subDashboardUAC = ['1'] // << DEBUG
      // localStorage.setItem('UAC_SUB_DASHBOARD', '1')
      // this.subDashboardUAC = localStorage.getItem('UAC_SUB_DASHBOARD').split(',')

      this.axios.post(process.env.API + '/getOwnDashboardUAC',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          var result = response.data.result
          if (result.sub_dashboard_available) {
            this.subDashboardUAC = result.sub_dashboard_available.split(',')
          } else {
            this.subDashboardUAC = ''
            this.$swal('Sorry', result, 'error')
            this.$router.push('/sorry')
          }
        })
    },
    goGraph (i) {
      if (i === '1') {
        this.$router.push('/dashboard/commercial/graphcombanpu')
      } else if (i === '2') {
        this.$router.push('/dashboard/commercial/graphcomsurapon')
      } else if (i === '3') {
        this.$router.push('/dashboard/commercial/graphcomhotpotnewsales')
      } else if (i === '4') {
        this.$router.push('/dashboard/commercial/graphcomhotpottopsale')
      }
    }
  }
}
</script>

<style lang="css">
  .cardHover:hover {
    cursor: pointer;
    opacity: 0.8;
  }
</style>
