<template lang="html">
  <v-card-text>
    <v-container fluid grid-list-xl>
      <!-- <v-layout row wrap>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">การวางแผนการจัดการศึกษา</v-card-text>
            <v-card-media  @click="goGraphED1()" class="hand"
              src="/static/graphPic/ed1.PNG" height="210px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">ข้อมูลสถิติประชากรอายุ 3 ปี</v-card-text>
            <v-card-media  @click="goGraphED2()" class="hand"
              src="/static/graphPic/ed2.PNG" height="210px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">สัดส่วนห้องเรียนต่อจำนวนนักเรียน</v-card-text>
            <v-card-media  @click="goGraphED3()" class="hand"
              src="/static/graphPic/ed3.PNG" height="210px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">โรงเรียนขนาดเล็ก</v-card-text>
            <v-card-media  @click="goGraphED4()" class="hand"
              src="/static/graphPic/ed4.PNG" height="210px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">อาชีวศึกษา</v-card-text>
            <v-card-media  @click="goGraphED5()" class="hand"
              src="/static/graphPic/ed5.PNG" height="210px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">ความต้องการสินค้าอินทรีย์</v-card-text>
            <v-card-media  @click="goGraphED6()" class="hand"
              src="/static/graphPic/ed6.PNG" height="210px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
      </v-layout> -->
      <v-container fluid grid-list-md>
        <v-layout row wrap>
          <v-flex
            v-bind="{ [`xs${card.flexXS}`]: true, [`sm${card.flexSM}`]: true, [`md${card.flexMD}`]: true }"
            v-for="card in cards"
            :key="card.title"
            v-if="subDashboardUAC.indexOf(card.id) > -1 || subDashboardUAC.indexOf('*') > -1"
          >
            <v-card>
              <v-card tile flat color="grey lighten-3">
                <v-card-text class="subheading"v-text="card.title" ></v-card-text>
              </v-card>
              <v-card-media
                class="cardHover"
                :src="card.src"
                height="200px"
                @click = "goGraph(card.id)"
              >
              </v-card-media>
              <v-card-actions class="grey lighten-3">
                <v-spacer></v-spacer>
                <v-btn icon>
                  <v-icon color="red">star</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-container>
  </v-card-text>
</template>

<script>
export default {
  data () {
    return {
      subDashboardUAC: [],
      cards: [
        { id: '1', title: 'การวางแผนการจัดการศึกษา', src: '/static/graphPic/ed1.PNG', flexXS: 12, flexSM: 6, flexMD: 4 },
        { id: '2', title: 'ข้อมูลสถิติประชากรอายุ 3 ปี', src: '/static/graphPic/ed2.PNG', flexXS: 12, flexSM: 6, flexMD: 4 },
        { id: '3', title: 'สัดส่วนห้องเรียนต่อจำนวนนักเรียน', src: '/static/graphPic/ed3.PNG', flexXS: 12, flexSM: 6, flexMD: 4 },
        { id: '4', title: 'โรงเรียนขนาดเล็ก', src: '/static/graphPic/ed4.PNG', flexXS: 12, flexSM: 6, flexMD: 4 },
        { id: '5', title: 'อาชีวศึกษา', src: '/static/graphPic/ed5.PNG', flexXS: 12, flexSM: 6, flexMD: 4 },
        { id: '6', title: 'ความต้องการสินค้าอินทรีย์', src: '/static/graphPic/ed6.PNG', flexXS: 12, flexSM: 6, flexMD: 4 }
      ]
    }
  },
  created () {
    this.getSubDashboardUAC()
  },
  methods: {
    getSubDashboardUAC () {
      // IDEA: วิธีแรก get from localStorage, วิธีที่สอง post ไปหา backend ตรงๆ
      // this.subDashboardUAC = ['1'] // << DEBUG
      // localStorage.setItem('UAC_SUB_DASHBOARD', '1')
      // this.subDashboardUAC = localStorage.getItem('UAC_SUB_DASHBOARD').split(',')

      this.axios.post(process.env.API + '/getOwnDashboardUAC',
        {
          'user': {
            'email': localStorage.getItem('email'),
            'firstname': localStorage.getItem('firstname'),
            'lastname': localStorage.getItem('lastname')
          }
        }).then((response) => {
          var result = response.data.result
          if (result.sub_dashboard_available) {
            this.subDashboardUAC = result.sub_dashboard_available.split(',')
          } else {
            this.subDashboardUAC = ''
            this.$swal('Sorry', result, 'error')
            this.$router.push('/sorry')
          }
        })
    },
    goGraph (i) {
      if (i === '1') {
        this.$router.push('/dashboard/education/graphed1')
      } else if (i === '2') {
        this.$router.push('/dashboard/education/graphed2')
      } else if (i === '3') {
        this.$router.push('/dashboard/education/graphed3')
      } else if (i === '4') {
        this.$router.push('/dashboard/education/graphed4')
      } else if (i === '5') {
        this.$router.push('/dashboard/education/graphed5')
      } else if (i === '6') {
        this.$router.push('/dashboard/education/graphed6')
      }
    }
    // goGraphED1 () {
    //   this.$router.push('/dashboard/education/graphed1')
    // },
    // goGraphED2 () {
    //   this.$router.push('/dashboard/education/graphed2')
    // },
    // goGraphED3 () {
    //   this.$router.push('/dashboard/education/graphed3')
    // },
    // goGraphED4 () {
    //   this.$router.push('/dashboard/education/graphed4')
    // },
    // goGraphED5 () {
    //   this.$router.push('/dashboard/education/graphed5')
    // },
    // goGraphED6 () {
    //   this.$router.push('/dashboard/education/graphed6')
    // }
  }
}
</script>

<style lang="css" scoped>
.cardHover:hover {
  cursor: pointer;
  opacity: 0.8;
}
</style>
