<template lang="html">
  <v-card-text>
    <v-container fluid grid-list-xl>
      <v-layout row wrap>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">GDP At Current Market Prices, Annual (2016)</v-card-text>
            <v-card-media
              src="/static/graph.PNG" height="260px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">GDP At Current Market Prices, Annual (2016)</v-card-text>
            <v-card-media
              src="/static/graph.PNG" height="260px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
        <v-flex xs12 sm6 md4>
          <v-card tile flat color="grey lighten-3">
            <v-card-text class="subheading">GDP At Current Market Prices, Annual (2016)</v-card-text>
            <v-card-media
              src="/static/graph.PNG" height="260px" contain
            ></v-card-media>
          </v-card>
          <v-card-actions class="grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">star</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card-text>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
