<template>
  <v-app data-app="true">
    <router-view></router-view>
  </v-app>
</template>
<script>

// TOOLS

// Counter for each key
// var counts = {}
// col.forEach(function (x) { counts[x] = (counts[x] || 0) + 1 })

// Find Duplicate and Compress Array
// var compressCol = []
// col.forEach(function (x) { if (!compressCol.includes(x)) { compressCol.push(x) } })

export default {
  created () {
    this.validateEmail()
  },
  methods: {
    validateEmail () {
      if (localStorage.getItem('email') && localStorage.getItem('firstname') && localStorage.getItem('lastname')) {
        this.axios.post(process.env.API + '/validateEmail', {'email': localStorage.getItem('email'), 'firstname': localStorage.getItem('firstname'), 'lastname': localStorage.getItem('lastname')}).then((response) => {
          if (response.data.status === 'not found') {
            this.$router.push('/')
          }
        })
      }
    }
  }
}

</script>
<style lang="stylus">
  @import './stylus/main'
</style>
<style lang="css">
html {
  overflow-y: auto;
}
.application--light {
  background: white;
}
.btn--floating {
    z-index: 2;
}
</style>
