<template lang="html">
  <div class="">
    <navbarLogin/>
    <div class="hidden-sm-and-down">
      <v-layout row>
        <v-flex xs3>
          <v-card dark tile flat color="white" style="height: 93vh;">

            <v-card-text class="textPadTop title">
              <v-btn flat icon color="error" @click="goBack()">
                <v-icon>arrow_back</v-icon>
              </v-btn>FORGET PASSWORD</v-card-text>
            <div class="padLeftRight30">
              <p class="subheading textBlack">Enter your email address</p>
              <p class="body-2 textBlack">You will reseive an email with the link to confirm your account</p>
              <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                label="Email"
                v-model="email"
                :rules="emailRules"
                required
                @keydown.enter.prevent="submitRePass()"                
                ></v-text-field>
              </v-form>
              <v-btn @click="submitRePass()" :disabled="!valid" class="btnSubmit blue darken-1">submit</v-btn>
            </div>
          </v-card>
        </v-flex>
        <v-flex xs9>
          <v-card dark tile flat style="height: 93vh; background-color: #F2F2F2; color: black; ">
            <div class="goCenter">
              <div class="">
                <img src="/static/logo.png" class="logoIntel" alt="">
              </div>
              <div class="vertical-line" style="height: 45px;"></div>
              <div class="">
                <p class="mgb-0 body-2">Self-Service <br> Data Science <br> Platform </p>
              </div>
              <hr>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </div>

    <!-- Mobile -->
    <div class="hidden-md-and-up">
      <v-layout row wrap>
        <v-flex xs12>
          <v-card dark tile flat color="white" style="height: 93vh;">
            <v-card-text class="textPadTop title"><v-btn flat icon color="error" @click="goBack()">
              <v-icon>arrow_back</v-icon>
            </v-btn>FORGET PASSWORD</v-card-text>
            <div class="padLeftRight30">
              <p class="subheading textBlack">Enter your email address</p>
              <p class="body-2 textBlack">You will reseive an email with the link to confirm your account</p>
              <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                label="Email"
                v-model="email"
                :rules="emailRules"
                required
                ></v-text-field>
              </v-form>
              <v-btn @click="submitRePass()" :disabled="!valid" class="btnSubmit blue darken-1">submit</v-btn>
            </div>
          </v-card>
        </v-flex>
    </v-layout>
    </div>
  </div>

</template>

<script>
import navbarLogin from '@/components/navbarLogin'
export default {
  components: {
    navbarLogin
  },
  data () {
    return {
      valid: true,
      email: '',
      emailRules: [
        (v) => !!v || 'Email is required'
      ]
    }
  },
  methods: {
    submitRePass () {
      this.axios.post(process.env.API + '/forgotPassword', {'email': this.email, 'link': process.env.LINK}).then((response) => {
        if (response.data === 'success') {
          this.$swal('Please check your email to reset password', '', 'success')
          this.$router.push('/')
        } else if (response.data === 'not found') {
          this.$swal('Email is not found', '', 'warning')
        } else {
          this.$swal(response.data, '', 'error')
        }
      })
      // this.$router.push('/resetpassword')
    },
    goBack () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="css" scoped>
.textBlack {
  color: black !important;
}
.goCenter {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.vertical-line{
  width: 2px;
  background-color: #007CC3;
  height: 100%;
  float: left;
  margin: 18px;
}
.textPadTop {
  color: black;
  padding-top: 30px;
  padding-left: 30px;
}
.padLeftRight30 {
  padding-left: 30px;
  padding-right: 30px;
}
.btnSubmit {
  color: white !important;
  margin-left: 0px !important;
  margin-bottom: 40px !important;
}
.logoIntel {
  width: 160px;
}
</style>
