<template>
<div>
  <body>
    <navbarLogin/>
    <div class="hidden-sm-and-down">
      <v-layout row wrap>
        <v-flex xs3>
          <v-card dark tile flat color="white" style="height: 93vh;">
            <v-card-text class="textPadTop">Welcome to Intelligist <br> Self-Service Data Science Platform</v-card-text>
            <div class="padLeftRight30" style="color: black;">
              <p class="title">LOGIN</p>
              <v-form v-model="valid" ref="form" lazy-validation>
              <v-text-field
                label="Email"
                v-model="email"
                :rules="emailRules"
                required
                @keydown.enter.prevent="login()"
              ></v-text-field>
              <v-text-field
                label="Password"
                v-model="password"
                :rules="passwordRules"
                required
                :append-icon="checkPass ? 'visibility' : 'visibility_off'"
                :append-icon-cb="() => (checkPass = !checkPass)"
                :type="checkPass ? 'password' : 'text'" counter
                @keydown.enter.prevent="login()"
                ></v-text-field>
              </v-form>
              <v-layout row wrap>
                <v-flex xs12 sm4 md4>
                  <v-btn @click="login()" :disabled="!valid" class="btnLogin blue darken-1">LOGIN</v-btn>
                </v-flex>
                <v-flex>
                  <v-btn @click="forgotPass()" color="blue darken-1" flat="flat">Forget password</v-btn>
                </v-flex>
              </v-layout>
              <br>
              <a href="#">Need help for login?</a>
              <p style="padding-top: 30px !important;">Would you like to sign up for a Intelligist Self-Service Data Science Platform free trial of 30 days
              </p>
              <v-btn @click="gosignupPage()" dark class="btnLogin lime accent-4">SIGN UP</v-btn>
            </div>
          </v-card>
        </v-flex>
        <v-flex xs9>
          <v-card dark tile flat style="height: 93vh; background-color: #F2F2F2; color: black; ">
            <div class="goCenter">
              <div class="">
                <img src="/static/logo.png" class="logoIntel" alt="">
              </div>
              <div class="vertical-line" style="height: 45px;"></div>
              <div class="">
                <p class="mgb-0 body-2">Self-Service <br> Data Science <br> Platform </p>
              </div>
              <hr>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </div>
 <!-- Mobile -->
  <div class="hidden-md-and-up">
    <v-layout row wrap>
      <v-flex xs12>
        <v-card dark tile flat style="background-color: #F2F2F2; color: black; ">
          <v-container>
            <v-card dark tile flat color="white" style="color: black; ">
          <div class="goCenter">
            <div class="">
              <img src="/static/logo.png" class="logoIntel" alt="">
            </div>
            <div class="vertical-line" style="height: 45px;"></div>
            <div class="">
              <p class="mgb-0 body-2">Self-Service <br> Data Science <br> Platform </p>
            </div>
          </div>
          <v-card-text class="textPadTop">Welcome to Intelligist <br> Self-Service Data Science Platform</v-card-text>
          <v-card color="" dark class="marLeftRight20" style="background-color: rgba(228,228,228, 0.1);">
            <p class="title textPadTop" style="padding-top: 25px;">LOGIN</p>
            <v-form v-model="valid" ref="form" lazy-validation class="padLeftRight30">
              <v-text-field
                label="Email"
                v-model="email"
                :rules="emailRules"
                required
                @keydown.enter.prevent="login()"
              ></v-text-field>
              <v-text-field
                label="Password"
                v-model="password"
                :rules="passwordRules"
                required
                :append-icon="checkPass ? 'visibility' : 'visibility_off'"
                :append-icon-cb="() => (checkPass = !checkPass)"
                :type="checkPass ? 'password' : 'text'" counter
                @keydown.enter.prevent="login()"
              ></v-text-field>
          </v-form>
          <v-layout row wrap class="text-xs-center">
            <v-flex xs6 sm6 md4>
              <v-btn small @click="forgotPass()" color="blue darken-1" flat="flat">Forget password</v-btn>
            </v-flex>
            <v-flex xs6 sm6 md4>
              <v-btn @click="login()" :disabled="!valid" class="btnLogin blue darken-1">LOGIN</v-btn>
            </v-flex>
          </v-layout>
        </v-card>
          <div class="padLeftRightTop">
            <a href="#">Need help for login?</a>
            <p style="padding-top: 10px !important;">Would you like to sign up for a Intelligist Self-Service Data Science Platform free trial of 30 days
            </p>
            <v-btn @click="gosignupPage()" dark class="btnLogin lime accent-4">SIGN UP</v-btn>
          </div>
              </v-card>
          </v-container>
        </v-card>
      </v-flex>
  </v-layout>
</div>
  </body>
</div>
</template>

<script>
  import navbarLogin from '@/components/navbarLogin'
  let CryptoJS = require('crypto-js')
  export default {
    components: {
      navbarLogin
    },
    data () {
      return {
        valid: true,
        checkPass: true,
        password: '',
        passwordRules: [
          (v) => !!v || 'Password is required'
        ],
        email: '',
        emailRules: [
          (v) => !!v || 'Email is required'
        ],
        signUp: true
      }
    },
    created () {
      this.validateEmail()
    },
    methods: {
      login () {
        this.$refs.form.validate()
        var passwordEncrypt = CryptoJS.SHA256(this.password, process.env.SECRETKEY) + ''
        localStorage.setItem('UAC', '1,2,3,4,5,7,8')
        this.axios.post(process.env.API + '/login', {'email': this.email, 'password': passwordEncrypt}).then((response) => {
          var respData = response.data
          if (respData.status === 'success') {
            localStorage.setItem('firstname', respData.data.firstname)
            localStorage.setItem('lastname', respData.data.lastname)
            localStorage.setItem('email', respData.data.email)
            localStorage.setItem('isAdmin', respData.data.isAdmin)
            this.getUserRole()
            if (respData.data.isAdmin === 'true') {
              this.$router.push('/dashboard')
            } else {
              this.$router.push('/portal')
            }
          } else if (respData.status === 'not found') {
            // this.$swal('Please try again', 'username or password wrong', 'warning')
            this.$swal({
              type: 'warning',
              title: 'Please try again',
              text: 'Your username or password wrong',
              allowEnterKey: true
            })
          } else {
            this.$swal(respData, '', 'error')
          }
        })
      },
      getUserRole () {
        this.axios.post(process.env.API + '/mgmt/getOwnRoles',
          {
            'user': {
              'email': localStorage.getItem('email'),
              'firstname': localStorage.getItem('firstname'),
              'lastname': localStorage.getItem('lastname')
            }
          }).then((response) => {
            var respData = response.data
            if (respData) {
              if (localStorage.getItem('isAdmin') === 'true' || respData.result === 'Just for user level') {
                localStorage.setItem('UAC', '*')
              } else {
                var resultData = []
                if (respData.result) {
                  resultData = respData.result.sort().join()
                }
                localStorage.setItem('UAC', resultData)
              }
            }
          })
      },
      gosignupPage () {
        this.$router.push('/signup')
      },
      setSignUpFalse () {
        this.signUp = false
      },
      setSignUpTrue () {
        this.signUp = true
      },
      forgotPass () {
        this.$router.push('/forgotpassword')
      },
      validateEmail () {
        if (localStorage.getItem('email') && localStorage.getItem('firstname') && localStorage.getItem('lastname')) {
          this.axios.post(process.env.API + '/validateEmail', {'email': localStorage.getItem('email'), 'firstname': localStorage.getItem('firstname'), 'lastname': localStorage.getItem('lastname')}).then((response) => {
            if (response.data.status === 'success') {
              this.$router.push('/portal')
            }
          })
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="css" scoped>
.application {
  padding-left: -130px !important;
}
body {
  background-color: #f2f2f2;
}
a:link	{
text-decoration:none;
}
.mgb-0 {
  margin-bottom: 0px !important;
}
.textBlack {
  color: black !important;
}
.textTitle {
  margin-top: 9%;
}
.btnLogin {
  margin-left: 0px !important;
  margin-bottom: 40px !important;
  color: white;
}
.logoIntel {
  width: 160px;
}
.goCenter {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.vertical-line{
  width: 2px;
  background-color: #007CC3;
  height: 100%;
  float: left;
  margin: 18px;
}
.textPadTop {
  color: black;
  padding-top: 30px;
  padding-left: 30px;
}
.padLeftRight30 {
  padding-left: 30px;
  padding-right: 30px;
}
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
@media only screen and (max-width: 960px) {
  div.container{
    background-color: #fafafa;
  }
  .logoIntel {
    width: 80px;
  }
  .goCenter {
    padding-top: 5%;
    height: 15%;
  }
  .textPadTop {
    padding-top: 6px;
    padding-left: 0px;
    text-align: center;
  }
  .marLeftRight20 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .padLeftRightTop {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
  }
}
</style>
