<template lang="html">
  <div class="">
    <navbarLogin/>
    <div class="hidden-sm-and-down">
      <v-layout row>
        <v-flex xs3>
          <v-card dark tile flat color="white" style="height: 93vh;">
            <v-card-text class="textPadTop title">RESET PASSWORD</v-card-text>
            <div class="padLeftRight30">
              <p class="subheading textBlack">Enter your new password</p>
              <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                label="New Password"
                v-model="newpassword"
                :rules="newpasswordRules"
                min="8"
                hint="At least 8 characters"
                :append-icon="e1 ? 'visibility' : 'visibility_off'"
                :append-icon-cb="() => (e1 = !e1)"
                :type="e1 ? 'password' : 'text'"
                required
                ></v-text-field>
                <v-text-field
                label="Re Password"
                v-model="repassword"
                :rules="repasswordRules"
                min="8"
                hint="At least 8 characters"
                :append-icon="e2 ? 'visibility' : 'visibility_off'"
                :append-icon-cb="() => (e2 = !e2)"
                :type="e2 ? 'password' : 'text'"
                required
                ></v-text-field>
              </v-form>
              <v-btn @click="" :disabled="!valid" class="btnSubmit blue darken-1" @click="beforeResetPassword()">submit</v-btn>
            </div>
          </v-card>
        </v-flex>
        <v-flex xs9>
          <v-card dark tile flat style="height: 93vh; background-color: #F2F2F2; color: black; ">
            <div class="goCenter">
              <div class="">
                <img src="/static/logo.png" class="logoIntel" alt="">
              </div>
              <div class="vertical-line" style="height: 45px;"></div>
              <div class="">
                <p class="mgb-0 body-2">Self-Service <br> Data Science <br> Platform </p>
              </div>
              <hr>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </div>

    <!-- Mobile -->
    <div class="hidden-md-and-up">
      <v-layout row wrap>
        <v-flex xs12>
          <v-card dark tile flat color="white" style="height: 93vh;">
            <v-card-text class="textPadTop title">RESET PASSWORD</v-card-text>
            <div class="padLeftRight30">
              <p class="subheading textBlack">Enter your new password</p>
              <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                label="New Password"
                v-model="newpassword"
                :rules="newpasswordRules"
                hint="At least 8 characters"
                min="8"
                :append-icon="e1 ? 'visibility' : 'visibility_off'"
                :append-icon-cb="() => (e1 = !e1)"
                :type="e1 ? 'password' : 'text'"
                required
                ></v-text-field>
                <v-text-field
                label="Re Password"
                v-model="repassword"
                :rules="repasswordRules"
                hint="At least 8 characters"
                min="8"
                :append-icon="e2 ? 'visibility' : 'visibility_off'"
                :append-icon-cb="() => (e2 = !e2)"
                :type="e2 ? 'password' : 'text'"
                required
                ></v-text-field>
              </v-form>
              <v-btn @click="" :disabled="!valid" class="btnSubmit blue darken-1" @click="beforeResetPassword()">submit</v-btn>
            </div>
          </v-card>
        </v-flex>
    </v-layout>

    </div>
  </div>

</template>

<script>
import navbarLogin from '@/components/navbarLogin'
let CryptoJS = require('crypto-js')
export default {
  components: {
    navbarLogin
  },
  data () {
    return {
      valid: true,
      e1: true,
      e2: true,
      newpassword: '',
      newpasswordRules: [
        (v) => !!v || 'Password is required',
        (v) => v.length >= 8 || 'Please enter more than 8 characters'
      ],
      repassword: '',
      repasswordRules: [
        (v) => !!v || 'Password is required',
        (v) => v === this.newpassword || 'Password does not match',
        (v) => v.length >= 8 || 'Please enter more than 8 characters'
      ]
    }
  },
  methods: {
    beforeResetPassword () {
      if (this.newpassword.trim().length === 0 || this.repassword.trim().length === 0) {
        this.$swal('Please complete all required fields', '', 'warning')
      } else if (this.newpassword !== this.repassword) {
        this.$swal('Password not match', 'Please check password field again', 'warning')
      } else {
        this.resetPassword()
      }
    },
    resetPassword () {
      var passwordEncrypt = CryptoJS.SHA256(this.newpassword, process.env.SECRETKEY) + ''
      this.axios.post(process.env.API + '/resetPassword', {'token': this.$route.params.id, 'password': passwordEncrypt}).then((response) => {
        if (response.data === 'success') {
          this.$swal('Password has been changed', '', 'success')
          this.$router.push('/')
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
.textBlack {
  color: black !important;
}
.goCenter {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.vertical-line{
  width: 2px;
  background-color: #007CC3;
  height: 100%;
  float: left;
  margin: 18px;
}
.textPadTop {
  color: black;
  padding-top: 30px;
  padding-left: 30px;
}
.padLeftRight30 {
  padding-left: 30px;
  padding-right: 30px;
}
.btnSubmit {
  color: white !important;
  margin-left: 0px !important;
  margin-bottom: 40px !important;
}
.logoIntel {
  width: 160px;
}
</style>
