<template lang="html">
  <body>
    <navbarLogin/>
    <div class="hidden-sm-and-down">
      <v-layout row>
        <v-flex xs3 v-if="signUp === true">
          <v-card dark tile flat color="white" style="height: 93vh;">
            <v-card-text class="textPadTop title">
              <v-btn flat icon color="error" @click="goBack()">
                <v-icon>arrow_back</v-icon>
              </v-btn>SIGN UP</v-card-text>
            <div class="padLeftRight30">
              <p class="subheading textBlack">Enter your email address</p>
              <p class="body-2 textBlack">You will reseive an email with the link to confirm your account</p>
            <v-form v-model="valid" ref="form" lazy-validation>
              <v-text-field
                label="Email"
                v-model="email"
                :rules="emailRules"
                required
                @keydown.enter.prevent="beforeSubmit()"
              ></v-text-field>
            </v-form>

            <v-layout>
              <v-btn @click="beforeSubmit()" :disabled="!valid" class="btnSubmit blue darken-1">submit</v-btn>
              <v-spacer v-if="resendEnable === true" ></v-spacer>
              <v-btn v-if="resendEnable === true" @click="beforeResendEmailConfirmation()" :disabled="!valid" color="blue darken-1" outline>resend</v-btn>
            </v-layout>
            <p class="subheading textBlack">Already have a user account ?</p>
            <v-btn @click="goLogin()" class="btnLogin textBlack grey lighten-2">login</v-btn>
            </div>
          </v-card>
        </v-flex>
        <v-flex xs3 v-else-if="signUp === 'waitForVerify'">
          <v-card dark tile flat color="white" style="height: 93vh;">
            <v-card-text class="textPadTop subheading">Welcome and thank you for signing up!</v-card-text>
            <div class="padLeftRight30">
              <p class="subheading textBlack">Please check your email to verify account.</p>
              <v-btn @click="goLogin()" outline color="blue darken-1" class="btnLogin" >login</v-btn>
              <p class="body-2 textBlack">If you have any questions or require assistance please <a href="#">contact us.</a></p>
            </div>
          </v-card>
        </v-flex>
        <v-flex xs9>
          <v-card dark tile flat style="height: 93vh; background-color: #F2F2F2; color: black; ">
            <div class="goCenter">
              <div class="">
                <img src="/static/logo.png" class="logoIntel" alt="">
              </div>
              <div class="vertical-line" style="height: 45px;"></div>
              <div class="">
                <p class="mgb-0 body-2">Self-Service <br> Data Science <br> Platform </p>
              </div>
              <hr>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </div>
    <!-- Mobile -->
    <div class="hidden-md-and-up">
      <v-layout row wrap>
        <v-flex xs12 v-if="signUp === true">
          <v-card dark tile flat color="white" style="height: 93vh;">
            <v-card-text class="textPadTop title"><v-btn flat icon color="error" @click="goBack()">
              <v-icon>arrow_back</v-icon>
            </v-btn>SIGN UP</v-card-text>
            <div class="padLeftRight30">
              <p class="subheading textBlack">Enter your email address</p>
              <p class="body-2 textBlack">You will reseive an email with the link to confirm your account</p>
            <v-form v-model="valid" ref="form" lazy-validation>
              <v-text-field
                label="Email"
                v-model="email"
                :rules="emailRules"
                required
              ></v-text-field>
            </v-form>
            <v-layout>
              <v-btn @click="beforeSubmit()" :disabled="!valid" class="btnSubmit blue darken-1">submit</v-btn>
              <v-spacer v-if="resendEnable === true" ></v-spacer>
              <v-btn v-if="resendEnable === true" @click="beforeResendEmailConfirmation()" :disabled="!valid" color="blue darken-1" outline>resend</v-btn>
            </v-layout>
            <p class="subheading textBlack">Already have a user account ?</p>
            <v-btn @click="goLogin()" class="btnLogin textBlack grey lighten-2">login</v-btn>
            </div>
          </v-card>
        </v-flex>
        <v-flex xs12 v-else-if="signUp === 'waitForVerify'">
          <v-card dark tile flat color="white" style="height: 93vh;">
            <v-card-text class="textPadTop subheading">Welcome and thank you for signing up!</v-card-text>
            <div class="padLeftRight30">
              <p class="subheading textBlack">Please check your email to verify account.</p>
              <v-btn @click="goLogin()" outline color="blue darken-1" class="btnLogin" >login</v-btn>
              <p class="body-2 textBlack">If you have any questions or require assistance please <a href="#">contact us.</a></p>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </div>
  </body>
</template>

<script>
import navbarLogin from '@/components/navbarLogin'
export default {
  components: {
    navbarLogin
  },
  data () {
    return {
      valid: false,
      resendEnable: false,
      email: '',
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ],
      signUp: true
    }
  },
  methods: {
    goLogin () {
      this.$router.push('/')
    },
    beforeSubmit () {
      if (this.email.trim().length === 0) {
        this.$swal('Please Insert Email', '', 'warning')
      } else {
        this.submit()
      }
    },
    submit () {
      this.resendEnable = false
      this.axios.post(process.env.API + '/firstStepRegister', {'email': this.email, 'link': process.env.LINK}).then((response) => {
        if (response.data === 'success') {
          this.signUp = 'waitForVerify'
          // this.$swal('กรุณาตรวจสอบ email ของท่าน', 'เพื่อยืนยันการสมัคร', 'success')
          // this.$router.push('/')
        } else if (response.data === 'already in use') {
          this.$swal('Email Already Use', '', 'warning')
        } else if (response.data === 'Please check in your email confirmation') {
          this.resendEnable = true
          this.$swal('Please check in your email confirmation', 'If you are not received email, please click re-send "Email Confirmation" button.', 'warning')
        } else {
          this.$swal(response.data, '', 'warning')
        }
      })
      this.$refs.form.reset()
    },
    beforeResendEmailConfirmation () {
      if (this.email.trim().length === 0) {
        this.$swal('Please Insert Email', '', 'warning')
      } else {
        this.resendEmailConfirmation()
      }
    },
    resendEmailConfirmation () {
      this.axios.post(process.env.API + '/resendEmailConfirmation',
        {
          'email': this.email,
          'link': process.env.LINK
        }).then((response) => {
          if (response.data === 'success') {
            this.$swal('Email Confirmation has been sent.', '', 'success')
          }
        })
      this.$refs.form.reset()
    },
    goBack () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="css" scoped>
html {
  height: 100%;
}
body {
  background-color: #f2f2f2;
  height: 100vh;
}
a:link	{
text-decoration:none;
}
.mgb-0 {
  margin-bottom: 0px !important;
}
.textBlack {
  color: black !important;
}
.square {
width: 340px;
height: 93vh;
background: white;
}
.textTitle {
  margin-top: 9%;
}
.btnLogin {
  margin-left: 0px !important;
  margin-bottom: 40px !important;
  color: white;
}
.btnSubmit {
  color: white !important;
  margin-left: 0px !important;
  margin-bottom: 40px !important;
}
.logoIntel {
  width: 160px;
}
.goCenter {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.vertical-line{
  width: 2px;
  background-color: #007CC3 !important;
  height: 100%;
  float: left;
  margin: 18px;
}
.textPadTop {
  color: black;
  padding-top: 30px;
  padding-left: 30px;
}
.padLeftRight30 {
  padding-left: 30px;
  padding-right: 30px;
}
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
