<template lang="html">
  <div class="bg">
    <navbarLogin/>
    <div class="hidden-sm-and-down">
    <v-layout row>
      <v-flex xs3>
        <v-card dark tile flat color="white" style="height: 93vh;">
          <v-card-text class="textPadTop title">SIGN UP</v-card-text>
          <div class="padLeftRight30">
            <p class="subheading textBlack">Welcome for sign up</p>
            <p class="subheading textBlack"> Your Email : {{email}}</p>
          <v-form v-model="valid" ref="form" lazy-validation>
              <v-text-field
                label="Firstname"
                v-model="firstname"
                :rules="firstnameRules"
                required
              ></v-text-field>
              <v-text-field
                label="Lastname"
                v-model="lastname"
                :rules="lastnameRules"
                required
              ></v-text-field>
              <v-text-field
                label="Job Title"
                v-model="job_title"
                :rules="jobTitleRules"
                required
              ></v-text-field>
              <v-text-field
              name="input-10-1"
              label="Password"
              hint="At least 8 characters"
              v-model="password"
              :rules="passwordRules"
              min="8"
              :append-icon="e1 ? 'visibility' : 'visibility_off'"
              :append-icon-cb="() => (e1 = !e1)"
              :type="e1 ? 'password' : 'text'"
              required
              counter
            ></v-text-field>
            <v-text-field
            name="input-10-1"
            label="Confirm Password"
            hint="At least 8 characters"
            v-model="confirmPassword"
            :rules="confirmPasswordRules"
            min="8"
            :append-icon="e1 ? 'visibility' : 'visibility_off'"
            :append-icon-cb="() => (e2 = !e2)"
            :type="e2 ? 'password' : 'text'"
            required
            counter
          ></v-text-field>
          </v-form>
          <v-btn @click="beforeSignup()" :disabled="!valid" class="btnSubmit blue darken-1">Submit</v-btn>
          <p class="subheading textBlack">Already have a user account ?</p>
          <v-btn @click="goLogin()" class="btnLogin textBlack grey lighten-2">login</v-btn>
          </div>
        </v-card>
      </v-flex>
      <v-flex xs9>
        <v-card dark tile flat style="height: 93vh; background-color: #F2F2F2; color: black; ">
          <div class="goCenter">
            <div class="">
              <img src="/static/logo.png" class="logoIntel" alt="">
            </div>
            <div class="vertical-line" style="height: 45px;"></div>
            <div class="">
              <p class="mgb-0 body-2">Self-Service <br> Data Science <br> Platform </p>
            </div>
            <hr>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </div>

  <!-- Mobile -->
  <div class="hidden-md-and-up">
    <v-layout row wrap>
      <v-flex xs12>
        <v-card dark tile flat color="white" style="height: 93vh;">
          <v-card-text class="textPadTop title">SIGN UP</v-card-text>
          <div class="padLeftRight30">
            <p class="subheading textBlack">Welcome for sign up</p>
            <p class="subheading textBlack"> Your Email : {{email}}</p>
          <v-form v-model="valid" ref="form" lazy-validation>
          <v-text-field
              label="Firstname"
              v-model="firstname"
              :rules="firstnameRules"
              required
            ></v-text-field>
            <v-text-field
                label="Lastname"
                v-model="lastname"
                :rules="lastnameRules"
                required
              ></v-text-field>
              <v-text-field
                label="Job Title"
                v-model="job_title"
                :rules="jobTitleRules"
                required
              ></v-text-field>
              <v-text-field
              name="input-10-1"
              label="Password"
              hint="At least 8 characters"
              v-model="password"
              :rules="passwordRules"
              min="8"
              :append-icon="e1 ? 'visibility' : 'visibility_off'"
              :append-icon-cb="() => (e1 = !e1)"
              :type="e1 ? 'password' : 'text'"
              required
              counter
            ></v-text-field>
            <v-text-field
            name="input-10-1"
            label="Confirm Password"
            hint="At least 8 characters"
            v-model="confirmPassword"
            :rules="confirmPasswordRules"
            min="8"
            :append-icon="e1 ? 'visibility' : 'visibility_off'"
            :append-icon-cb="() => (e2 = !e2)"
            :type="e2 ? 'password' : 'text'"
            required
            counter
          ></v-text-field>
          </v-form>
          <v-btn @click="beforeSignup()" :disabled="!valid" class="btnSubmit blue darken-1">Signup</v-btn>
          <p class="subheading textBlack">Already have a user account ?</p>
          <v-btn @click="goLogin()" class="btnLogin textBlack grey lighten-2">login</v-btn>
          </div>
        </v-card>
      </v-flex>
  </v-layout>

  </div>
  </div>
</template>

<script>
import navbarLogin from '@/components/navbarLogin'
let CryptoJS = require('crypto-js')
export default {
  components: {
    navbarLogin
  },
  data () {
    return {
      email: '',
      valid: true,
      e1: true,
      e2: true,
      firstname: '',
      firstnameRules: [
        (v) => !!v || 'Firstname is required'
      ],
      lastname: '',
      lastnameRules: [
        (v) => !!v || 'Lastname is required'
      ],
      job_title: '',
      jobTitleRules: [
        (v) => !!v || 'Job Title is required'
      ],
      password: '',
      passwordRules: [
        (v) => !!v || 'Password is required',
        (v) => v.length >= 8 || 'Please enter more than 8 characters'
      ],
      confirmPassword: '',
      confirmPasswordRules: [
        (v) => !!v || 'Confirm Password is required',
        (v) => v.length >= 8 || 'Please enter more than 8 characters'
      ]
    }
  },
  created () {
    this.getEmailFromToken()
  },
  methods: {
    goLogin () {
      this.$router.push('/')
    },
    beforeSignup () {
      if (this.firstname.trim().length === 0 || this.lastname.trim().length === 0 || this.job_title.trim().length === 0 || this.password.trim().length === 0 || this.confirmPassword.trim().length === 0) {
        this.$swal('Please complete all required fields', '', 'warning')
      } else if (this.password !== this.confirmPassword) {
        this.$swal('Password not match', '', 'warning')
      } else {
        this.signup()
      }
    },
    signup () {
      this.$refs.form.validate()
      var passwordEncrypt = CryptoJS.SHA256(this.password, process.env.SECRETKEY) + ''
      this.axios.post(process.env.API + '/secondStepRegister', {'email': this.email, 'password': passwordEncrypt, 'firstname': this.firstname, 'lastname': this.lastname, 'job_title': this.job_title}).then((response) => {
        if (response.data === 'success') {
          this.$swal('Registed Success', '', 'success')
          this.$router.push('/')
        } else if (response.data === 'Email not found.') {
          this.$swal('Error', response.data + ' Please contact administrator.', 'error')
          // this.$router.push('/')
        } else {
          this.$swal('Error', response.data + ' Try to login.', 'error')
          // this.$router.push('/')
        }
      })
    },
    getEmailFromToken () {
      this.axios.post(process.env.API + '/getEmailFromToken', {'token': this.$route.params.id}).then((response) => {
        if (response.data.status === 'not found') {
          this.$router.push('/')
        } else if (response.data.status === 'found') {
          this.email = response.data.email
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
html {
  height: 100%;
}
.bg {
  background-color: #f2f2f2;
  height: 100vh;
}
a:link	{
text-decoration:none;
}
.mgb-0 {
  margin-bottom: 0px !important;
}
.textBlack {
  color: black !important;
}
.square {
width: 340px;
height: 93vh;
background: white;
}
.textTitle {
  margin-top: 9%;
}
.btnLogin {
  margin-left: 0px !important;
  margin-bottom: 40px !important;
  color: white;
}
.btnSubmit {
  color: white !important;
  margin-left: 0px !important;
  margin-bottom: 40px !important;
}
.logoIntel {
  width: 160px;
}
.goCenter {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.vertical-line{
  width: 2px;
  background-color: #007CC3 !important;
  height: 100%;
  float: left;
  margin: 18px;
}
.textPadTop {
  color: black;
  padding-top: 30px;
  padding-left: 30px;
}
.padLeftRight30 {
  padding-left: 30px;
  padding-right: 30px;
}
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
